{% assign article = include.article %}

<article class="article ensure-readability">
  <header>
    <h1>{{ article.title | xml_escape }}</h1>
    <div class="meta">
      <div class="social">
        <a href="{{ article.url | absolute_url }}#disqus_thread" title="Go to the comment section" class="comments">0 Comments</a>
        —
        <ul class="sharing">
          <li>
            <a href="https://twitter.com/intent/tweet?url={{ article.url | absolute_url | cgi_escape }}&amp;via=christopheraue&amp;text={{ article.title | cgi_escape }}"
               title="Share on Twitter"
               onclick="ga('send', 'event', 'Twitter', 'Share Attempt', '{{ article.url | absolute_url }}')">
              {% include icon_twitter.html color="white" %}
            </a>
          </li><!--
       --><li>
          <a href="https://www.facebook.com/sharer/sharer.php?m2w&amp;s=100&amp;{{ 'p[url]' | cgi_escape }}={{ article.url | absolute_url | cgi_escape }}&amp;{{ 'p[title]' | cgi_escape }}={{ article.title | cgi_escape }}&amp;{{ 'p[summary]' | cgi_escape }}={{ article.summary | cgi_escape }}"
             target="_blank"
             title="Share on Facebook"
             onclick="ga('send', 'event', 'Facebook', 'Share Attempt', '{{ article.url | absolute_url }}')">
            {% include icon_facebook.html color="white" %}
          </a>
        </li>
        </ul>
      </div><!--
   --><time datetime="{{ article.date | replace: ' +', '+' }}" class="date">{{ article.date | date: "%B %d, %Y" }}</time>
    </div>
  </header>
  <section class="text white-box">{{ content }}</section>
  <div id="disqus_thread" class="white-box"></div>
  <div id="disqus_link">
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>
</article>