<div class="logo-christopher-aue">
  <div class="row christopher">
    <div class="square c">{% include square_C.svg %}</div><!--
 --><div class="square h">{% include square_H.svg %}</div><!--
 --><div class="square r">{% include square_R.svg %}</div><!--
 --><div class="square i">{% include square_I.svg %}</div><!--
 --><div class="square s">{% include square_S.svg %}</div><!--
 --><div class="square t">{% include square_T.svg %}</div><!--
 --><div class="square o">{% include square_O.svg %}</div><!--
 --><div class="square p">{% include square_P.svg %}</div><!--
 --><div class="square h">{% include square_H.svg %}</div><!--
 --><div class="square e">{% include square_E.svg %}</div><!--
 --><div class="square r">{% include square_R.svg %}</div>
  </div>
  <div class="row aue">
    <div class="square a">{% include square_A.svg %}</div><!--
 --><div class="square u">{% include square_U.svg %}</div><!--
 --><div class="square e">{% include square_E.svg %}</div>
  </div>
</div>