<div class="collateral-IndexPage">
  <section class="collateral-IndexPage-Section">
    {% block collateral-Theatre %}
  </section>
  <section class="collateral-IndexPage-Section">
    {% block collateral-Introduction %}
  </section>
  <section class="collateral-IndexPage-Section">
    {% block collateral-AnnotatedYouTubeButton %}
  </section>
  <section class="collateral-IndexPage-Section">
    {% block collateral-AnnotatedPatreonButton %}
  </section>
  <section class="collateral-IndexPage-Section">
    {% block collateral-AnnotatedTwitterButton %}
  </section>
</div>