@import "variables"

.design-IndexSection
  margin-top: 2*$gutter-width
  &:first-child
    margin-top: 0

.design-IndexSection-Title
  font-family: 'Source Code Pro', monospace
  font-size: 1.625em
  font-style: italic
  text-align: left
  margin-bottom: .75em
  @media screen and (min-width: 40em) //640px
    text-align: right
    font-size: 1.3em
    display: inline-block
    vertical-align: top
    width: 33.3333%
    padding-right: .5em
    box-sizing: border-box

.design-IndexSection-Content
  @media screen and (min-width: 40em) //640px
    display: inline-block
    vertical-align: top
    width: 66.6666%
    padding-left: .5em
    box-sizing: border-box