@import "variables"

.design-IndexSection
  margin-top: #{2*$vertical-rhythm}em
  &:first-child
    margin-top: 0

.design-IndexSection-Title
  font-family: 'Source Code Pro', monospace
  font-size: #{1*$vertical-rhythm}em
  font-weight: bold
  line-height: 1em
  padding: #{.5*($vertical-rhythm - 1)}em 0
  text-align: left
  @media screen and (min-width: 50em)
    text-align: right
    display: inline-block
    vertical-align: top
    width: 33.3333%
    box-sizing: border-box

.design-IndexSection-Content
  @media screen and (min-width: 50em)
    display: inline-block
    vertical-align: top
    width: 66.6666%
    padding-left: #{$vertical-rhythm}em
    box-sizing: border-box