---
title: Christopher Aue /collateral
---

<section id="theatre">
  <div class="marquee">
    {% include_relative _includes/marquee.svg %}
    <svg class="light-box" viewBox="0 0 620 110">
      <g transform="translate(310,2.5)">
        <text y="20">presenting</text>
        <text y="40">Life Is Strange: Before the Storm</text>
        <text y="70" class="large">Visualization of Emotions &mdash; Part 1</text>
        <text y="100"><tspan>Part 2</tspan><tspan dx="30">Mar 15</tspan></text>
      </g>
    </svg>
  </div>
  <div class="screen js-theatre-video">
    <div class="darkness"><div class="light-switch"></div></div>
    <desc id="yt-video-desc">The presented video embedded</desc>
    <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY?enablejsapi=1&origin={{ site.url }}&showinfo=0&rel=0&playsinline=1"
            allowfullscreen="allowfullscreen" aria-labelledby="yt-video-desc"></iframe>
  </div>
</section>
<div class="sections">
  <section id="youtube">
    <div class="button">
      <a href="https://www.youtube.com/channel/UCCX3-7hikDyXCowYRVRIY6A" title="Watch all videos on YouTube" target="_blank">
        {% include_relative _includes/youtube_button.svg %}
      </a>
    </div>
    <div class="annotation">
      {% include_relative _includes/youtube_button_annotation.svg %}
    </div>
  </section>
  <section id="patreon">
    <div class="help-me">
      {% include_relative _includes/help_me_make_more_videos.svg %}
    </div>
    <div class="button">
      <a href="https://www.patreon.com/collateral" title="Become a patron on Patreon" target="_blank">
        {% include_relative _includes/patreon_button.svg %}
      </a>
    </div>
    <div class="annotation">
      {% include_relative _includes/patreon_button_annotation.svg %}
    </div>
  </section>
  <section id="twitter">
    <div class="annotation">
      {% include_relative _includes/twitter_button_annotation.svg %}
    </div>
    <div class="gifs">
      {% include_relative _includes/gifs.svg %}
    </div>
    <div class="button">
      <a href="https://twitter.com/christopheraue" title="Follow on Twitter" target="_blank">
        {% include_relative _includes/twitter_button.svg %}
      </a>
    </div>
    <div class="updates">
      {% include_relative _includes/updates.svg %}
    </div>
  </section>
</div>