---
title: /collateral
---

<section id="theatre">
  <div class="marquee">
    {% include_svg collateral/marquee.svg %}
  </div>
  <div class="light-box-text">
    {% preserve_aspect_ratio 620/110 %}
      <svg viewBox="0 0 620 110">
        <g transform="translate(310,2.5)">
          <text y="20">presenting</text>
          <text y="40">Life Is Strange: Before the Storm</text>
          <text y="70" class="large">Visualization of Emotions &mdash; Part 2</text>
          <text y="100"><tspan>UPCOMING:</tspan><tspan dx="30">Annihilation — An interpretation</tspan></text>
        </g>
      </svg>
    {% endpreserve_aspect_ratio %}
  </div>
  {% container TheatreScreen %}
    <desc id="yt-video-desc">The presented video embedded</desc>
    {% preserve_aspect_ratio 16/9 %}
      <iframe src="https://www.youtube.com/embed/lun1Rd5hnIE?enablejsapi=1&origin={{ site.url }}&showinfo=0&rel=0&playsinline=1"
              allowfullscreen="allowfullscreen" aria-labelledby="yt-video-desc"></iframe>
    {% endpreserve_aspect_ratio %}
  {% endcontainer %}
</section>
<div class="sections">
  <section id="youtube">
    <div class="introduction">
      {% include_svg collateral/introduction.svg %}
    </div>
    <div class="button">
      <a href="https://www.youtube.com/channel/UCCX3-7hikDyXCowYRVRIY6A" title="Watch all videos on YouTube" target="_blank">
        {% include_svg collateral/youtube_button.svg %}
      </a>
    </div>
    {% comment %}
    <div class="annotation">
      {% include_svg collateral/youtube_button_annotation.svg %}
    </div>
    {% endcomment %}
  </section>
  <section id="patreon">
    <div class="help-me">
      {% include_svg collateral/help_me_make_more_videos.svg %}
    </div>
    <div class="button">
      <a href="https://www.patreon.com/collateral" title="Become a patron on Patreon" target="_blank">
        {% include_svg collateral/patreon_button.svg %}
      </a>
    </div>
    <div class="annotation">
      {% include_svg collateral/patreon_button_annotation.svg %}
    </div>
  </section>
  <section id="twitter">
    <div class="annotation">
      {% include_svg collateral/twitter_button_annotation.svg %}
    </div>
    <div class="gifs">
      {% include_svg collateral/gifs.svg %}
    </div>
    <div class="button">
      <a href="https://twitter.com/_____collateral" title="Follow on Twitter" target="_blank">
        {% include_svg collateral/twitter_button.svg %}
      </a>
    </div>
    <div class="updates">
      {% include_svg collateral/updates.svg %}
    </div>
  </section>
</div>