<div class="AnnotatedTwitterButton">
  <div class="AnnotatedTwitterButton-Annotation">
    {% include collateral/twitter_button_annotation.svg %}
  </div>
  <div class="AnnotatedTwitterButton-Gifs">
    {% include collateral/gifs.svg %}
  </div>
  {% container Button class="AnnotatedTwitterButton-Button" %}
    <a href="https://twitter.com/_____collateral" title="Follow on Twitter" target="_blank">
      {% include collateral/twitter_button.svg %}
    </a>
  {% endcontainer %}
  <div class="AnnotatedTwitterButton-Updates">
    {% include collateral/updates.svg %}
  </div>
</div>