<div class="collateral-AnnotatedTwitterButton">
  <div class="collateral-AnnotatedTwitterButton-Annotation">
    {% include collateral/twitter_button_annotation.svg %}
  </div>
  <div class="collateral-AnnotatedTwitterButton-Gifs">
    {% include collateral/gifs.svg %}
  </div>
  {% container collateral/Button class="collateral-AnnotatedTwitterButton-Button" %}
    <a href="https://twitter.com/_____collateral" title="Follow on Twitter" target="_blank">
      {% include collateral/twitter_button.svg %}
    </a>
  {% endcontainer %}
  <div class="collateral-AnnotatedTwitterButton-Updates">
    {% include collateral/updates.svg %}
  </div>
</div>