.AnnotatedTwitterButton
  min-width: 15em
  max-width: 21.5em
  margin: 0 auto

.AnnotatedTwitterButton-Button
  > a.hover:after
    background: rgba(255,255,255,0.15)

.AnnotatedTwitterButton-Annotation
  margin-bottom: -2.3em
  text-align: left
  stroke: white
  .aspect-ratio-preservation-area, .size
    height: 3.5em

.AnnotatedTwitterButton-Gifs
  text-align: center
  margin-left: 6em
  margin-bottom: .2em
  .aspect-ratio-preservation-area, .size
    height: 2.5em

.AnnotatedTwitterButton-Updates
  text-align: center
  margin-right: 3em
  margin-top: .2em
  .aspect-ratio-preservation-area, .size
    height: 4em