<div class="collateral-AnnotatedTwitterButton">
  <div class="collateral-AnnotatedTwitterButton-Annotation">
    {% include_partial twitter_button_annotation.svg %}
  </div>
  <div class="collateral-AnnotatedTwitterButton-Gifs">
    {% include_partial gifs.svg %}
  </div>
  {% container collateral-Button class="collateral-AnnotatedTwitterButton-Button" %}
    <a href="https://twitter.com/_____collateral" title="Follow on Twitter" target="_blank" rel="noopener">
      {% include_partial twitter_button.svg %}
    </a>
  {% endcontainer %}
  <div class="collateral-AnnotatedTwitterButton-Updates">
    {% include_partial updates.svg %}
  </div>
</div>