<div class="collateral-AnnotatedYouTubeButton">
  {% container collateral-Button class="collateral-AnnotatedYouTubeButton-Button" %}
    <a href="https://www.youtube.com/channel/UCCX3-7hikDyXCowYRVRIY6A" title="Watch all videos on YouTube" target="_blank">
      {% include_partial youtube_button.svg %}
    </a>
  {% endcontainer %}
  {% comment %}
  <div class="collateral-AnnotatedYouTubeButton-Annotation">
    {% include_partial youtube_button_annotation.svg %}
  </div>
  {% endcomment %}
</div>