/*
 *  Article
 *  =======
 *  General
 *  -------
 *  ### Headline
 *  ```
 *  <h1 class="article-headline">This Is the Headline of an Article With an Interesting Topic</h1>
 *  ```
 */
.article-headline
    font-family: 'Alfa Slab One'
    line-height: 1.1
    color: white
    text-shadow: 2px 2px 3px black

/*
 *  ### Date
 *  ```
 *  <time datetime="2014-01-02" class="article-date">January 02, 2014</time>
 *  ```
 */
.article-date
    font-family: Ubuntu
    color: white
    padding: .3em 1.0725em
    background: rgba(0,0,0,0.65)

/*
 *  ### Tags
 *  ```
 *  <a href="#" class="article-tag">tag</a>
 *  ```
 */
.article-tag
    font-family: Ubuntu
    color: #b3b3b3
    padding: .32em 1.0725em
    background: rgba(0,0,0,0.65)
    text-decoration: none
    position: relative
    display: inline-block
    &:hover
        text-decoration: underline

/*
 *  ### Comments Link
 *  ```
 *  <a href="#" class="article-comments-link">5 Comments</a>
 *  ```
 */
.article-comments-link
    font-family: Ubuntu
    font-size: 1.25em
    font-weight: 500
    color: white
    padding: .3em 1.0725em
    background: rgba(0,0,0,0.65)
    text-decoration: none
    &:hover
        text-decoration: underline

/*
 *  ### Sharing
 */
.article-sharing
    display: block
    width: 4.29em
    height: 4.29em
    background: white
    position: relative
    .icon
        display: block
        position: absolute
        top: 50%
        left: 50%
        margin-left: -15px
        width: 30px
        background: url(../images/social-media-logos.png) no-repeat

/*
 *  #### Twitter
 *  ```
 *  <a href="#" class="article-sharing twit"><span class="icon"></span></a>
 *  ```
 */
.article-sharing.twit
    .icon
        height: 24px
        margin-top: -12px
        background-position: -75px -76px
    &:hover
        background-color: #6daadc
        .icon
            background-position: -15px -76px

/*
 *  #### Facebook
 *  ```
 *  <a href="#" class="article-sharing face"><span class="icon"></span></a>
 *  ```
 */
.article-sharing.face
    .icon
        height: 30px
        margin-top: -15px
        background-position: -75px -121px
    &:hover
        background-color: #434e93
        .icon
            background-position: -15px -121px

/*
 *  #### Mail
 *  ```
 *  <a href="#" class="article-sharing mail"><span class="icon"></span></a>
 *  ```
 */
.article-sharing.mail
    .icon
        height: 21px
        margin-top: -10px
        background-position: -75px -174px
    &:hover
        background-color: #98bdba
        .icon
            background-position: -15px -174px

/*
 *  Article Box
 *  -----------
 *  ```
 *  <iframe width="800" height="480" class="kalei-neutral">
 *      <div id="content-container">
 *          <div id="content">
 *              <ol class="article-list">
 *                  <li class="item">
 *                      <div class="article-box">
 *                          <h2 class="article-headline"><a href="#">This Is the Headline Of an Article With an Interesting Topic</a></h2>
 *                          <a href="#" class="arrow"></a>
 *                          <div class="details">
 *                              <a href="#" class="arrow"></a>
 *                              <ul class="article-tag-list">
 *                                  <li class="item"><a href="#" class="article-tag">tag</a></li>
 *                                  <li class="item"><a href="#" class="article-tag">anotherTag</a></li>
 *                                  <li class="item"><a href="#" class="article-tag">aThirdTag</a></li>
 *                              </ul>
 *                              <time datetime="2014-01-02" class="article-date">January 02, 2014</time>
 *                          </div>
 *                      </div>
 *                  </li>
 *              </ol>
 *          </div>
 *      </div>
 *  </iframe>
 *  ```
 *
 *  ### Layout
 *  ```
 *  <iframe width="800" height="480" class="kalei-neutral">
 *      <div id="content-container">
 *          <div id="content">
 *              <ol class="article-list">
 *                  <li class="item">
 *                      <div class="article-box kalei-stub">
 *                          <h2 class="article-headline kalei-stub">Headline</h2>
 *                          <a href="#" class="arrow"></a>
 *                          <div class="details">
 *                              <a href="#" class="arrow"></a>
 *                              <div class="article-tag-list kalei-stub">tags</div>
 *                              <time class="article-date kalei-stub">date</time>
 *                          </div>
 *                      </div>
 *                  </li>
 *              </ol>
 *          </div>
 *      </div>
 *  </iframe>
 *  ```
 */
.article-box
    padding-right: 40px
    @media screen and (min-width: 32em) //512px
        padding: .75em

.article-list .article-box
    position: relative
    &:before
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        display: block
    .article-headline
        padding: 1.25em
        position: relative //to place it atop of .article:before
    .details
        margin-top: 20px
        position: relative
        display: none
    .article-date
        position: absolute
        right: 0
        bottom: 0
    .arrow
        position: absolute
        right: 20px
        top: 50%
        margin-top: -16px
    @media screen and (min-width: 32em) //512px
        .article-headline
            padding: 0
        .details
            display: block
        .arrow
            top: 0
            right: 0
            bottom: 0
            left: 0
            margin: 0

/*
 *  ### Background
 *  It always fills out the complete box.
 *  ```
 *  <iframe width="250" height="250" class="kalei-bg-white">
 *      <div class="article-box" style="width: 100%; height: 100%"></div>
 *  </iframe>
 *  ```
 */
.article-box
    background: url(../images/background/lanes.png) no-repeat center
    background-size: cover
    &:before
        content: ""
        background: rgba(0,0,0,.35)
    &:hover:before
        background: rgba(0,0,0,.25)

/*
 *  ### Headline
 *  ```
 *  <div class="article-box">
 *      <h2 class="article-headline"><a href="#">This Is the Headline Of an Article With an Interesting Topic</a></h2>
 *  </div>
 *  ```
 */
.article-box .article-headline
    font-size: 1em
    a
        color: white
        text-decoration: none

/*
 *  ### Arrow
 *  ```
 *  <iframe width="320" height="50" class="kalei-neutral">
 *      <div class="article-box">
 *          <a href="#" class="arrow"></a>
 *      </div>
 *  </iframe>
 *  ```
 */
.article-box .arrow
    display: block
    background: url(../images/arrows.png) -2px -39px
    height: 31px
    width: 18px
    @media screen and (min-width: 32em) //512px
        background: transparent
        height: auto
        width: auto

/*
 *  ### Tag List
 *  ```
 *  <div class="article-box">
 *      <ul class="article-tag-list">
 *          <li class="item"><a href="#" class="article-tag">tag</a></li>
 *          <li class="item"><a href="#" class="article-tag">anotherTag</a></li>
 *          <li class="item"><a href="#" class="article-tag">aThirdTag</a></li>
 *      </ul>
 *  </div>
 *  ```
 */
.article-box .article-tag-list
    font-size: .6em
    max-width: 50%
    box-sizing: border-box

/*
 *  ### Date
 *  ```
 *  <div class="article-box">
 *      <time datetime="2014-01-02" class="article-date">January 02, 2014</time>
 *  </div>
 *  ```
 */
.article-box .article-date
    font-size: .6em
    max-width: 50%
    box-sizing: border-box
    text-align: right

/*
 *  Article List
 *  ------------
 *  ```
 *  <iframe width="800" height="480" class="kalei-bg-white">
 *      <div id="content-container">
 *          <div id="content">
 *              <ol class="article-list start-background-fade">
 *                  <li class="item">
 *                      <div class="article-box kalei-stub">Article Box</div>
 *                  </li>
 *                  <li class="item">
 *                      <div class="article-box kalei-stub">Article Box</div>
 *                  </li>
 *                  <li class="item">
 *                      <div class="article-box kalei-stub">Article Box</div>
 *                  </li>
 *                  <li class="item">
 *                      <div class="article-box kalei-stub">Article Box</div>
 *                  </li>
 *              </ol>
 *          </div>
 *      </div>
 *  </iframe>
 *  ```
 */
.article-list
    @media screen and (min-width: 32em) //512px
        margin: 0 -0.625em
        .article-box
            margin: 0 .625em

.article-list > .item
    + .item
        margin-top: 1.25em
    @media screen and (min-width: 32em) //512px
        width: 50%
        float: left
        + .item
            margin-top: 0
        + .item + .item
            margin-top: 1.25em