/*
 *  Header
 *  ======
 *  The header behaves responsively and breaks at the aforementioned breakpoints.
 *
 *  ```
 *  <iframe width="800" height="360">
 *      <header id="page-header">
 *          <div class="logo-area">
 *              <a href="#" class="logo"></a>
 *          </div>
 *          <div class="menu-button"></div>
 *          <div class="menu-area">
 *              <nav><ul class="main-nav-list">
 *                  <li class="item articles"><a href="#">Articles</a></li>
 *                  <li class="item about active"><a href="#">About Me</a></li>
 *              </ul></nav>
 *              <nav class="social-links"><ul class="social-links-list">
 *                  <li class="item twit"><a href="#"></a></li>
 *                  <li class="item face"><a href="#"></a></li>
 *                  <li class="item gith"><a href="#"></a></li>
 *                  <li class="item mail"><a href="#"></a></li>
 *              </ul></nav>
 *              <div class="impress-link">
 *                  <a href="#">Impress</a>
 *              </div>
 *              <div class="close-menu-button">
 *                  <a href="#"><span class="arrow"></span>CLOSE MENU<span class="arrow"></span></a>
 *              </div>
 *          </div>
 *      </header>
 *  </iframe>
 *  ```
 *
 *  Expanded Menu On Small Viewports
 *  --------------------------------
 *  
 *  Marked up by adding the css class `.show` to the element `.menu-area`.
 *  ```
 *  <iframe width="320" height="320">
 *      <header id="page-header">
 *          <div class="logo-area">
 *              <a href="#" class="logo"></a>
 *          </div>
 *          <div class="menu-button"></div>
 *          <div class="menu-area show">
 *              <nav><ul class="main-nav-list">
 *                  <li class="item articles"><a href="#">Articles</a></li>
 *                  <li class="item about active"><a href="#">About Me</a></li>
 *              </ul></nav>
 *              <nav class="social-links"><ul class="social-links-list">
 *                  <li class="item twit"><a href="#"></a></li>
 *                  <li class="item face"><a href="#"></a></li>
 *                  <li class="item gith"><a href="#"></a></li>
 *                  <li class="item mail"><a href="#"></a></li>
 *              </ul></nav>
 *              <div class="impress-link">
 *                  <a href="#">Impress</a>
 *              </div>
 *              <div class="close-menu-button">
 *                  <a href="#"><span class="arrow"></span>CLOSE MENU<span class="arrow"></span></a>
 *              </div>
 *          </div>
 *      </header>
 *  </iframe>
 *  ```
 */

#page-header
    .menu-button
        display: block
        position: fixed
        top: 10px
        right: 10px
    .social-links-list
        float: left
    .menu-area
        display: none
        &.show
            display: block
    @media screen and (min-width: 50em) //800px
        .menu-button
            display: none
        .menu-area
            display: block
        .logo-area, .logo
            float: left
        .social-links-list
            float: right
        .impress-link
            position: absolute
            bottom: 100%
            right: 25px
        .close-menu-button
            display: none
    @media screen and (min-width: 81.25em) //1300px
        .logo-area, .logo
            float: none
        .menu-area
            height: 100%
        .impress-link
            bottom: 25px
            right: 25px

/*
 *  Logo
 *  ----
 *  ```
 *  <iframe width="800" height="360">
 *  <div class="logo-area">
 *      <a href="#" class="logo"></a>
 *  </div>
 *  </iframe>
 *  ```
 */
        
.logo-area
    height: 46px
    background: url(../images/logo-inv-065black.png)
    .logo
        display: block
        background: url(../images/logo-white.png) no-repeat
        opacity: 0.5
        height: 46px
        width: 226px
        &:hover
            opacity: 1
    @media screen and (max-width: 49.9375em) //799px
        background-position: -15px -15px
        padding: 10px
    @media screen and (min-width: 50em) and (max-width: 81.1875em) //800px and 1299px
        padding: 17px 25px
        background-position: 0 -8px
        width: 275px
    @media screen and (min-width: 81.25em) //1300px
        height: 46px
        background-position: 0 25px
        padding: 50px 25px
        width: 225px

/*
 *  Menu Button
 *  -----------
 *  *We have to force the menu-button to show up. Also we have to display it in front of a background
 *  to be visible.*
 *  ```
 *  <iframe width="480" height="100" class="kalei-black">
 *  <div class="menu-button" style="display: block"></div>
 *  </iframe>
 *  ```
 */
.menu-button
    background: url(../images/menu-icon.png) no-repeat center
    height: 46px
    width: 40px
    opacity: 0.5
    &:hover
        opacity: 1

/*
 *  Main Navigation
 *  ---------------
 *  ```
 *  <iframe width="800" height="360">
 *  <ul class="main-nav-list">
 *      <li class="item"><a href="#">Item 1</a></li>
 *      <li class="item"><a href="#">Item 2</a></li>
 *  </ul>
 *  </iframe>
 *  ```
 */
.main-nav-list
    @media screen and (min-width: 50em) and (max-width: 81.1875em) //800px and 1299px
        .item
            float: left

/*
 *  ### Item
 *  ```
 *  <iframe width="800" height="360">
 *  <ul class="main-nav-list">
 *      <li class="item"><a href="#">Item</a></li>
 *  </ul>
 *  </iframe>
 *  ```
 */
.main-nav-list .item
    a
        display: block
        font-family: Ubuntu
        font-weight: 500
        font-size: 1.125em
        color: white
        vertical-align: middle
        text-decoration: none
    @media screen and (max-width: 49.9375em) //799px
        a
            padding: 10px
            line-height: 30px
            background: #595959
    @media screen and (min-width: 50em)
        a
            padding: 0 25px
            line-height: 80px
            background: black
            opacity: 0.65
        &.active a
            opacity: 0.9
        a:hover, &.active a:hover
            opacity: 1
    @media screen and (min-width: 50em) and (max-width: 81.1875em) //800px and 1299px
        a
            display: inline-block

/*
 *  #### Item: Article
 *
 *  ##### normal
 *  ```
 *  <ul class="main-nav-list">
 *      <li class="item articles"><a href="#">Articles</a></li>
 *  </ul>
 *  ```
 *
 *  ##### .active
 *  ```
 *  <ul class="main-nav-list">
 *      <li class="item articles active"><a href="#">Articles</a></li>
 *  </ul>
 *  ```
 */
.main-nav-list .articles
    &.active a, a:hover
        background: #e79a0b

/*
 *  #### Item: About
 *
 *  ##### normal
 *  ```
 *  <ul class="main-nav-list">
 *      <li class="item about"><a href="#">About</a></li>
 *  </ul>
 *  ```
 *
 *  ##### .active
 *  ```
 *  <ul class="main-nav-list">
 *      <li class="item about active"><a href="#">About</a></li>
 *  </ul>
 *  ```
 */
.main-nav-list .about
    &.active a, a:hover
        background: #bfbfbf

/*
 *  Social Links
 *  ------------
 *  ```
 *  <iframe width="800" height="360">
 *  <div class="social-links">
 *  <ul class="social-links-list">
 *      <li class="item twit"><a href="#"></a></li>
 *      <li class="item face"><a href="#"></a></li>
 *      <li class="item gith"><a href="#"></a></li>
 *      <li class="item mail"><a href="#"></a></li>
 *  </ul>
 *  </div>
 *  </iframe>
 *  ```
 */
.social-links
    @media screen and (min-width: 50em) //800px
        background: rgba(0,0,0,0.65)
    @media screen and (min-width: 50em) and (max-width: 81.1875em) //800px and 1299px
        height: 80px
        overflow: hidden
    @media screen and (min-width: 81.25em) //1300px
        height: 100%

.social-links-list
    @media screen and (max-width: 49.9375em) //799px
        height: 32px
        padding: 9px 10px 9px 2px
        background: #3e4040
        .item
            float: left
            margin-right: 10px
    @media screen and (min-width: 50em) and (max-width: 81.1875em) //800px and 1299px
        height: 48px
        width: 48px
        padding: 16px 25px
        .item
            margin-bottom: 16px
            &:nth-child(odd)
                float: left
            &:nth-child(even)
                float: right
    @media screen and (min-width: 81.25em) //1300px
        position: absolute
        left: 0
        bottom: 0
        height: 16px
        padding: 25px
        .item
            float: left
            margin-right: 10px

/*
 *  ### Item
 *  *Given a red background to make it dimensions visible. Displays a twitter symbol because it is placed at
 *  (0, 0) in the sprite.*
 *  ```
 *  <iframe width="800" height="360">
 *  <div class="social-links">
 *  <ul class="social-links-list">
 *      <li class="item" style="background:red"><a href="#"></a></li>
 *  </ul>
 *  </div>
 *  </iframe>
 *  ```
 */
.social-links-list .item
    a
        display: block
        width: 32px
        height: 32px
        background: url(../images/social-media-logos.png) no-repeat
        opacity: 0.66
        &:hover
            opacity: 1

/*
 *  #### Item: Twitter
 *  ```
 *  <iframe width="800" height="360">
 *  <div class="social-links">
 *  <ul class="social-links-list">
 *      <li class="item twit"><a href="#"></a></li>
 *  </ul>
 *  </div>
 *  </iframe>
 *  ```
 */
.social-links-list .item.twit
    @media screen and (max-width: 49.9375em) //799px
        a
            background-position: 0 0
    @media screen and (min-width: 50em) //800px
        a
            height: 16px
            width: 20px
            background-position: -6px -8px
 
/*
 *  #### Item: Facebook
 *  ```
 *  <iframe width="800" height="360">
 *  <div class="social-links">
 *  <ul class="social-links-list">
 *      <li class="item face"><a href="#"></a></li>
 *  </ul>
 *  </div>
 *  </iframe>
 *  ```
 */
.social-links-list .item.face
    @media screen and (max-width: 49.9375em) //799px
        a
            background-position: -64px 0
    @media screen and (min-width: 50em) //800px
        a
            height: 16px
            width: 16px
            background-position: -72px -8px
/*
 *  #### Item: Github
 *  ```
 *  <iframe width="800" height="360">
 *  <div class="social-links">
 *  <ul class="social-links-list">
 *      <li class="item gith"><a href="#"></a></li>
 *  </ul>
 *  </div>
 *  </iframe>
 *  ```
 */
.social-links-list .item.gith
    @media screen and (max-width: 49.9375em) //799px
        a
            background-position: -32px 0
    @media screen and (min-width: 50em) //800px
        a
            height: 16px
            width: 16px
            background-position: -40px -8px
 
/*
 *  #### Item: Mail
 *  ```
 *  <iframe width="800" height="360">
 *  <div class="social-links">
 *  <ul class="social-links-list">
 *      <li class="item mail"><a href="#"></a></li>
 *  </ul>
 *  </div>
 *  </iframe>
 *  ```
 */
.social-links-list .item.mail
    @media screen and (max-width: 49.9375em) //799px
        a
            background-position: -96px 0
    @media screen and (min-width: 50em) //800px
        a
            height: 16px
            width: 22px
            background-position: -101px -8px

/*
 *  Impress Link
 *  ------------
 *  ```
 *  <iframe width="800" height="450" class="kalei-black">
 *  <div class="impress-link">
 *      <a href="#">Impress</a>
 *  </div>
 *  </iframe>
 *  ```
 */
.impress-link
    a
        font-family: Ubuntu
        font-size: 0.75em
        color: white
        opacity: 0.66
        text-decoration: none
        &:hover
            opacity: 1
    @media screen and (max-width: 49.9375em) //799px
        line-height: 50px
        text-align: right
        padding-right: 10px
        overflow: hidden
        background: #3e4040
    @media screen and (min-width: 50em)
        a
            vertical-align: middle
    @media screen and (min-width: 50em) //800px
        line-height: 25px
        text-align: center
        width: 48px
    @media screen and (min-width: 81.25em) //1300px
        line-height: 16px
        text-align: right

/*
 *  Close Menu Button
 *  -----------------
 *  ```
 *  <iframe width="800" height="450">
 *  <div class="close-menu-button">
 *      <a href="#"><span class="arrow"></span>CLOSE MENU<span class="arrow"></span></a>
 *  </div>
 *  </iframe>
 *  ```
 */
.close-menu-button
    display: block
    clear: both
    background: black
    a
        display: block
        text-align: center
        height: 50px
        line-height: 50px
        vertical-align: middle
        opacity: 0.5
        color: white
        font-family: Ubuntu
        font-size: 1.125em
        font-weight: 500
        text-decoration: none
        &:hover
            opacity: 1
        .arrow
            display: inline-block
            background: url(../images/arrows.png)
            height: 13px
            width: 22px
            margin: 0 20px