/*
 *  Header
 *  ======
 *  The header behaves responsively and breaks at the aforementioned breakpoints.
 *  
 *  ### Element States
 *  Logo, menu button (mobile only), social media icons, impress and close menu button (mobile only):
 *
 *  * #### *normal*
 *    white with transprency
 *    
 *  * #### :hover
 *    highlight white with full opacity
 *  
 *  Menu items:
 *  
 *  * #### *normal*
 *    grey background on mobile screen sizes, black and transparent background otherwise
 *  
 *  * #### :hover
 *    highlight with background color, white text, full opacity
 *  
 *  * #### .active
 *    highlighted with change in background color, white text, slight transparency on non-mobile screen sizes
 *
 *  Collapsed Menu On Small Viewports
 *  ---------------------------------
 *  ```
 *  <iframe width="800" height="360">
 *      <header id="page-header">
 *          <div class="logo-bar">
 *              <a href="/" class="logo"></a>
 *              <div class="toggle-menu-button"></div>
 *          </div>
 *          <div id="page-menu">
 *              <nav class="main-nav"><ul>
 *                  <li><a href="#" class="articles">Articles</a></li>
 *                  <li><a href="#" class="about active">About Me</a></li>
 *              </ul></nav>
 *              <nav class="social-nav"><ul>
 *                  <li><a class="twit" href="#"></a></li>
 *                  <li><a class="face" href="#"></a></li>
 *                  <li><a class="gith" href="#"></a></li>
 *                  <li><a class="mail" href="#"></a></li>
 *              </ul></nav>
 *              <div class="impress-link">
 *                  <a href="#">Impress</a>
 *              </div>
 *              <div class="close-menu-button">
 *                  <a href="#"><span class="arrow"></span>CLOSE MENU<span class="arrow"></span></a>
 *              </div>
 *          </div>
 *      </header>
 *  </iframe>
 *  ```
 *
 *  Expanded Menu On Small Viewports
 *  --------------------------------
 *  Marked up by adding the css class `.show` to the element `#page-menu`.
 *  ```
 *  <iframe width="320" height="320">
 *      <header id="page-header">
 *          <div class="logo-bar">
 *              <a href="/" class="logo"></a>
 *              <div class="toggle-menu-button"></div>
 *          </div>
 *          <div id="page-menu" class="show">
 *              <nav class="main-nav"><ul>
 *                  <li><a href="#" class="articles">Articles</a></li>
 *                  <li><a href="#" class="about active">About Me</a></li>
 *              </ul></nav>
 *              <nav class="social-nav"><ul>
 *                  <li><a class="twit" href="#"></a></li>
 *                  <li><a class="face" href="#"></a></li>
 *                  <li><a class="gith" href="#"></a></li>
 *                  <li><a class="mail" href="#"></a></li>
 *              </ul></nav>
 *              <div class="impress-link">
 *                  <a href="#">Impress</a>
 *              </div>
 *              <div class="close-menu-button">
 *                  <a href="#"><span class="arrow"></span>CLOSE MENU<span class="arrow"></span></a>
 *              </div>
 *          </div>
 *      </header>
 *  </iframe>
 *  ```
 */

#page-header
    a
        text-decoration: none
    .logo-bar
        height: 46px
        background: url(../images/logo-inv-065black.png)
        .logo
            display: block
            background: url(../images/logo-white.png) no-repeat
            opacity: 0.5
            height: 46px
            width: 226px
            &:hover
                opacity: 1
        .toggle-menu-button
            display: none
            background: url(../images/menu-icon.png) no-repeat center
            height: 46px
            width: 40px
            opacity: 0.5
            &:hover
                opacity: 1
    .main-nav
        ul
            padding: 0
            margin: 0
            list-style-type: none
        li
            a
                display: block
                vertical-align: middle
                font-family: Ubuntu
                font-weight: 500
                font-size: 1.125em
                color: white
            a.articles
                &.active, &:hover
                    background: #e79a0b
            a.about
                &.active, &:hover
                    background: #bfbfbf
    .social-nav ul
        padding: 0
        margin: 0
        list-style-type: none
        li a
            display: block
            background: url(../images/social-media-logos.png) no-repeat
            opacity: 0.66
            &:hover
                opacity: 1
    .impress-link a
        font-family: Ubuntu
        font-size: 0.75em
        color: white
        opacity: 0.66
        &:hover
            opacity: 1
    .close-menu-button
        display: none
        background: black
        a
            display: block
            text-align: center
            height: 50px
            line-height: 50px
            vertical-align: middle
            opacity: 0.5
            color: white
            font-family: Ubuntu
            font-size: 1.125em
            font-weight: 500
            &:hover
                opacity: 1
            span
                display: inline-block
                background: url(../images/arrows.png)
                height: 13px
                width: 22px
                margin: 0 20px
            
@media screen and (max-width: 49.9375em) //799px
    #page-header
        .logo-bar
            background-position: -15px -15px
            padding: 10px
            .logo
                float: left
            .toggle-menu-button
                display: block
                float: right
        #page-menu
            display: none
            &.show
                display: block
        .main-nav li a
            padding: 10px
            line-height: 30px
            background: #595959
        .social-nav
            height: 32px
            padding: 9px 10px 9px 2px
            background: #3e4040
            float: left
            li
                float: left
                margin-right: 10px
                a
                    width: 32px
                    height: 32px
                    &.twit
                        background-position: 0 0
                    &.face
                        background-position: -64px 0
                    &.gith
                        background-position: -32px 0
                    &.mail
                        background-position: -96px 0
        .impress-link
            line-height: 50px
            text-align: right
            padding-right: 10px
            overflow: hidden
            background: #3e4040
        .close-menu-button
            display: block
            clear: both

@media screen and (min-width: 50em)
    #page-header
        .main-nav a
            padding: 0 25px
            line-height: 80px
            background: black
            opacity: 0.65
            &.active:hover, &:hover
                opacity: 1
            &.active
                opacity: 0.9
        .social-nav
            background: rgba(0,0,0,0.65)
            a
                height: 16px
                &.twit
                    width: 20px
                    background-position: -6px -8px
                &.face
                    width: 16px
                    background-position: -72px -8px
                &.gith
                    width: 16px
                    background-position: -40px -8px
                &.mail
                    width: 22px
                    background-position: -101px -8px
        .impress-link a
            vertical-align: middle

@media screen and (min-width: 50em) and (max-width: 81.1875em) //800px and 1299px
    #page-header
        .logo-bar
            padding: 17px 25px
            background-position: 0 -8px
            width: 275px
            float: left
        .main-nav li
            float: left
            a
                display: inline-block
        .social-nav
            height: 80px
            overflow: hidden
            ul
                height: 48px
                width: 48px
                padding: 16px 25px
                float: right
                li
                    margin-bottom: 16px
                    &:nth-child(odd)
                        float: left
                    &:nth-child(even)
                        float: right
        .impress-link
            position: absolute
            bottom: 100%
            right: 25px
            line-height: 25px
            text-align: center

@media screen and (min-width: 81.25em) //1300px
    #page-header
        .logo-bar
            height: 46px
            background-position: 0 25px
            padding: 50px 25px
        #page-menu
            height: 100%
        .social-nav
            height: 100%
            ul
                position: absolute
                left: 0
                bottom: 0
                height: 16px
                padding: 25px
                li
                    float: left
                    margin-right: 10px
        .impress-link
            position: absolute
            bottom: 25px
            right: 25px
            line-height: 16px
            text-align: right