@font-face
    font-family: 'Ubuntu'
    font-weight: normal
    src: url(../fonts/Ubuntu-R.ttf)

@font-face
    font-family: 'Ubuntu'
    font-weight: normal
    font-style: italic
    src: url(../fonts/Ubuntu-RI.ttf)

@font-face
    font-family: 'Ubuntu'
    font-weight: 500
    src: url(../fonts/Ubuntu-M.ttf)

@font-face
    font-family: 'Alfa Slab One'
    font-weight: normal
    src: url(../fonts/AlfaSlabOne-Regular.ttf)

@font-face
    font-family: 'Lato'
    font-weight: 200
    src: url(../fonts/Lato-Lig.ttf)

@font-face
    font-family: 'Lato'
    font-weight: 200
    src: url(../fonts/Lato-LigIta.ttf)
    font-style: italic

@import "general"
@import "header"
@import "text_media"
@import "article"
@import "archive"