/*
 *  Text and Media
 *  ==============
 *  To achieve the text formatting described on this page, the text must appear inside an element 
 *  with the class `.text`.
 *
 *  Running Content
 *  ---------------
 *  All running elements are separted from other content above them by the height of one line.
 *  An exception are list items. They have no margin.
 *
 *  ```
 *  <iframe width="800" height="480" class="kalei-bg-white">
 *      <div id="content-container">
 *          <div id="content" class="fixie">
 *              <article class="text">
 *                  <p></p>
 *                  <blockquote class="short">
 *                      <div></div>
 *                      <footer>— Some Guy</footer>
 *                  </blockquote>
 *                  <p></p>
 *                  <ul></ul>
 *                  <p></p>
 *                  <ol></ol>
 *                  <p></p>
 *                  <blockquote>
 *                      <section></section>
 *                      <footer>— Some Guy</footer>
 *                  </blockquote>
 *                  <p></p>
 *                  <img width="900" height="600"></img>
 *              </article>
 *          </div>
 *      </div>
 *  </iframe>
 *  ```
 */
.text
    max-width: 36.2em
    &.white-bg
        padding: 1.25em
        background: white
    * + *
        margin-top: 1.5em

/*
 *  ### The Font
 *  Its size is set for the `#content-container` element.
 *  ```
 *  <div class="text fixie">
 *  <p></p>
 *  </div>
 *  ```
 *
 *  ### Emphasis
 *  ```
 *  <div class="text">
 *      <em>emphasized text</em>
 *  </div>
 *  ```
 *
 *  ```
 *  <div class="text">
 *      <strong>strong text</strong>
 *  </div>
 *  ```
 */
.text
    //inner properties
    color: black
    font: 200 1em/1.5 'Lato'
    em
        font-style: italic
    strong
        font-weight: normal

/*
 *  ### Lists
 *  Display no margin between items as default.
 */
.text ul,
.text ol
    li + li
        margin-top: 0

/*
 *  #### Unordered
 *  ```
 *  <div class="text fixie">
 *  <ul></ul>
 *  </div>
 *  ```
 */
.text ul
    list-style-type: square
    padding-left: 3em

/*
 *  #### Ordered
 *  ```
 *  <div class="text fixie">
 *  <ol></ol>
 *  </div>
 *  ```
 */
.text ol
    list-style-type: decimal
    padding-left: 3em

/*
 *  #### Added Margins Between Items
 *  Add margins inbetween items, if the list item does conain a block element as first child. Works for ul and ol alike.
 *  ```
 *  <div class="text fixie">
 *      <ul>
 *          <li><p></p></li>
 *          <li><p></p></li>
 *          <li><p></p></li>
 *      </ul>
 *  </div>
 *  ```
 */
.text ul,
.text ol
    li + li > :first-child
        margin-top: 1.5em

/*
 *  ### Quotes
 *  ```
 *  <div class="text fixie">
 *      <blockquote>
 *          <section></section>
 *          <footer>— Some Guy</footer>
 *      </blockquote>
 *  </div>
 *  ```
 */
.text
    //inner properties
    blockquote
        padding: 0.5em 1em 0.5em 2em
        font-style: italic
        background: #f8f8f8
        footer
            text-align: right
        *
            font-style: italic

/*  
 *  ### Short Quotes
 *  ```
 *  <div class="text fixie">
 *      <blockquote class="short">
 *          <div></div>
 *          <footer>— Some Guy</footer>
 *      </blockquote>
 *  </div>
 *  ```
 */
.text
    blockquote.short
        background: transparent
        padding: 0
        font-size: 1.5em
        quotes: '“' '”'
        *
            display: inline
        p, div
            &:before
                content: open-quote
        p, div
            &:after
                content: close-quote

/*
 *  ### Code
 *  ```
 *  <div class="text">
 *      <pre><code>&lt;div class="center-area"&gt;::before
 *     &lt;div class="centered"&gt;&lt;/div&gt;
 *  &lt;/div&gt;</code></pre>
 *      <p>This is an <code>inline code</code> fragment.</p>
 *  </div>
 *  ```
 */
.text
    code
        font-family: monospace
        white-space: nowrap
        border: 1px solid #ddd
        background-color: #f8f8f8
        border-radius: 3px
        max-width: 100%
        overflow: auto
        padding: .1em
    pre code
        display: block
        white-space: pre
        line-height: 1.3
        padding: .25em

/*
 *  ### Embedded Media
 *  Images, videos, canvas, tables fill the complete width of the content column. Their height is
 *  adjusted to keep their aspect ratio.
 *  ```
 *  <div class="text fixie">
 *  <img width="900" height="100"></img>
 *  </div>
 *  ```
 */
.text
    img, table, form, aside
        width: 100%
        height: auto
.text
    iframe, embed, object, video, canvas, svg
        width: 100%

/*
 *  Headings
 *  --------
 *
 *  Headings have a top margin to separate them from the preceding text. If there is no content
 *  before the heading, then there is also no margin. Headings also have a slight bottom margin.
 *  Elements following headings do not have a top-margin.
 *  
 *  ```
 *  <iframe width="800" height="480" class="kalei-bg-white">
 *      <div id="content-container">
 *          <div id="content" class="fixie">
 *              <article class="text">
 *                  <h2>No Content before this heading: No top margin. Slight bottom margin.</h2>
 *                  <p>This paragraph has no top margin!</p>
 *                  <h3>There is a paragraph before this level three heading. So, set a top margin, please.</h3>
 *                  <h2>There is a heading before this level 2 heading. So, set a top margin, please. The margin is bigger than for level three.</h2>
 *                  <img width="900" height="600"></img>
 *                  <p>The image above has no top margin</p>
 *              </article>
 *          </div>
 *      </div>
 *  </iframe>
 *  ```
 */
.text
    h2, h3, h4, h5, h6
        margin: 0
        margin-bottom: .3333em
        clear: both
        + *
            margin-top: 0 !important  //important is necessary, so this rule is not overwritten by something like * + p
    
    * + h2, * + section > h2
        margin-top: 1.6666em !important
    * + h3, * + section > h3,
    * + h4, * + section > h4,
    * + h5, * + section > h5,
    * + h6, * + section > h6
        margin-top: 2.5em !important

/*
 *  ### Levels
 *  There are two levels of sub headings in the body copy. Their size is relative to the size of the body copy.
 *  ```
 *  <div class="text fixie">
 *  <h2>Headline Level Two</h2>
 *  <h3>Headline Level Three</h3>
 *  <h4>Headline Level Four</h4>
 *  <h5>Headline Level Five</h5>
 *  <h6>Headline Level Six</h6>
 *  </div>
 *  ```
 */
.text
    h2, h3, h4, h5, h6
        font: 1em/1.2 'Alfa Slab One'
    h2
        font-size: 1.5em

/*
 *  Tables
 *  ------
 *  ```
 *  <div class="text fixie">
 *      <table>
 *          <caption>Table Caption</caption>
 *          <thead>
 *              <tr>
 *                  <th></th>
 *                  <th></th>
 *                  <th></th>
 *              </tr>
 *          </thead>
 *          <tbody>
 *              <tr>
 *                  <td></td><td></td><td></td>
 *              </tr>
 *              <tr>
 *                  <td></td><td></td><td></td>
 *              </tr>
 *              <tr>
 *                  <td></td><td></td><td></td>
 *              </tr>
 *          </tbody>
 *          <tfoot>
 *              <tr>
 *                  <td></td><td></td><td></td>
 *              </tr>
 *          </tfoot>
 *      </table>
 *  </div>
 *  ```
 */
.text table
    caption
        font: 1em/1.2 'Alfa Slab One'
        text-align: left
        margin-top: 2.5em
        margin-bottom: .3333em
    th, td
        padding: .5em
        vertical-align: top
        text-align: left
        border-top: 1px solid #ddd
    th
        font-weight: bold
    th[rowspan]
        vertical-align: middle
    thead > tr
        > th
            vertical-align: bottom
            border-bottom: 2px solid #ddd
        &:first-child
            th, td
                border-top: 0
    tbody > tr:nth-child(odd)
        th, td
            background-color: #f9f9f9
        th[rowspan]
            background: transparent

/*
 *  Floating Elements
 *  -----------------
 *  They float to the left of the article column depending on their format and have to take into
 *  account the spacing associated with headings and running content.
 *
 *  Floating elements are indicated by a div around the element with one of the following css
 *  classes:
 *
 *  ### .panorama
 *  Wide content with an aspect ratio of about 3+ (width) to 1 (height). Embedded media behaves like
 *  the default and fills the complete width on the area.
 *  ```
 *  <iframe width="800" height="480" class="kalei-bg-white">
 *      <div id="content-container">
 *          <div id="content" class="fixie">
 *              <article class="text">
 *                  <h2>Heading</h2>
 *                  <div class="panorama">
 *                      <img width="900" height="300"></img>
 *                  </div>
 *                  <p></p>
 *                  <p></p>
 *                  <div class="panorama">
 *                      <img width="900" height="300"></img>
 *                  </div>
 *                  <p></p>
 *                  <p></p>
 *              </article>
 *          </div>
 *      </div>
 *  </iframe>
 *  ```
 */
//no styles since default behaviour

/*
 *  ### .landscape
 *  Wide content with an aspect ratio of about 2 (width) to 1 (height).
 *  ```
 *  <iframe width="800" height="480" class="kalei-bg-white">
 *      <div id="content-container">
 *          <div id="content" class="fixie">
 *              <article class="text">
 *                  <h2>Heading</h2>
 *                  <div class="landscape">
 *                      <img width="600" height="300"></img>
 *                  </div>
 *                  <p></p>
 *                  <p></p>
 *                  <div class="landscape">
 *                      <img width="600" height="300"></img>
 *                  </div>
 *                  <p></p>
 *                  <p></p>
 *              </article>
 *          </div>
 *      </div>
 *  </iframe>
 *  ```
 */
@mixin floatAndMargins($selector)
    .#{$selector}
        float: left
        margin-top: .4em
        margin-right: 1em
        + p
            margin-top: 0
    * + .#{$selector}
        margin-top: 1.9em
        + p
            margin-top: 1.5em
    h2, h3, h4, h5, h6
        + .#{$selector}
            margin-top: .4em !important //overwrite the important rule set for elements following headings
            + p
                margin-top: 0
    

.text
    @media screen and (min-width: 32em) //512px
        @include floatAndMargins(landscape)

/*
 *  ### .sqaure
 *  Square content with an aspect ratio of about 1 (width) to 1 (height).
 *  ```
 *  <iframe width="800" height="480" class="kalei-bg-white">
 *      <div id="content-container">
 *          <div id="content" class="fixie">
 *              <article class="text">
 *                  <h2>Heading</h2>
 *                  <div class="square">
 *                      <img width="600" height="600"></img>
 *                  </div>
 *                  <p></p>
 *                  <p></p>
 *                  <div class="square">
 *                      <img width="600" height="600"></img>
 *                  </div>
 *                  <p></p>
 *                  <p></p>
 *              </article>
 *          </div>
 *      </div>
 *  </iframe>
 *  ```
 */
.text
    .square.height-6, .square.height-9
        @include floatAndMargins(square)
    @media screen and (min-width: 30em) //480px
        @include floatAndMargins(square)

/*
 *  ### .portrait
 *  Tall content with an aspect ratio of about 1 (width) to 2 (height).
 *  ```
 *  <iframe width="800" height="480" class="kalei-bg-white">
 *      <div id="content-container">
 *          <div id="content" class="fixie">
 *              <article class="text">
 *                  <h2>Heading</h2>
 *                  <div class="portrait">
 *                      <img width="300" height="600"></img>
 *                  </div>
 *                  <p></p>
 *                  <p></p>
 *                  <p></p>
 *                  <div class="portrait">
 *                      <img width="300" height="600"></img>
 *                  </div>
 *                  <p></p>
 *                  <p></p>
 *                  <p></p>
 *              </article>
 *          </div>
 *      </div>
 *  </iframe>
 *  ```
 *
 *  ### .pillar
 *  Tall content with an aspect ratio of about 1 (width) to 3+ (height).
 *  ```
 *  <iframe width="800" height="480" class="kalei-bg-white">
 *      <div id="content-container">
 *          <div id="content" class="fixie">
 *              <article class="text">
 *                  <h2>Heading</h2>
 *                  <div class="pillar">
 *                      <img width="300" height="900"></img>
 *                  </div>
 *                  <p></p>
 *                  <p></p>
 *                  <p></p>
 *                  <div class="pillar">
 *                      <img width="300" height="900"></img>
 *                  </div>
 *                  <p></p>
 *                  <p></p>
 *                  <p></p>
 *              </article>
 *          </div>
 *      </div>
 *  </iframe>
 *  ```
 */
.text
    @media screen and (min-width: 20em) //320px
        @include floatAndMargins(portrait)
        @include floatAndMargins(pillar)

/*
 *  ### Height of Floating Elements
 *  
 *  The bounding box of the floating element has to align with the baselines of the article text at
 *  top and bottom.
 */
@mixin setHeight($height)
    height: $height
    width: auto
    *
        width: auto
        height: 100%

.text
    .panorama, .landscape, .square, .portrait, .pillar
        *
            width: 100%
            height: auto
        &.height-6
            @include setHeight(8.245em)
        &.height-9
            @include setHeight(12.745em)

/*
 *  ### .panorama
 *  Has a height in relation to its width. It does not need to align the baselines of the text.
 *  ```
 *  <div class="text fixie">
 *  <div class="panorama">
 *      <img width="900" height="300"></img>
 *  </div>
 *  </div>
 *  ```
 */
//no styles since default behavior

/*
 *  ### .landscape
 *  Spans 6 lines of text.
 *  ```
 *  <div class="text fixie">
 *  <div class="landscape">
 *      <img width="600" height="300"></img>
 *  </div>
 *  <section></section>
 *  </div>
 *  ```
 */
.text
    .landscape
        @media screen and (min-width: 32em) //512px
            @include setHeight(8.245em)

/*
 *  ### .sqaure
 *  Spans 11 lines of text.
 *  ```
 *  <div class="text fixie">
 *  <div class="square">
 *      <img width="600" height="600"></img>
 *  </div>
 *  <section></section>
 *  </div>
 *  ```
 */
.text
    .square
        @media screen and (min-width: 30em) //480px
            @include setHeight(15.745em)

/*
 *  ### .portrait
 *  Spans 19 lines of text.
 *  ```
 *  <div class="text fixie">
 *  <div class="portrait">
 *      <img width="300" height="600"></img>
 *  </div>
 *  <section></section>
 *  <section></section>
 *  </div>
 *  ```
 */
.text
    .portrait
        @media screen and (min-width: 20em) //320px
            @include setHeight(18.745em)

/*
 *  ### .pillar
 *  Spans 25 lines of text.
 *  ```
 *  <div class="text fixie">
 *  <div class="pillar">
 *      <img width="300" height="900"></img>
 *  </div>
 *  <section></section>
 *  <section></section>
 *  </div>
 *  ```
 *  
 */
.text
    .pillar
        @media screen and (min-width: 20em) //320px
            @include setHeight(27.745em)

/*
 *  ### Floating Elements Reaching Into the Sidebar
 *  Extends the floating of the element by increasing the floating box to the left sidebar. This
 *  behaviour increases the displayed size of the floating element. It is indicated by the css class
 *  `.use-sidebar`.
 *  
 *  Panoramas, landscapes, and squares will still reach into the article area. Portraits and Pillars
 *  will fill the width of the sidebar and no more.
 */
//.use-sidebar is defined in the generic-page.sass
.text
    @media screen and (min-width: 50em) //800px
        .pillar.use-sidebar, .portrait.use-sidebar
            margin-right: 0

/*
 *  ### .panorama
 *  Behaves like the default and fills the complete width of the area. Its height is set in relation
 *  to its width.
 *  ```
 *  <iframe width="800" height="480" class="kalei-bg-white">
 *      <div id="content-container">
 *          <div id="content" class="fixie">
 *              <article class="text">
 *                  <p></p>
 *                  <div class="panorama use-sidebar">
 *                      <img width="900" height="300"></img>
 *                  </div>
 *                  <article></article>
 *              </article>
 *          </div>
 *      </div>
 *  </iframe>
 *  ```
 */
//no styles since default behaviour.
 
/*
 *  ### .landscape
 *  Spans 10 lines of text.
 *  ```
 *  <iframe width="800" height="480" class="kalei-bg-white">
 *      <div id="content-container">
 *          <div id="content" class="fixie">
 *              <article class="text">
 *                  <p></p>
 *                  <div class="landscape use-sidebar">
 *                      <img width="600" height="300"></img>
 *                  </div>
 *                  <article></article>
 *              </article>
 *          </div>
 *      </div>
 *  </iframe>
 *  ```
 */
.text
    @media screen and (min-width: 50em) //800px
        .landscape.use-sidebar
            height: 14.245em

/*
 *  ### .sqaure
 *  Spans 16 lines of text.
 *  ```
 *  <iframe width="800" height="480" class="kalei-bg-white">
 *      <div id="content-container">
 *          <div id="content" class="fixie">
 *              <article class="text">
 *                  <p></p>
 *                  <div class="square use-sidebar">
 *                      <img width="600" height="600"></img>
 *                  </div>
 *                  <article></article>
 *              </article>
 *          </div>
 *      </div>
 *  </iframe>
 *  ```
 */
.text
    @media screen and (min-width: 50em) //800px
        .square.use-sidebar
            height: 24.745em
 
/*
 *  ### .portrait
 *  Spans no defined lines of text because it is disconnected from the content.
 *  ```
 *  <iframe width="800" height="480" class="kalei-bg-white">
 *      <div id="content-container">
 *          <div id="content" class="fixie">
 *              <article class="text">
 *                  <p></p>
 *                  <div class="portrait use-sidebar">
 *                      <img width="300" height="600"></img>
 *                  </div>
 *                  <article></article>
 *                  <article></article>
 *              </article>
 *          </div>
 *      </div>
 *  </iframe>
 *  ```
 */
.text
    @media screen and (min-width: 50em) //800px
        .portrait.use-sidebar
            width: 200px
            height: auto
            *
                width: 100%
                height: auto

/*
 *  ### .pillar
 *  Spans no defined lines of text because it is disconnected from the content.
 *  ```
 *  <iframe width="800" height="480" class="kalei-bg-white">
 *      <div id="content-container">
 *          <div id="content" class="fixie">
 *              <article class="text">
 *                  <p></p>
 *                  <div class="pillar use-sidebar">
 *                      <img width="300" height="900"></img>
 *                  </div>
 *                  <article></article>
 *                  <article></article>
 *              </article>
 *          </div>
 *      </div>
 *  </iframe>
 *  ```
 */
.text
    @media screen and (min-width: 50em) //800px
        .pillar.use-sidebar
            width: 200px
            height: auto
            *
                width: 100%
                height: auto

/*  
 *  ### Short Quotes Reaching Into the Sidebar
 *  Behaves like `.panorama`. The font size increases to the double of the body copy size for
 *  viewports wide enough to display a sidebar.
 *  ```
 *  <iframe width="800" height="480" class="kalei-bg-white">
 *      <div id="content-container">
 *          <div id="content">
 *              <div class="text fixie">
 *                  <blockquote class="short use-sidebar">
 *                      <div></div>
 *                      <footer>— Some Guy</footer>
 *                  </blockquote>
 *              </div>
 *          </div>
 *      </div>
 *  </iframe>
 *  ```
 */
.text
    @media screen and (min-width: 50em) //800px
        blockquote.short.use-sidebar
            font-size: 2em