{% container base-Page %}
  {% container base-Page-Head %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work+Sans:300,500|Source+Code+Pro:300,500,900|Open+Sans+Condensed:700">
    {% block GoogleAnalytics %}
    {% block Matomo %}
  {% endcontainer %}
  {% assign class = page.category.self_and_ancestors | reverse | map: 'name' | push: page.slug | join: ' ' %}
  {% container base-Page-Body class=class %}
    {% block base-PageTransition %}
    {% unless page.hide_header %}{% block PageHeader %}{% endunless %}
    <main class="PageContent" role="main">
      {{ param.content }}
    </main>
    {% unless page.hide_footer %}{% block PageFooter %}{% endunless %}
  {% endcontainer %}
{% endcontainer %}