@import 'variables'

.design-Article
  margin: 0 -#{$vertical-rhythm}em
  max-width: 42em
  @media screen and (min-width: 50em) //800px
    margin: 0 auto

.design-Article-Header
  margin: 0 #{$vertical-rhythm}em
  position: relative

.design-Article-Title
  font-size: #{pow($vertical-rhythm, 2)}em
  line-height: 1em
  font-style: italic
  font-weight: 500
  text-align: left
  @media screen and (min-width: 22em) // 352px
    text-align: center

.design-Article-Meta
  white-space: nowrap
  font-size: .8em
  margin: .9375em 0

.design-Article-MetaLeft,
.design-Article-MetaRight
  display: block
  @media screen and (min-width: 22em) // 352px
    display: inline-block
    vertical-align: middle

.design-Article-MetaLeft
  @media screen and (min-width: 22em) // 352px
    width: 60%

.design-Article-MetaRight
  @media screen and (min-width: 22em) // 352px
    width: 40%
    text-align: right

.design-Article-CommentsLink
  opacity: .7
  vertical-align: middle
  text-decoration: none
  &.hover
    opacity: 1

.design-Article-ShareList
  display: inline-block
  vertical-align: middle

.design-Article-ShareListItem
  display: inline-block
  vertical-align: middle

.design-Article-ShareLink
  display: inline-block
  vertical-align: middle
  font-size: 1.25em
  padding: .25em
  opacity: .7
  line-height: 0
  &.hover
    opacity: 1

.design-Article-Date
  opacity: .7

.design-Article-Text
  padding: #{$vertical-rhythm}em
  background: $design-light
  color: $design-dark
  > .Text
    h2, h3, h4, h5, h6,
    table caption
      font-style: italic
    code
      background-color: rgba($design-dark, 0.1)
    .highlight
      background-color: $design-dark
      color: $design-light

.design-Article-Comments
  margin-top: #{$vertical-rhythm}em
  padding: #{$vertical-rhythm}em
  background: $design-light
  color: $design-dark