.design-Article
  .Article-Header
    font-family: 'Source Code Pro', monospace
  .Article-Text,
  .Article-Comments
    background: $design-light
    color: $design-dark
  .Text
    h2, h3, h4, h5, h6,
    table caption
      font-family: 'Source Code Pro', monospace
    code
      background-color: rgba($design-dark, 0.1)
    .highlight
      background-color: $design-dark
      color: $design-light