<div class="article-sidebar collapsed js-article-sidebar">
    <div class="drawer">
        <div class="column article-details">
            <ul class="article-detail-list">
                <li class="item">
                    <span class="article-author article-detail">by Christopher Aue</span>
                </li>
                <li class="item">
                    {% include date.html date=page.date css_class='article-date article-detail' %}
                </li>
            </ul>
        </div><div class="column article-social">
            <a href="{{ site.url | append: page.url }}#disqus_thread" class="article-comments-link article-detail">0 Comments</a>
            <ul class="article-sharing-list">
                <li class="item"><a href="https://twitter.com/intent/tweet?url={{ site.url | append: page.url | cgi_escape }}&amp;via=christopheraue&amp;text={{ page.title | cgi_escape }}" class="article-sharing twit js-tw-shares" onclick="ga('send', 'event', 'Twitter', 'Share Attempt', '{{ site.url | append: page.url }}')"><span class="icon"></span></a></li>
                <li class="item"><a href="https://www.facebook.com/sharer/sharer.php?m2w&amp;s=100&amp;{{ 'p[url]' | cgi_escape }}={{ site.url | append: page.url | cgi_escape }}&amp;{{ 'p[title]' | cgi_escape }}={{ page.title | cgi_escape }}&amp;{{ 'p[summary]' | cgi_escape }}={{ page.excerpt | cgi_escape }}&amp;{{ 'p[images][0]' | cgi_escape }}={{ site.url | append: '/assets/images/background/' | append: page.image | cgi_escape }}" target="_blank" class="article-sharing face js-fb-shares" onclick="ga('send', 'event', 'Facebook', 'Share Attempt', '{{ site.url | append: page.url }}')"><span class="icon"></span></a></li>
            </ul>
        </div>
    </div>
    <div class="drawer-handle js-article-sidebar-handle">Share it!<span class="arrow"></span></div>
</div>
