{% comment %}
Parameters:
- heading (optional) The article list will creat a html section and set the heading in an h2 tag
- categories: Category filter for the articles to include in the list. Can be 'all' to include
              articles of all categories or a space separates list of category identifiers.
- tags: Tag filter for the articles to include in the list. Can be 'all' to include articles with all
        tags or a space separates list of tags.
- limit (optional): Limit the number of articles in the list.
- title_tag: Sets the html tag wrapping the article titles.
{% endcomment %}

{% if include.heading %}
<section class="page-section articles">
    <div class="section-headline">
        <h2 class="section-heading">{{ include.heading | xml_escape }}</h2>
    </div>
{% endif %}
    <ol class="article-list {{ include.css_class }}"><!--
        {% for article in site.posts %}
         --><li class="item">
                {% include article-box.html title_tag=include.title_tag %}
            </li><!--
        {% endfor %}
 --></ol>
{% if include.heading %}
</section>
{% endif %}