<div class="article-box" style="background-image:url({{ site.url | append: '/assets/images/background/' | append: article.image }})">
    <h2 class="article-headline"><a href="#">{{ article.title }}</a></h2>
    <a href="{{ site.url }}{{ article.url }}" class="arrow"></a>
    <div class="details">
        <a href="{{ site.url }}{{ article.url }}" class="arrow"></a>
        <ul class="article-tag-list">
            {% for tag in article.tags %}
                <li class="item"><a href="#" class="article-tag">{{ tag }}</a></li>
            {% endfor %}
        </ul>
        <time datetime="{{ article.date }}" class="article-date">{{ article.date | date: "%B %d, %Y" }}</time>
    </div>
</div>