<div class="article-sidebar collapsed js-article-sidebar">
    <div class="drawer">
        <div class="column article-details">
            <time datetime="{{page.date}}" class="article-date">{{ page.date | date: "%B %d, %Y" }}</time>
            <ul class="article-tags-list">
                {% for tag in page.tags %}
                <li class="item">{% include article-tag.html tag=tag %}</li>
                {% endfor %}
            </ul>
        </div><div class="column article-social">
            <a href="#" class="article-comments-link">5 Comments</a>
            <ul class="article-sharing-list">
                <li class="item"><a href="https://twitter.com/intent/tweet?url={{ site.url | append: page.url | cgi_escape }}&via=christopheraue&text={{ page.title | cgi_escape }}" class="article-sharing twit"><span class="icon"></span></a></li>
                <li class="item"><a href="https://www.facebook.com/sharer/sharer.php?s=100&p[url]={{ site.url | append: page.url | cgi_escape }}&p[title]={{ page.title | cgi_escape }}&p[summary]={{ page.excerpt | cgi_escape }}&p[images][0]={{ site.url | append: '/assets/images/background/' | append: page.image | cgi_escape }}" target="_blank"" class="article-sharing face"><span class="icon"></span></a></li>
            </ul>
        </div>
    </div>
    <div class="drawer-handle js-article-sidebar-handle">Details<span class="arrow"></span></div>
</div>