{% if article.image %}
    {% assign background = article.image %}
{% else %}
    {% assign background = site.default_background %}
{% endif %}

<div class="article-box" style="background-image:url({{ site.url | append: '/images/background/' | append: background}})">
    <{{ include.title_tag }} class="article-headline"><a href="#">{{ article.title | xml_escape }}</a></{{ include.title_tag }}>
    <a href="{{ site.url }}{{ article.url }}" class="arrow"></a>
    <div class="details">
        <a href="{{ site.url }}{{ article.url }}" class="arrow"></a>
        <ul class="article-tag-list">
            {% for tag in article.tags %}
                <li class="item">{% include article-tag.html tag=tag %}</li>
            {% endfor %}
        </ul>
        {% include date.html date=article.date css_class='article-date' %}
    </div>
</div>