<div class="capp-box">
  <div class="text-wrap">
    <h3>capp - Save Your Work Environment</h3>
    <p><a href="http://getcapp.com">getcapp.com</a></p>
    <p>Save <strong>launched applications</strong>, <strong>positions of windows</strong> and <strong>loaded files</strong> and restore them at once when needed again. For Linux and Mac.</p>
    <p>Sounds like something you need to have? Tell me your email so I can keep you updated:</p>
    {% include capp-signup-form.html %}
    <div class="image-credits">Image Credit: <a href="https://www.flickr.com/photos/tbisaacs/2744187127" title="Flickr Source">Travis Isaacs</a></div>
  </div>
</div>
