<div id="content-container">
    <div id="content">
        {% if isArticlePage %}
            <article id="main-article">
                <h1 class="article-headline">{{ page.title | xml_escape }}</h1>
                <div class="text start-background-fade js-article-content">
                    {{ content }}
                </div>
                {% include article-sidebar.html %}
            </article>
            <div id="disqus_thread"></div>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        {% else %}
            {{ content }}
        {% endif %}
        {% assign image = 'background/' | append: background %}
    </div>
    {% include image-credit.html image=image %}
</div>
<a href="#" class="close-button back-to-top-button js-back-to-top-button"><span class="arrow"></span>BACK TO TOP<span class="arrow"></span></a>