<div id="content-container">
    <div id="content">
        {% if isArticlePage %}
            <article id="main-article">
                <h1 class="article-headline">{{ page.title }}</h1>
                <div class="text start-background-fade js-article-content">
                    {{ content }}
                </div>
                {% include article-sidebar.html %}
            </article>
        {% else %}
            {{ content }}
        {% endif %}
        {% assign image = 'background/' | append: page.image %}
        {% include image-credit.html image=image %}
    </div>
</div>