<p>I design software and interfaces with the human in mind: Functional, fast,
  easy to reason about and good-looking. As a solo entrepreneur I also deal with
  a lot of graphic design, marketing and business strategy around innovation.</p>
<p>To cool down in the evening, I like to watch and think about stories told with
  sound and moving pictures—you know, theses things called films and games. I
  sleep long, work out in the morning and don't have free time. It's boring
  anyway.</p>
<ul>
  <li><a href="mailto:hi@christopheraue.net" title="Write me something!" target="_blank">
    <svg class="social-icon white">
      <use xlink:href="/assets/images/social_icons.svgz#mail-icon"></use>
    </svg>
  </a></li><!--
--><li><a href="https://twitter.com/christopheraue" title="My Twitter feed" target="_blank">
    <svg class="social-icon white">
      <use xlink:href="/assets/images/social_icons.svgz#twitter-icon"></use>
    </svg>
  </a></li><!--
--><li><a href="https://github.com/christopheraue" title="My Github profile" target="_blank">
    <svg class="social-icon white">
      <use xlink:href="/assets/images/social_icons.svgz#github-icon"></use>
    </svg>
  </a></li><!--
--><li><a href="https://www.youtube.com/channel/UCCX3-7hikDyXCowYRVRIY6A" title="All Collateral videos" target="_blank">
    <svg class="social-icon white">
      <use xlink:href="/assets/images/social_icons.svgz#youtube-icon"></use>
    </svg>
  </a></li><!--
--><li><a href="https://www.patreon.com/collateral" title="Keep Collateral alive!" target="_blank">
    <svg class="social-icon white">
      <use xlink:href="/assets/images/social_icons.svgz#patreon-icon"></use>
    </svg>
  </a></li>
</ul>
<address>Christopher Aue · Weseler Str. 30 · 48151 Münster · Germany</address>
<p class="copyright">© 2018 Christopher Aue</p>