<p>I design software for humans—for developers and users.</p>
<ul>
  <li><a href="mailto:hi@christopheraue.net" title="Write me letter!">
    <svg class="social-icon white">
      <use xlink:href="/assets/images/social_icons.svgz#mail-icon"></use>
    </svg>
  </a></li><!--
     --><li><a href="https://twitter.com/christopheraue" title="My Twitter profile">
  <svg class="social-icon white">
    <use xlink:href="/assets/images/social_icons.svgz#twitter-icon"></use>
  </svg>
</a></li><!--
     --><li><a href="https://github.com/christopheraue" title="My Github profile">
  <svg class="social-icon white">
    <use xlink:href="/assets/images/social_icons.svgz#github-icon"></use>
  </svg>
</a></li><!--
     --><li><a href="https://www.youtube.com/channel/UCCX3-7hikDyXCowYRVRIY6A" title="All Collateral videos">
  <svg class="social-icon white">
    <use xlink:href="/assets/images/social_icons.svgz#youtube-icon"></use>
  </svg>
</a></li><!--
     --><li><a href="https://www.patreon.com/collateral" title="Keep Collateral alive!">
  <svg class="social-icon white">
    <use xlink:href="/assets/images/social_icons.svgz#patreon-icon"></use>
  </svg>
</a></li>
</ul>
<address>Christopher Aue · Weseler Str. 30 · 48151 Münster · Germany</address>
<p class="copyright">© 2018 Christopher Aue</p>