<div class="logo-nav">
  <a href="/" class="logo" title="Go to start page">
    {% include logo_christopheraue.html %}
  </a><!--
--><nav class="js-activate-on-mouseover js-activate-on-touchdownup">
    <ul>
      <li>
        {% assign slashed_category = '/' | append: page.category | append: '/' %}
        {% if page.url == slashed_category %}
          <h1 class="nav-item {{ page.category }}" title="You are on /{{ page.category }}">
        {% else %}
          <a href="/{{ page.category }}" class="nav-item {{ page.category }}" title="Go to /{{ page.category }}">
        {% endif %}
            {% capture svg %}{% include slash_{{ page.category }}.html %}{% endcapture %}
            {{ svg | strip }}<!--
         --><div class="arrow"></div>
        {% if page.url == slashed_category %}
          </h1>
        {% else %}
          </a>
        {% endif %}
      </li>
      {% for category in site.category_list %}
      {% if category != page.category %}
      <li>
        <a href="/{{ category }}" class="nav-item {{ category }}" title="Go to /{{ category }}">
          {% include slash_{{ category }}.html %}
        </a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
    <svg class="shadow"></svg>
  </nav>
</div>