<header id="page-header" class="js-header">
    <div class="logo-area">
        <a href="{{ site.url }}" class="logo"></a>
    </div>
    <a href="#" class="menu-button js-menu-button"></a>
    <div class="menu-area js-menu-area">
        <nav><ul class="mainnav-link-list">
            <li class="item"><a href="{{ site.url }}/articles/" class="mainnav-link articles">Articles</a></li>
            <li class="item"><a href="{{ site.url }}/about/" class="mainnav-link about">About Me</a></li>
        </ul></nav>
        <nav class="social-links"><ul class="social-link-list">
            <li class="item"><a href="https://twitter.com/intent/user?screen_name=christopheraue" target="_blank" title="Follow my tweets!" class="social-link twit"></a></li>
            <li class="item"><a href="https://github.com/christopheraue" target="_blank" title="Follow my projects on github!" class="social-link gith"></a></li>
            <li class="item"><a href="mailto:hi@christopheraue.net" target="_blank" title="Say hello via email!" class="social-link mail"></a></li>
        </ul></nav>
        <a href="{{ site.url | append: '/impress' }}" class="impress-link">Impress</a>
        <a href="#" class="close-button js-close-menu-button"><span class="arrow"></span>CLOSE MENU<span class="arrow"></span></a>
    </div>
</header>