<style>
  @keyframes fade-out {
    from { opacity: 1 }
    to { opacity: 0 }
  }

  @keyframes fade-in {
    from { opacity: 0 }
    to { opacity: 1 }
  }

  body > header {
    position: relative;
    z-index: 999995
  }

  #transition-fader {
    position: fixed;
    z-index: 999994; /* below the header */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
  }

  body.transition-in #transition-fader {
    opacity: 0;
    animation-name: fade-out;
  }

  body.transition-out #transition-fader {
    opacity: 1;
    animation-name: fade-in;
  }

  body.header-fade-transition #transition-fader {
    z-index: 999996; /* above the header */
  }

  /*
   * ATTENTION! The following styles are tightly linked to the design of
   *            the corresponding categories!
   */
  body.design-transition #transition-fader {
    background: #3f668c;
  }

  body.collateral-transition #transition-fader {
    background: #8c3f3f;
  }

  body.home-transition #transition-fader {
    background: linear-gradient(to bottom, #3f668c 50%, #8c3f3f 50%);
  }

  @media screen and (min-aspect-ratio: 1/1) {
    body.home-transition #transition-fader {
      background: linear-gradient(to right, #3f668c 50%, #8c3f3f 50%);
    }
  }

  body > header nav.transition ul {
    transition: transform 300ms ease-in-out;
    transform: translateY(-2.25em)
  }

  @media screen and (min-width: 50em) { /* 800px */
    /*
     *  Avoid pixel jump on page transition for chrome and safari by
     *  making sure the translation is a whole number in pixels:
     *  16px (base font-size)
     *  * 1.25 (body font-size scaling)
     *  * 1.5 (header font-size scaling)
     *  * 2.26667 (navigation font-size scaling)
     *  = 68px
     */
    body > header nav {
      height: 2.26667em;
    }

    body > header nav .nav-item .scaling-svg {
      height: 1.26667em;
    }

    body > header nav.transition ul {
      transform: translateY(-2.26667em);
    }
  }
</style>

{% comment %}
  IE considers pointer-events only on SVG elements
{% endcomment %}
<svg id="transition-fader"></svg>

<script>
  // Javascript is inlined because it needs to start working immediately
  !function() {
      // Disable page transitions for browsers not supporting CSS animations
      if (!window.AnimationEvent) { return; }

      var transitionFrom = function(category, fadeHeader) {
          // classList API might not be yet available
          document.body.setAttribute('class', document.body.getAttribute('class') + ' ' +
              category + '-transition transition-in' + (fadeHeader ? ' header-fade-transition' : ''));
      };

      var transitionTo = function(category, fadeHeader) {
          removeTransition();
          if (category === 'home') {
              document.body.hideScrollbar();
          }
          document.body.classList.add(category + '-transition', 'transition-out');
          if (fadeHeader) {
              document.body.classList.add('header-fade-transition');
          }
      };

      var removeTransition = function() {
          document.body.showScrollbar();
          document.body.className.split(' ').forEach(function(cls){
              if (cls.indexOf('transition') === -1) { return }
              document.body.classList.remove(cls);
          });
      };


      // Transition when navigated from an internal page
      var category = window.sessionStorage.getItem('pageTransitionCategory'),
          fadeHeader = eval(window.sessionStorage.getItem('pageTransitionFadeHeader'));
      window.sessionStorage.removeItem('pageTransitionCategory');
      window.sessionStorage.removeItem('pageTransitionFadeHeader');
      if (category) {
          transitionFrom(category, fadeHeader);
      }

      // The faded in page transition on unload might be persisted/cached
      // and interferes when navigating the browser history. (e.g. in Safari)
      window.addEventListener('pageshow', function(e) {
          if (!e.persisted) { return }
          removeTransition();
      }, false);


      // Transition when navigating to an internal page
      document.addEventListener('APIsAvailable', function() {
          // Hook into all links to control the start of the transition
          document.getElementsByTagName('a').forEach(function(anchor) {
              var targetCategory = anchor.extractCategory(),
                  currentCategory, header, fadeHeader;

              if (!targetCategory) { return } // user clicked a link to another website

              currentCategory = window.location.extractCategory();
              header = document.querySelector('body > header');

              anchor.addEventListener('click', function() {
                  if (currentCategory === 'home') {
                      fadeHeader = true;
                  } else if (header.inView() && targetCategory !== 'home') {
                      document.body.smoothScrollIntoView('top', '300ms ease-in-out');
                      fadeHeader = false;
                  } else {
                      fadeHeader = true;
                  }

                  transitionTo(targetCategory, fadeHeader);
                  window.sessionStorage.setItem('pageTransitionCategory', targetCategory);
                  window.sessionStorage.setItem('pageTransitionFadeHeader', fadeHeader.toString());
              }, false);
              anchor.delayLocationChangeUntil(document.getElementById('transition-fader'), 'animationend');
          });


          // Slide the header navigation to the category that is transitioned to
          var topnav = document.querySelector('body > header nav');
          if (topnav) {
              topnav.getElementsByTagName('a').forEach(function(anchor) {
                  anchor.addEventListener('click', function() {
                      topnav.activatedState.disable();
                      if (anchor.extractCategory() !== window.location.extractCategory()) {
                          topnav.classList.add('transition');
                      }
                  }, false);
              });

              window.addEventListener('pageshow', function(e) {
                  if (!e.persisted) { return }
                  topnav.activatedState.enable();
                  topnav.classList.remove('transition');
              }, false);
          }
      }, false);

      //reduce white flicker during page transition in IE
      window.addEventListener('beforeunload', function(){});
  }();
</script>