<header class="PageHeader">
  <div class="PageHeader-InnerBounds">
    <a href="/" class="PageHeader-Logo" title="Go to start page">
      {% component LogoChristopherAue %}
    </a><!--
 --><nav class="PageHeader-Nav">
      <ul class="PageHeader-NavList">
        {% for category in site.category_list %}
          {% if category == page.category %}
            <li class="PageHeader-NavItem current {{ category }}">
              {% assign slashed_category = '/' | append: category | append: '/' %}
              {% if page.url == slashed_category %}
                <h1 class="PageHeader-NavItemContent" title="You are on /{{ category }}">
                  <div class="PageHeader-NavSlashText">
                    {% component Slash{{ category | capitalize }} %}
                  </div><!--
               --><div class="PageHeader-NavArrow"></div>
                </h1>
              {% else %}
                <a href="/{{ category }}" class="PageHeader-NavItemContent" title="Go to /{{ category }}">
                  <div class="PageHeader-NavSlashText">
                    {% component Slash{{ category | capitalize }} %}
                  </div><!--
               --><div class="PageHeader-NavArrow"></div>
                </a>
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
        {% for category in site.category_list %}
          {% if category != page.category %}
            <li class="PageHeader-NavItem {{ category }}">
              <a href="/{{ category }}" class="PageHeader-NavItemContent" title="Go to /{{ category }}">
                <div class="PageHeader-NavSlashText">
                  {% component Slash{{ category | capitalize }} %}
                </div><!--
             --><div class="PageHeader-NavArrow"></div>
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <svg class="PageHeader-NavShadow"></svg>
    </nav>
  </div>
</header>

<script>
    // requirejs delays loading our synchronous javascript (the _sync.js file)
    // until the next event loop tick. To prevent the site from flickering
    // before the transition is started, the initial state of the page
    // transition must be set up immediately.
    !function() {
        var transitionJSON = window.sessionStorage.getItem('pageTransition');
        if (transitionJSON) {
            var transition = JSON.parse(transitionJSON),
                header = document.querySelector('.PageHeader');

            if (transition.transitionHeader) {
                header.style.opacity = 0;
            }
        }
    }();
</script>