.PageHeader
  text-align: center
  height: 2.5em
  font-size: 1.25em
  position: relative
  z-index: 9999999 // above everything else
  @media screen and (min-width: 32em) //512px
    font-size: 1em

.PageHeader-InnerBounds
  position: relative
  display: inline-block

.PageHeader-Logo
  display: inline-block
  vertical-align: top
  opacity: 0.85
  font-size: 1.25em
  .LogoChristopherAue
    fill: white
  &.hover
    opacity: 1