.PageHeader
  text-align: center
  font-size: 1.3em
  height: 2em
  position: relative
  z-index: 9999999

.PageHeader-InnerBounds
  position: relative
  display: inline-block

.PageHeader-Logo
  display: inline-block
  vertical-align: top
  opacity: 0.85
  .LogoChristopherAue
    fill: white
  &.hover
    opacity: 1

.PageHeader-CategoryDropdown
  position: absolute
  top: 1.05em
  right: 0
  text-align: right
  .CategoryDropdown
    font-size: .95em
  @media screen and (min-width: 50em) //800px
    display: inline-block
    vertical-align: top
    position: relative
    top: -.25em
    right: auto
    text-align: left
    height: 0 // does not contribute to the height of the header
    .CategoryDropdown
      font-size: 1.5em

.PageHeader-CategoryDropdown
  $transition_time: 300ms
  $item_height: 1em
  $shadow_spread: 5px
  line-height: 0

  .CategoryDropdown
    margin-top: -$item_height/2
    @media screen and (min-width: 50em) //800px
      margin-left: -$item_height
    transform: scale(1)
    transform-origin: top right
    transition: transform $transition_time ease-in-out

  .CategoryDropdown-ListWindow
    margin: -$shadow_spread
    max-height: 1em + $item_height
    transition: max-height 0s ease-in-out $transition_time

  .CategoryDropdown-List
    margin: $shadow_spread
    border-radius: .1em
    overflow: hidden
    transition-property: box-shadow, transform
    transition-duration: $transition_time
    transition-timing-function: ease-in-out

  .CategoryDropdown-ListOverlay
    box-shadow: inset -.2em -.2em .5em rgba(0,0,0,0.04), inset .2em .2em .5em rgba(255,255,255,0.04)
    opacity: 0
    transition: opacity $transition_time ease-in-out

  .CategoryDropdown-Item
    padding: $item_height/2 0 $item_height/2 $item_height
    transition: opacity $transition_time ease-in-out, background $transition_time ease-in-out
    &.selected
      .PageHeader-CategoryDropdown-ItemArrow
        opacity: 1

  .PageHeader-CategoryDropdown-ItemContent,
  .PageHeader-CategoryDropdown-ItemArrow
    display: inline-block
    vertical-align: middle

  .PageHeader-CategoryDropdown-ItemContent
    fill: white
    stroke: white
    .PreserveAspectRatio-Reference
      height: 1em
      vertical-align: top

  .PageHeader-CategoryDropdown-ItemArrow
    position: relative
    width: $item_height
    height: $item_height
    opacity: 0
    transition: opacity $transition_time ease-in-out
    text-align: center
    margin-left: .1em // gutter width between tiles
    &:after
      content: ''
      display: inline-block
      vertical-align: middle
      height: 100%
      width: 0
    &:before
      content: ''
      display: inline-block
      vertical-align: middle
      width: 0
      height: 0
      border: .3em solid transparent
      border-top-color: white
      transform: translateY(25%) rotate(0deg)
      transform-origin: 50% 15%
      transition: transform $transition_time ease-in-out

  .CategoryDropdown-ListFocus
    height: 1em + $item_height
    transition-property: opacity, transform
    transition-duration: $transition_time, 100ms
    transition-timing-function: ease-in-out
    box-sizing: border-box
    background: rgba(255,255,255,.1)

  .CategoryDropdown.open
    transform: scale(1.5)
    @media screen and (min-width: 32em) //512px
      transform: scale(1.25)
    @media screen and (min-width: 50em) //800px
      transform: scale(1)

    .CategoryDropdown-ListWindow
      transition-duration: $transition_time
      transition-delay: 0s

    .CategoryDropdown-List
      box-shadow: 0 0 $shadow_spread rgba(0,0,0,0.5), 1px 1px $shadow_spread/2 rgba(0,0,0,0.5)

    .CategoryDropdown-ListOverlay
      opacity: 1

    .PageHeader-CategoryDropdown-ItemArrow
      opacity: 0
      &:before
        transform: translateY(25%) rotate(90deg)