{% assign slashed_category = '/' | append: page.category | append: '/' %}
{% if page.url == slashed_category %}
  {% assign selected_tag = 'h1' %}
{% else %}
  {% assign selected_tag = 'a' %}
{% endif %}

{% capture focus_indicator %}
{% include_partial nav_focus_indicator.html %}
{% endcapture %}

{% assign categories = param.categories | default: site.root_category.children %}
{% assign selected = param.selected_category | default: page.category %}

<header class="PageHeader">
  <div class="PageHeader-InnerBounds">
    <a href="/" class="PageHeader-Logo" title="Go to start page">
      {% block root-Logo %}
    </a>
    <nav class="PageHeader-CategoryDropdown">
      {% list nav-CategoryDropdown
            items=categories
            selected_item_first=true
            selected=selected
            selected_tag=selected_tag
            focus_indicator=focus_indicator %}
        <div class="PageHeader-CategoryDropdown-ItemContent">
          {% block root-Slash{{ param.item.name | capitalize }} %}
        </div><div class="PageHeader-CategoryDropdown-ItemArrow"></div>
      {% endlist %}
    </nav>
  </div>
</header>

<script>
    // requirejs delays loading our synchronous javascript (the _sync.js file)
    // until the next event loop tick. To prevent the site from flickering
    // before the transition is started, the initial state of the page
    // transition must be set up immediately.
    !function() {
        var transitionJSON = window.sessionStorage.getItem('pageTransition');
        if (transitionJSON) {
            var transition = JSON.parse(transitionJSON),
                header = document.querySelector('.PageHeader');

            if (transition.transitionHeader) {
                header.style.opacity = 0;
            }
        }
    }();
</script>