{% assign osc700_woff2 = component.assets | where: 'id', 'open-sans-condensed-v12-latin-700.woff2' | first %}
{% assign osc700_woff = component.assets | where: 'id', 'open-sans-condensed-v12-latin-700.woff' | first %}

@font-face
  font-family: 'Open Sans Condensed'
  font-style: normal
  font-weight: 700
  src: local('Open Sans Condensed Bold'), local('OpenSansCondensed-Bold'), url('{{ osc700_woff2.url }}') format('woff2'), url('{{ osc700_woff.url }}') format('woff')
  font-display: swap

.collateral-Theatre
  margin-bottom: 7em
  position: relative

.collateral-Theatre-Marquee
  margin-bottom: 30%
  overflow: hidden
  .base-PreserveAspectRatio-Reference
    width: 100%

.collateral-Theatre-LightBox
  position: absolute
  top: 31.4%
  left: 10.25%
  right: 10.25%
  height: 19.1%
  .base-PreserveAspectRatio-Reference
    width: 100%

.collateral-Theatre-LightBoxText
  font-family: "Open Sans Condensed"
  font-weight: bold
  font-size: 22px
  fill: black
  stroke: none
  text-anchor: middle
  text-transform: uppercase
  &.large
    font-size: 36px

.collateral-Theatre-Screen
  $screen-width: 66.6666%

  position: absolute
  width: $screen-width
  top: 95%
  left: 50%
  margin-left: -$screen-width/2
  margin-top: -.5625 * $screen-width/2
  z-index: 9999

  $transition_duration: 1s
  $transition_easing: ease-in-out

  .base-TheatreScreen-Background
    background: black
    opacity: 0
    transition-property: opacity, bottom
    transition-duration: $transition_duration, 0s
    transition-delay: 0s, $transition_duration
    transition-timing-function: $transition_easing

  .base-TheatreScreen-Switch
    color: white
    opacity: .5
    transition: opacity $transition_duration $transition_easing
    &.hover, &:hover
      opacity: 1

  .base-TheatreScreen-Content
    box-sizing: border-box
    border: .4em solid black
    border-radius: .3em
    background: black
    box-shadow: 0 0 4em black
    transition: transform $transition_duration $transition_easing, box-shadow $transition_duration $transition_easing

  .base-TheatreScreen.focused
    .base-TheatreScreen-Background
      opacity: 0.9
      transition-delay: 0s
    .base-TheatreScreen-Content
      box-shadow: 0 0 0 black