---
layout: default
title: About Me - christopheraue.net
image: canvas.jpg
---
<section class="page-section use-sidebar">
    <h1 class="page-headline page-heading">About Me</h1>
    <div class="text">
        <p>Some background information about me comes here...</p>
    </div>
</section>
{% if site.categories.about %}
<section class="page-section">
    <h1 class="section-headline section-heading">Some Stuff</h1>
    <ol class="article-list start-background-fade">
        {% for article in site.categories.about %}
        <li class="item">
            {% include article-box.html %}
        </li>
        {% endfor %}
    </ol>
</section>
{% endif %}