---
layout: default
title: About Me - christopheraue.net
image: canvas.jpg
---
<section class="page-section use-sidebar">
    <h1 class="page-headline page-heading">About Me</h1>
    <div class="text">
        <p>Some background information about me comes here...</p>
    </div>
</section>
{% if site.categories.about %}
<section class="page-section">
    <h1 class="section-headline section-heading">Some Stuff</h1>
    {% include article-list.html categories='about' tags='all' css_class='start-background-fade' %}
</section>
{% endif %}