@import "variables"

.PageTransition-Fader
  position: fixed
  z-index: 9999999 // above everything else
  top: 0
  left: 0
  width: 100%
  height: 100%
  pointer-events: none

/*
 * ATTENTION! The following styles are tightly linked to the design of
 *            the corresponding categories!
 */
.PageTransition-Fader.design-transition
  background: $design-dark

.PageTransition-Fader.collateral-transition
  background: $collateral-dark

.PageTransition-Fader.home-transition
  background: linear-gradient(to bottom, $design-dark 50%, $collateral-dark 50%)
  @media screen and (min-aspect-ratio: 1/1)
    background: linear-gradient(to right, $design-dark 50%, $collateral-dark 50%)