---
title: /design
has_feed: true
---

{% container design-IndexSection title="Software" %}
  <nav class="design-ArticleNav ensure-readability">
    <ul class="design-ArticleNav-List">
      <li class="design-ArticleNav-Item">
        <a href="https://github.com/christopheraue/m-ruby-concurrently" title="Visit github repository" target="_blank">
          <h3 class="design-ArticleNav-ItemTitle">concurrently — A concurrency framework for Ruby and mruby</h3>
          <p class="design-ArticleNav-ItemSummary">At its core runs an event loop that schedules ruby fibers. It enables event driven
            software design, especially evented IO. It's fast, light-weight and well documented.<br>
            The library is hosted on {% block Icon type="github" color="white" %} github.</p>
        </a>
      </li>
    </ul>
  </nav>
{% endcontainer %}

{% container design-IndexSection title="Web Interfaces" %}
  {% block design-ArticleNav articles=site.posts %}
{% endcontainer %}
