<div class="AnnotatedPatreonButton">
  <div class="AnnotatedPatreonButton-HelpMe">
    {% include collateral/help_me_make_more_videos.svg %}
  </div>
  {% container collateral/Button class="AnnotatedPatreonButton-Button" %}
    <a href="https://www.patreon.com/collateral" title="Become a patron on Patreon" target="_blank">
      {% include collateral/patreon_button.svg %}
    </a>
  {% endcontainer %}
  <div class="AnnotatedPatreonButton-Annotation">
    {% include collateral/patreon_button_annotation.svg %}
  </div>
</div>