<div class="collateral-AnnotatedPatreonButton">
  <div class="collateral-AnnotatedPatreonButton-HelpMe">
    {% include_partial help_me_make_more_videos.svg %}
  </div>
  {% container collateral-Button class="collateral-AnnotatedPatreonButton-Button" %}
    <a href="https://www.patreon.com/collateral" title="Become a patron on Patreon" target="_blank">
      {% include_partial patreon_button.svg %}
    </a>
  {% endcontainer %}
  <div class="collateral-AnnotatedPatreonButton-Annotation">
    {% include_partial patreon_button_annotation.svg %}
  </div>
</div>