<div class="LogoChristopherAue">
  <div class="LogoChristopherAue-Row">
    <div class="LogoChristopherAue-Col">{% include Tile-C.svg %}</div><!--
 --><div class="LogoChristopherAue-Col">{% include Tile-H.svg %}</div><!--
 --><div class="LogoChristopherAue-Col">{% include Tile-R.svg %}</div><!--
 --><div class="LogoChristopherAue-Col">{% include Tile-I.svg %}</div><!--
 --><div class="LogoChristopherAue-Col">{% include Tile-S.svg %}</div><!--
 --><div class="LogoChristopherAue-Col">{% include Tile-T.svg %}</div><!--
 --><div class="LogoChristopherAue-Col">{% include Tile-O.svg %}</div><!--
 --><div class="LogoChristopherAue-Col">{% include Tile-P.svg %}</div><!--
 --><div class="LogoChristopherAue-Col">{% include Tile-H.svg %}</div><!--
 --><div class="LogoChristopherAue-Col">{% include Tile-E.svg %}</div><!--
 --><div class="LogoChristopherAue-Col">{% include Tile-R.svg %}</div>
  </div>
  <div class="LogoChristopherAue-Row">
    <div class="LogoChristopherAue-Col"></div><!--
 --><div class="LogoChristopherAue-Col">{% include Tile-A.svg %}</div><!--
 --><div class="LogoChristopherAue-Col">{% include Tile-U.svg %}</div><!--
 --><div class="LogoChristopherAue-Col">{% include Tile-E.svg %}</div>
  </div>
</div>