.LogoChristopherAue
  line-height: 0
  text-align: left
  .LogoChristopherAue-Col
    display: inline-block
    vertical-align: middle
    width: .9em
    height: .9em
    .PreserveAspectRatio-Reference
      width: 100%
    svg
      display: block
    + .LogoChristopherAue-Col
      margin-left: .1em
  .LogoChristopherAue-Row
    perspective: 300px
    + .LogoChristopherAue-Row
      margin-top: .1em