.LogoChristopherAue
  line-height: 0
  text-align: left
  overflow: hidden

.LogoChristopherAue-Row
  white-space: nowrap
  height: 1em

.LogoChristopherAue-Col
  display: inline-block
  height: 95%
  .PreserveAspectRatio-Reference
    height: 100%
  svg
    display: block

.LogoChristopherAue-Gutter
  display: inline-block
  height: 100%
  .PreserveAspectRatio-Reference
    height: 100%

.LogoChristopherAue-Row:first-child
  .LogoChristopherAue-Col, .LogoChristopherAue-Gutter
    vertical-align: top

.LogoChristopherAue-Row:last-child
  .LogoChristopherAue-Col, .LogoChristopherAue-Gutter
    vertical-align: bottom
