<div class="LogoChristopherAue">
  <div class="LogoChristopherAue-Row"><!--
 --><div class="LogoChristopherAue-Col">{% include_partial Tile-C.svg %}</div><!--
 --><div class="LogoChristopherAue-Gutter">{% block PreserveAspectRatio ratio='1/10' %}</div><!--
 --><div class="LogoChristopherAue-Col">{% include_partial Tile-H.svg %}</div><!--
 --><div class="LogoChristopherAue-Gutter">{% block PreserveAspectRatio ratio='1/10' %}</div><!--
 --><div class="LogoChristopherAue-Col">{% include_partial Tile-R.svg %}</div><!--
 --><div class="LogoChristopherAue-Gutter">{% block PreserveAspectRatio ratio='1/10' %}</div><!--
 --><div class="LogoChristopherAue-Col">{% include_partial Tile-I.svg %}</div><!--
 --><div class="LogoChristopherAue-Gutter">{% block PreserveAspectRatio ratio='1/10' %}</div><!--
 --><div class="LogoChristopherAue-Col">{% include_partial Tile-S.svg %}</div><!--
 --><div class="LogoChristopherAue-Gutter">{% block PreserveAspectRatio ratio='1/10' %}</div><!--
 --><div class="LogoChristopherAue-Col">{% include_partial Tile-T.svg %}</div><!--
 --><div class="LogoChristopherAue-Gutter">{% block PreserveAspectRatio ratio='1/10' %}</div><!--
 --><div class="LogoChristopherAue-Col">{% include_partial Tile-O.svg %}</div><!--
 --><div class="LogoChristopherAue-Gutter">{% block PreserveAspectRatio ratio='1/10' %}</div><!--
 --><div class="LogoChristopherAue-Col">{% include_partial Tile-P.svg %}</div><!--
 --><div class="LogoChristopherAue-Gutter">{% block PreserveAspectRatio ratio='1/10' %}</div><!--
 --><div class="LogoChristopherAue-Col">{% include_partial Tile-H.svg %}</div><!--
 --><div class="LogoChristopherAue-Gutter">{% block PreserveAspectRatio ratio='1/10' %}</div><!--
 --><div class="LogoChristopherAue-Col">{% include_partial Tile-E.svg %}</div><!--
 --><div class="LogoChristopherAue-Gutter">{% block PreserveAspectRatio ratio='1/10' %}</div><!--
 --><div class="LogoChristopherAue-Col">{% include_partial Tile-R.svg %}</div>
  </div>
  <div class="LogoChristopherAue-Row"><!--
 --><div class="LogoChristopherAue-Col">{% block PreserveAspectRatio ratio='1/1' %}</div><!--
 --><div class="LogoChristopherAue-Gutter">{% block PreserveAspectRatio ratio='1/10' %}</div><!--
 --><div class="LogoChristopherAue-Col">{% include_partial Tile-A.svg %}</div><!--
 --><div class="LogoChristopherAue-Gutter">{% block PreserveAspectRatio ratio='1/10' %}</div><!--
 --><div class="LogoChristopherAue-Col">{% include_partial Tile-U.svg %}</div><!--
 --><div class="LogoChristopherAue-Gutter">{% block PreserveAspectRatio ratio='1/10' %}</div><!--
 --><div class="LogoChristopherAue-Col">{% include_partial Tile-E.svg %}</div>
  </div>
</div>