.TheatreScreen
  position: relative

  .TheatreScreen-Background
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: black
    opacity: 0
    transition: opacity 1s ease-in-out
    display: none

  .TheatreScreen-Switch
    position: absolute
    bottom: 1em
    width: 100%
    text-align: center
    color: black
    opacity: .3
    transition: opacity 1s ease-in-out, color 1s ease-in-out 1s
    &:before
      content: 'Turn lights back on'

  .TheatreScreen-Content
    border-radius: .3em
    box-shadow: 0 0 4em black
    border: .4em solid black
    background: black
    box-sizing: border-box
    transition: transform 1s ease-in-out // transform set with javascript

.TheatreScreen.focused
    .TheatreScreen-Background
      display: block
      opacity: 0.90

    .TheatreScreen-Switch
      color: white
      cursor: pointer
      &.hover
        opacity: 1