.TheatreScreen
  position: relative

  .TheatreScreen-Black
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    opacity: 0
    transition: opacity 1s ease-in-out

  .TheatreScreen-Background
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: black
    pointer-events: none

  .TheatreScreen-Switch
    position: absolute
    bottom: 0
    width: 100%
    padding: 1em
    box-sizing: border-box
    text-align: center
    color: black
    opacity: .3
    transition: opacity 1s ease-in-out, color 1s ease-in-out 1s
    &:before
      content: 'Turn lights back on'

  .TheatreScreen-Content
    border-radius: .3em
    box-shadow: 0 0 4em black
    border: .4em solid black
    background: black
    box-sizing: border-box
    transition: transform 1s ease-in-out, box-shadow 1s ease-in-out // transform set with javascript

.TheatreScreen.focused
  .TheatreScreen-Black
    opacity: 0.90

  .TheatreScreen-Background
    pointer-events: auto

  .TheatreScreen-Switch
    color: white
    cursor: pointer
    &.hover
      opacity: 1

  .TheatreScreen-Content
    box-shadow: 0 0 0 black