<!doctype html>
<html lang="{{ page.lang }}">
  <head>
    {% container base-HTMLHead %}
      {% block GoogleAnalytics %}
      {% block Matomo %}
    {% endcontainer %}
  </head>
  <body class="{{ page.category }}">
    {% block base-PageTransition %}
    {% if page.category != 'home' %}
      {% block PageHeader %}
    {% endif %}
    <main class="PageContent" role="main">
      {{ param.content }}
    </main>
    {% if page.category != 'home' %}
      {% block PageFooter %}
    {% endif %}
  </body>
</html>