---
layout: with_header
---

<article class="article ensure-readability">
  <header>
    <h1>{{ page.title | xml_escape }}</h1>
    <div class="meta">
      <div class="social">
        <a href="{{ site.url | append: page.url }}#disqus_thread" title="Go to the comment section" class="comments">0 Comments</a>
        —
        <ul class="sharing">
          <li>
            <a href="https://twitter.com/intent/tweet?url={{ site.url | append: page.url | cgi_escape }}&amp;via=christopheraue&amp;text={{ page.title | cgi_escape }}"
               title="Share on Twitter"
               onclick="ga('send', 'event', 'Twitter', 'Share Attempt', '{{ site.url | append: page.url }}')">
              <svg class="social-icon white" role="img">
                <use xlink:href="/assets/images/social_icons.svgz#twitter-icon" aria-labelledby="tw-icon-desc">
                  <desc id="tw-icon-desc">The Twitter icon</desc>
                </use>
              </svg>
            </a>
          </li><!--
       --><li>
            <a href="https://www.facebook.com/sharer/sharer.php?m2w&amp;s=100&amp;{{ 'p[url]' | cgi_escape }}={{ site.url | append: page.url | cgi_escape }}&amp;{{ 'p[title]' | cgi_escape }}={{ page.title | cgi_escape }}&amp;{{ 'p[summary]' | cgi_escape }}={{ page.excerpt | cgi_escape }}&amp;{{ 'p[images][0]' | cgi_escape }}={{ site.url | append: '/assets/images/background/' | append: page.image | cgi_escape }}"
               target="_blank"
               title="Share on Facebook"
               onclick="ga('send', 'event', 'Facebook', 'Share Attempt', '{{ site.url | append: page.url }}')">
              <svg class="social-icon white" role="img">
                <use xlink:href="/assets/images/social_icons.svgz#facebook-icon" aria-labelledby="fb-icon-desc">
                  <desc id="fb-icon-desc">The Facebook icon</desc>
                </use>
              </svg>
            </a>
          </li>
        </ul>
      </div><!--
   --><time datetime="{{ page.date | replace: ' +', '+' }}" class="date">{{ page.date | date: "%B %d, %Y" }}</time>
    </div>
  </header>
  <section class="text white-box">{{ content }}</section>
  <div id="disqus_thread" class="white-box"></div>
  <div id="disqus_link">
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>
</article>