<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body class="{{ page.category }}">
    {% block PageTransition %}
    {% if page.category != 'home' %}
      {% block PageHeader %}
    {% endif %}
    <main role="main">
      {% if page.render_with %}
        {% block {{ page.render_with }} page=page %}
      {% else %}
        {{ content }}
      {% endif %}
    </main>
    {% if page.category != 'home' %}
      {% block PageFooter %}
    {% endif %}
  </body>
</html>