---
layout: default
---
{% if page.content != empty %}
    <section class="page-section text-optimized">
        <h1 class="page-headline page-heading">{{ page.title | xml_escape }}</h1>
        <div class="text white-bg">
            {{content}}
        </div>
    </section>
    {% if site.categories[page.category] %}
        {% if page.article_list_heading %}
            {% assign article_list_heading = page.article_list_heading %}
        {% else %}
            {% assign article_list_heading = 'Articles' %}
        {% endif %}
        
        {% include article-list.html heading=article_list_heading categories=page.category tags='all' css_class='start-background-fade' title_tag='h2' %}
    {% endif %}
{% else %}
    <section class="page-section use-sidebar">
        <h1 class="page-headline page-heading">{{ page.title | xml_escape }}</h1>
    {% if site.categories[page.category] %}    
        {% include article-list.html categories=page.category tags='all' css_class='start-background-fade' title_tag='h2' %}
    {% endif %}
    </section>
{% endif %}