---
layout: default
---

<section class="page-section use-sidebar">
    <h1 class="page-headline page-heading">{{ page.title | xml_escape }}</h1>
    {% if page.content != empty %}
    <div class="text">
        {{content}}
    </div>
    {% else %}
    {% include article-list.html categories=page.categories tags='all' css_class='start-background-fade' title_tag='h2' %}
    {% endif %}
</section>
{% if page.content != empty %}
<div class="page-section">
    {% include article-list.html heading=page.article_list_heading categories=page.categories tags='all' css_class='start-background-fade' title_tag='h2' %}
</div>
{% endif %}