{% if page.id %}
    {% assign isArticlePage = true %}
{% endif %}
<!doctype html>
<html>
    <head>
        <title>{{ page.title }} - {{ site.name }}</title>
        <link rel="alternate" type="application/rss+xml" title="christopheraue.net" href="{{ site.url | append: '/feed.xml' }}">
        <link rel="stylesheet" href="{{ site.url | append: '/assets/css/styles.css' }}" type="text/css" />
        <script data-main="{{ site.url | append: '/assets/js/main' }}" src="{{ site.url | append: '/assets/js/lib/require.js' }}"></script>
    </head>
    <body class="{% if isArticlePage %}article-page {% endif %}{{ page.body_class }}"
          style="background-image:url({{ site.url | append: '/assets/images/background/' | append: page.image }})">
        {% include header.html %}
        {% include content.html %}
    </body>
</html>