{% if page.id %}
    {% assign isArticlePage = true %}
{% endif %}

{% if page.image %}
    {% assign background = page.image %}
{% else %}
    {% assign background = site.default_background %}
{% endif %}

<!doctype html>
<html>
    <head>
        <title>{{ page.title | xml_escape }}{% unless page.no_head_title_affix %} - {{ site.name | xml_escape }}{% endunless %}</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="description" content="{{ page.meta_description }}">
        <meta name="robots" content="noindex, nofollow">
        <link rel="alternate" type="application/rss+xml" title="christopheraue.net" href="{{ site.url | append: '/feed.xml' }}">
        <link rel="stylesheet" href="{{ site.url | append: '/assets/css/styles.css' }}" type="text/css" />
        <script data-main="{{ site.url | append: '/assets/js/main' }}" src="{{ site.url | append: '/assets/js/lib/require.js' }}"></script>
    </head>
    <body class="{% if isArticlePage %}article-page {% endif %}{{ page.body_class }}"
          style="background-image:url({{ site.url | append: '/images/background/' | append: background }})">
        {% include header.html %}
        <div id="content-container">
            <div id="content">
                {{ content }}
            </div>
            {% assign image = 'background/' | append: background %}
            {% include image-credit.html image=image %}
        </div>
        <a href="#" class="close-button back-to-top-button js-back-to-top-button"><span class="arrow"></span>BACK TO TOP<span class="arrow"></span></a>
    </body>
</html>