{% if page.id %}
    {% assign isArticlePage = true %}
{% endif %}
<!doctype html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ site.url }}/assets/css/styles.css" type="text/css" />
        <script data-main="assets/js/main" src="assets/js/libs/require/require.js"></script>
    </head>
    <body class="{% if isArticlePage %}article-page {% endif %}{{ page.body_class }}"
          style="background-image:url({{ site.url }}/assets/images/background/{{ page.image }})">
        {% include header.html %}
        {% include content.html %}
    </body>
</html>