---
layout: bare
---

<header id="page-header">
  <div class="logo-nav">
    <div class="logo">
      <a href="{{ site.url }}"><img src="{{ site.url }}/assets/images/christopheraue.svg" class="christopheraue" alt="Christopher Aue"/></a>
    </div>
    <nav class="nav">
      <ul class="top">
        <li>
          <a href="{{ site.url }}/{{ page.categories }}">
            <img class="nav-image" src="/assets/images/slash_{{ page.categories }}.svg"/>
          </a>
        </li>
        {% for category in site.category_list %}
          {% if category != page.categories %}
            <li>
              <a href="{{ site.url }}/{{ category }}">
                <img class="nav-image" src="/assets/images/slash_{{ category }}.svg"/>
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <div class="arrow"></div>
    </nav>
  </div>
</header>
<div id="content">
  {{ content }}
</div>