---
layout: bare
---

<header id="page-header">
  <div class="logo-nav">
    <div class="logo">
      <a href="{{ site.url }}"><img src="{{ site.url }}/assets/images/christopheraue.svg" class="christopheraue" alt="Christopher Aue"/></a>
    </div>
    <nav class="nav">
      <ul class="top">
        <li>
          <a href="{{ site.url }}/technical">
            <img class="nav-image" src="/assets/images/slash_technical.svg"/>
          </a>
        </li>
        <li>
          <a href="{{ site.url }}/collateral">
            <img class="nav-image" src="/assets/images/slash_collateral.svg"/>
          </a>
        </li>
      </ul>
      <div class="arrow"></div>
    </nav>
  </div>
</header>
<div id="content">
  {{ content }}
</div>