<footer class="PageFooter">
  <p>I design software and interfaces with the human in mind: Functional, fast,
    easy to understand and good-looking. As a solo entrepreneur I also do
    everything else I need: graphic design, marketing, you name it…</p>
  <p>To cool down in the evening, I like to watch and think about stories told
    with sound and moving pictures—you know, these things called films and video
    games. I need my sleep, work out in the morning and don't have free time.
    It's boring anyway.</p>
  <ul class="PageFooter-SocialList">
    <li class="PageFooter-SocialItem">
      <a href="mailto:hi@christopheraue.net" title="Write me something!" target="_blank" rel="noopener">
        {% block base-Icon type="mail" %}
      </a>
    </li><!--
 --><li class="PageFooter-SocialItem">
      <a href="https://twitter.com/christopheraue" title="My Twitter feed" target="_blank" rel="noopener">
        {% block base-Icon type="twitter" %}
      </a>
    </li><!--
 --><li class="PageFooter-SocialItem">
      <a href="https://github.com/christopheraue" title="My Github profile" target="_blank" rel="noopener">
        {% block base-Icon type="github" %}
      </a>
    </li><!--
 --><li class="PageFooter-SocialItem">
      <a href="https://www.youtube.com/channel/UCCX3-7hikDyXCowYRVRIY6A" title="All Collateral videos" target="_blank" rel="noopener">
        {% block base-Icon type="youtube" %}
      </a>
    </li><!--
 --><li class="PageFooter-SocialItem">
      <a href="https://www.patreon.com/collateral" title="Keep Collateral alive!" target="_blank" rel="noopener">
        {% block base-Icon type="patreon" %}
      </a>
    </li>
  </ul>
  <address>Christopher Aue · Weseler Str. 30 · 48151 Münster · Germany</address>
  <p>© 2018 Christopher Aue</p>
</footer>