<footer class="PageFooter">
  <p>I'm a freelance web consultant and developer who gets new projects off the
    ground and builds them into sustainable products.</p>
  <ul class="PageFooter-SocialList">
    <li class="PageFooter-SocialItem">
      <a href="mailto:hi@christopheraue.net" title="Write me something!" target="_blank" rel="noopener">
        {% block base-Icon type="mail" %}
      </a>
    </li>
    <li class="PageFooter-SocialItem">
      <a href="https://github.com/christopheraue" title="My Github profile" target="_blank" rel="noopener">
        {% block base-Icon type="github" %}
      </a>
    </li>
  </ul>
  <address>Christopher Aue · Weseler Str. 30 · 48151 Münster · Germany</address>
  <p>© 2021 Christopher Aue</p>
</footer>