.PageFooter
  max-width: 24em
  margin-left: auto
  margin-right: auto
  text-align: center
  > *
    margin: 0 auto
    opacity: .7
    font-size: .6em
  > * + *
    margin-top: 1em

.PageFooter::before
  content: ''
  display: inline-block
  border-top: 1px solid currentColor
  width: 10em
  opacity: .7
  margin-bottom: 1.5em

.PageFooter-SocialList
  display: inline-flex
  align-items: center

.PageFooter-SocialItem
  a
    display: block
    width: 2em
    opacity: .66
    padding: 1em
    line-height: 0
    &.hover, &:hover
      opacity: 1