<nav class="CategoryDropdown">
  <ul class="CategoryDropdown-List">
    {% for category in site.category_list %}
      {% if category == page.category %}
      <li class="CategoryDropdown-Item current {{ category }}">
        {% assign slashed_category = '/' | append: category | append: '/' %}
        {% if page.url == slashed_category %}
          {% include_partial item.html tag="h1" category=category %}
        {% else %}
          {% include_partial item.html tag="a" category=category %}
        {% endif %}
      </li>
      {% endif %}
    {% endfor %}
    {% for category in site.category_list %}
      {% if category != page.category %}
      <li class="CategoryDropdown-Item {{ category }}">
        {% include_partial item.html tag="a" category=category %}
      </li>
      {% endif %}
    {% endfor %}
  </ul>
  <svg class="CategoryDropdown-Overlay"></svg>
</nav>