@import 'variables'

$transition_time: 300ms

.CategoryDropdown
  position: absolute
  top: .75em
  right: -.75em
  text-align: right
  white-space: nowrap
  transform: scale(1)
  transform-origin: top right
  transition: transform $transition_time ease-in-out
  font-size: .75em
  cursor: pointer
  @media screen and (min-width: 50em) //800px
    position: relative
    display: inline-block
    top: 0
    right: 0
    margin-top: -.75em
    margin-left: -1.25em
    font-size: 1em
    text-align: left

.CategoryDropdown-List
  max-height: 3em
  overflow: hidden
  border-radius: .1em
  transition-property: box-shadow,       max-height
  transition-duration: $transition_time, 0s
  transition-delay:    0s,               $transition_time
  transition-timing-function: ease-in-out

.CategoryDropdown-Overlay
  display: none
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  pointer-events: none
  box-shadow: inset -.2em -.2em .5em rgba(0,0,0,0.04), inset .2em .2em .5em rgba(255,255,255,0.04)

.CategoryDropdown.activated
  transform: scale(1.5)
  @media screen and (min-width: 32em) //512px
    transform: scale(1.25)
  @media screen and (min-width: 50em) //800px
    transform: scale(1)
  .CategoryDropdown-List
    transition-property: box-shadow, max-height
    transition-delay:    0s,         0s
    max-height: 80vw
    box-shadow: 0 0 5px rgba(0,0,0,0.5), 1px 1px 3px rgba(0,0,0,0.5)
  .CategoryDropdown-Overlay
    display: block

$transition_time: 300ms

.CategoryDropdown-ItemWrapper
  display: block
  padding: .5em
  padding-left: 1.5em
  transition-property: background, opacity
  transition-timing-function: ease-in-out
  transition-duration: $transition_time
  pointer-events: none // prevent location change when tapping the nav to open it!
  opacity: 0

.CategoryDropdown-ItemContent
  display: inline-block
  vertical-align: top
  fill: white
  stroke: white
  transition: opacity $transition_time ease-in-out
  .PreserveAspectRatio-Reference
    height: 1.5em
    vertical-align: top

.CategoryDropdown-ItemArrow
  display: inline-block
  vertical-align: top
  position: relative
  width: 1.5em
  height: 1.5em
  opacity: 0
  transition: opacity 2*$transition_time ease-in-out
  text-align: center
  &:after
    content: ''
    display: inline-block
    vertical-align: middle
    height: 100%
    width: 0
  &:before
    content: ''
    display: inline-block
    vertical-align: middle
    width: 0
    height: 0
    border: .35em solid transparent
    border-top-color: white
    opacity: 1
    transform: rotate(0deg)
    transition: transform $transition_time ease-in-out
    transform-origin: 50% 15%
    @media screen and (min-width: 32em) //512px
      border-width: .3em

.CategoryDropdown-Item.current
  .CategoryDropdown-ItemWrapper
    opacity: 1
  .CategoryDropdown-ItemArrow
    opacity: 1

.CategoryDropdown.activated
  .CategoryDropdown-ItemWrapper
    pointer-events: auto
    opacity: 1
    &.collateral
      background: darken($collateral-dark, 5%)
    &.design
      background: darken($design-dark, 5%)
    &.hover
      &.collateral
        background: $collateral-dark
      &.design
        background: $design-dark
      .CategoryDropdown-ItemContent
        opacity: 1
  .CategoryDropdown-ItemContent
    opacity: 0.7
  .CategoryDropdown-ItemArrow
    opacity: 0
    &:before
      transform: rotate(90deg)