@import "variables"

/*
 *  /collateral Category
 *  ====================
 *
 *  Colors
 *  ------
 *
 *  ```
 *  !bodyClass collateral
 *
 *  <div style="padding: 1.25em">Light Text On Dark Background</div>
 *  <div class="white-box">Dark Text On Light Background</div>
 *  ```
 */
body.collateral
  background: $collateral-dark
  color: $collateral-light

  .white-box
    background: $collateral-light
    color: $collateral-dark

/*
 *  The Category Page
 *  -----------------
 *
 *  ```
 *  !responsive
 *  !bodyClass collateral
 *
 *  <div id="content">
 *    <section id="theatre">
 *      <div class="marquee">
 *        <object data="/assets/images/collateral_page_marquee.svgz" type="image/svg+xml">
 *          Collateral &mdash; Visual Storytelling in movies & games
 *        </object>
 *        <svg class="light-box" viewBox="0 0 620 110">
 *          <g transform="translate(310,2.5)">
 *            <text y="20">presenting</text>
 *            <text y="40">Life Is Strange: Before the Storm</text>
 *            <text y="70" class="large">Visualization of Emotions &mdash; Part 1</text>
 *            <text y="100"><tspan>Part 2</tspan><tspan dx="30">Mar 12</tspan></text>
 *          </g>
 *        </svg>
 *      </div>
 *      <div class="screen">
 *        <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
 *      </div>
 *    </section>
 *    <div class="sections">
 *      <section id="youtube">
 *        <div class="button">
 *          <a href="https://www.youtube.com/channel/UCCX3-7hikDyXCowYRVRIY6A" title="Watch all videos on YouTube" target="_blank">
 *            <svg viewBox="0 0 220 50">
 *              <use xlink:href="/assets/images/collateral_page_annotated_buttons.svgz#youtube-button"></use>
 *            </svg>
 *          </a>
 *        </div>
 *        <div class="annotation">
 *          <svg viewBox="0 0 199.764 58.614">
 *            <title>a new video every two weeks</title>
 *            <use xlink:href="/assets/images/collateral_page_annotated_buttons.svgz#youtube-button-annotation"></use>
 *          </svg>
 *        </div>
 *      </section>
 *      <section id="patreon">
 *        <div class="help-me">
 *          <svg viewBox="0 0 472 273.3333">
 *            <title>Help me make more videos!</title>
 *            <use xlink:href="/assets/images/collateral_page_annotated_buttons.svgz#help-me-make-more-videos"></use>
 *          </svg>
 *        </div>
 *        <div class="button">
 *          <a href="https://www.patreon.com/collateral" title="Become a patron on Patreon" target="_blank">
 *            <svg viewBox="0 0 230 50">
 *              <use xlink:href="/assets/images/collateral_page_annotated_buttons.svgz#patreon-button"></use>
 *            </svg>
 *          </a>
 *        </div>
 *        <div class="annotation">
 *          <svg viewBox="0 0 350 275">
 *            <title>You help by pledging $1 for my next video. On top, you get as a thank-you: Early Access + Bonus Videos</title>
 *            <use xlink:href="/assets/images/collateral_page_annotated_buttons.svgz#patreon-button-annotation"
 *              width="288.194"></use>
 *            <use xlink:href="/assets/images/collateral_page_annotated_buttons.svgz#early-access-bonus-videos"
 *               width="328.634" x="5" y="170"></use>
 *          </svg>
 *        </div>
 *      </section>
 *      <section id="twitter">
 *        <div class="annotation">
 *          <svg viewBox="0 0 108.975 64.025">
 *            <title>for in between</title>
 *            <use xlink:href="/assets/images/collateral_page_annotated_buttons.svgz#twitter-button-annotation"></use>
 *          </svg>
 *        </div>
 *        <div class="gifs">
 *          <svg viewBox="0 0 130.667 41.333">
 *            <title>Gifs</title>
 *            <use xlink:href="/assets/images/collateral_page_annotated_buttons.svgz#gifs"></use>
 *          </svg>
 *        </div>
 *        <div class="button">
 *          <a href="https://twitter.com/christopheraue" title="Follow on Twitter" target="_blank">
 *            <svg viewBox="0 0 240 50">
 *              <use xlink:href="/assets/images/collateral_page_annotated_buttons.svgz#twitter-button"></use>
 *            </svg>
 *          </a>
 *        </div>
 *        <div class="updates">
 *          <svg viewBox="0 0 143.333 54">
 *            <title>Updates</title>
 *            <use xlink:href="/assets/images/collateral_page_annotated_buttons.svgz#updates"></use>
 *          </svg>
 *        </div>
 *      </section>
 *    </div>
 *  </div>
 *  ```
 */
$google-fonts: str-join($google-fonts, "|", "Open+Sans+Condensed:700")

body.collateral
  #content
    max-width: 50em
    margin-left: auto
    margin-right: auto
    padding: 0 $gutter-width/2
    @media screen and (min-width: 32em) //512px
      padding: 0 $gutter-width
  #theatre
    .marquee
      position: relative
      margin-bottom: -20%
      object
        width: 100%
      .light-box
        position: absolute
        top: 31.25%
        left: 10%
        height: 19.1%
        text
          font-family: "Open Sans Condensed"
          font-weight: bold
          font-size: 22px
          fill: black
          text-anchor: middle
          text-transform: uppercase
          &.large
            font-size: 36px
    .screen
      width: 66%
      margin: 0 auto
      position: relative
      &:before
        content: ''
        display: block
        padding-bottom: 56.25%
      > *
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
  .sections
    text-align: center
    section
      margin: 5em auto 0
  svg
    vertical-align: middle
  .button
    text-align: center
    svg
      height: 3em
    a
      display: inline-block
      position: relative
      &:after
        content: ''
        display: block
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        background: white
        opacity: 0
  .annotation
    svg
      stroke: white
  #youtube
    min-width: 15em
    max-width: 30em
    .button a:hover:after
      opacity: 0.45
    .annotation
      text-align: right
      margin-top: .4em
      svg
        height: 3em
  #patreon
    min-width: 15em
    max-width: 30em
    .button a:hover:after
      opacity: 0.25
    .help-me
      text-align: left
      margin-bottom: -.2em
      svg
        height: 6em
    .annotation
      text-align: right
      margin-top: .4em
      svg
        height: 11em
    @media screen and (min-width: 38em) //680px
      .help-me
        margin-bottom: -1em
    @media screen and (min-width: 50em) //800px
      max-width: 34em
      .help-me
        margin-bottom: -1.5em
        svg
          height: 8em
  #twitter
    min-width: 15em
    max-width: 21.5em
    .button a:hover:after
      opacity: 0.15
    .annotation
      margin-bottom: -2.3em
      text-align: left
      svg
        height: 3.5em
    .gifs
      text-align: center
      margin-left: 6em
      margin-bottom: .2em
      svg
        height: 2.5em
    .updates
      text-align: center
      margin-right: 3em
      margin-top: .2em
      svg
        height: 4em