@import "variables"

/*
 *  General
 *  =======
 *  Reset
 *  -----
 *  Let's begin with the [reset stylesheet](http://meyerweb.com/eric/tools/css/reset/) of Eric
 *  Meyer, v2.0, 2011-01-26
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
    margin: 0
    padding: 0
    border: 0
    font-size: 100%
    font: inherit
    vertical-align: baseline

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
    display: block

body
    line-height: 1

ol, ul
    list-style: none

blockquote, q
    quotes: none

blockquote:before, blockquote:after,
q:before, q:after
    content: ''
    content: none

table
    border-collapse: collapse
    border-spacing: 0

/*
 *  Links
 *  -----
 *
 *  Remove the outline of active or focused links.
 */
a
    outline: 0
    color: inherit
    text-decoration: none

/*
 *  Colors & Text
 *  -------------
 *
 *  Dark Color: black
 *
 *  Light Color: white
 *
 *  Font: Work Sans
 *
 *  ```
 *  <div style="padding: 1.25em">
 *      <p style="font-style: normal">Work Sans Light</p>
 *      <p style="font-style: italic">Work Sans Light Italic</p>
 *      <p style="font-weight: bold; font-style: normal">Work Sans Medium</p>
 *      <p style="font-weight: bold; font-style: italic">Work Sans Medium Italic</p>
 *  </div>
 *  <div class="white-box">
 *      <p style="font-style: normal">Work Sans Light</p>
 *      <p style="font-style: italic">Work Sans Light Italic</p>
 *      <p style="font-weight: bold; font-style: normal">Work Sans Medium</p>
 *      <p style="font-weight: bold; font-style: italic">Work Sans Medium Italic</p>
 *  </div>
 *  ```
 */
$google-fonts: str-join($google-fonts, "|", "Work+Sans:300,500")

body
    background: black
    color: white
    font-family: 'Work Sans', sans-serif
    font-weight: 300

.white-box
    padding: 1.25em
    background: white
    color: black

/*
 *  Page Layout
 *  -----------
 *
 *  The page has a header and a content area.
 *
 *  The whole page is scaled by scaling the font-size. Everything else is
 *  scaled in relation to it by setting measures in em.
 *
 *  ```
 *  !responsive
 *
 *  <header class="white-box">HEADER</header>
 *  <main class="white-box">CONTENT</main>
 *  <footer class="white-box">FOOTER</footer>
 *  ```
 */
body
    @each $page_width, $font_scale in $font_scales
        @media screen and (min-width: $page_width)
            font-size: #{$font_scale}em

    padding: 1.5*$gutter-width $gutter-width

    > header
        margin-bottom: 4*$gutter-width

    > main
        margin-bottom: 4*$gutter-width

/*
 *  Columns
 *  -------
 *
 *  A container with css class `.columns` displays its containing elements
 *  with the given width next to each other.
 *
 *  When using `.columns-when-wide` columns are rendered on top of each other
 *  for small viewports. For viewports wider than 40 em (640 px), the columns
 *  move next to each other.
 *
 *  ### Halves, Quarters, Eighths and Sixteenths
 *
 *  ```
 *  <div class="columns">
 *      <div class="half"><div class="white-box center">1/2</div></div><!--
 *   --><div class="quarter"><div class="white-box center">1/4</div></div><!--
 *   --><div class="eighth"><div class="white-box center">1/8</div></div><!--
 *   --><div class="sixteenth"><div class="white-box center">1/16</div></div><!--
 *   --><div class="sixteenth"><div class="white-box center">1/16</div></div>
 *  </div>
 *  ```
 *
 *  ### Two Thirds
 *
 *  ```
 *  <div class="columns">
 *      <div class="two-thirds"><div class="white-box center">2/3</div></div><!--
 *   --><div class="third"><div class="white-box center">1/3</div></div>
 *  </div>
 *  ```
 *
 *  ### Thirds, Sixths and Twelfths
 *
 *  ```
 *  <div class="columns">
 *      <div class="twelfth"><div class="white-box center">1/12</div></div><!--
 *   --><div class="twelfth"><div class="white-box center">1/12</div></div><!--
 *   --><div class="sixth"><div class="white-box center">1/6</div></div><!--
 *   --><div class="third"><div class="white-box center">1/3</div></div><!--
 *   --><div class="sixth"><div class="white-box center">1/6</div></div><!--
 *   --><div class="twelfth"><div class="white-box center">1/12</div></div><!--
 *   --><div class="twelfth"><div class="white-box center">1/12</div></div>
 *  </div>
 *  ```
 *
 *  ### Columns With Gutters
 *
 *  ```
 *  <div class="columns with-gutters">
 *      <div class="sixth"><div class="white-box center">1/6</div></div><!--
 *   --><div class="sixth"><div class="white-box center">1/6</div></div><!--
 *   --><div class="third"><div class="white-box center">1/3</div></div><!--
 *   --><div class="sixth"><div class="white-box center">1/6</div></div><!--
 *   --><div class="sixth"><div class="white-box center">1/6</div></div>
 *  </div>
 *  ```
 *
 *  ### Columns With Inner Gutters Only
 *
 *  ```
 *  <div class="remove-outer-gutters">
 *      <div class="columns with-gutters">
 *         <div class="sixth"><div class="white-box center">1/6</div></div><!--
 *      --><div class="sixth"><div class="white-box center">1/6</div></div><!--
 *      --><div class="third"><div class="white-box center">1/3</div></div><!--
 *      --><div class="sixth"><div class="white-box center">1/6</div></div><!--
 *      --><div class="sixth"><div class="white-box center">1/6</div></div>
 *      </div>
 *  </div>
 *  ```
 */
@mixin column-widths
    > .three-quarters
        width: 75%
    > .two-thirds
        width: 66.6666%
    > .half
        width: 50%
    > .third
        width: 33.3333%
    > .quarter
        width: 25%
    > .sixth
        width: 16.6666%
    > .eighth
        width: 12.5%
    > .twelfth
        width: 8.3333%
    > .sixteenth
        width: 6.25%

@mixin columns
    > *
        display: block
        margin: 0
        box-sizing: border-box
    &.with-gutters
        padding: 0 $gutter-width/2
        > *
            padding: 0 $gutter-width/2
.columns
    @include columns
    > *
        display: inline-block
        vertical-align: top
    @include column-widths

.columns-when-wide
    @include columns
    @media screen and (min-width: 40em) //640px
        > *
            display: inline-block
            vertical-align: top
        @include column-widths

.remove-outer-gutters
    overflow: hidden
    .columns, .columns-when-wide
        margin: 0 (-$gutter-width)
/*
 *  Alignment
 *  ---------
 *
 *  ### Horizontal
 *
 *  ```
 *  <div class="left">
 *      <div class="white-box">Left Alignment</div>
 *  </div>
 *
 *  <div class="center">
 *      <div class="white-box">Center Alignment</div>
 *  </div>
 *
 *  <div class="right">
 *      <div class="white-box">Right Alignment</div>
 *  </div>
 *  ```
 */
.left
    text-align: left
    > *
        display: inline-block

.right
    text-align: right
    > *
        display: inline-block

.center
    text-align: center
    > *
        display: inline-block

/*
 *  ### Vertical
 *
 *  ```
 *  <div class="box center">
 *      <div class="white-box" style="line-height: 6em">-----</div>
 *      <div class="white-box top">top</div>
 *      <div class="white-box bottom">bottom</div>
 *      <div class="white-box middle">middle</div>
 *      <div class="white-box baseline">baseline</div>
 *      <div class="white-box text-top">text-top</div>
 *      <div class="white-box text-bottom">text-bottom</div>
 *  </div>
 *  ```
 */
.top
    display: inline-block
    vertical-align: top !important

.bottom
    display: inline-block
    vertical-align: bottom !important

.middle
    display: inline-block
    vertical-align: middle !important

.baseline
    display: inline-block
    vertical-align: baseline !important

.text-top
    display: inline-block
    vertical-align: text-top !important

.text-bottom
    display: inline-block
    vertical-align: text-bottom !important

.sub
    display: inline-block
    vertical-align: sub !important

.super
    display: inline-block
    vertical-align: super !important


/*
 *  Social Icons
 *  ------------
 */
.social-icon
    display: inline-block
    vertical-align: middle
    width: 1em
    height: 1em
    &.white
        fill: white

/*
 *  ### Mail
 *  ```
 *  !bodyBackground white
 *
 *  <div style="background: white; padding: 1em; font-size: 2em">
 *    <svg class="social-icon mail-orange">
 *      <use xlink:href="/assets/images/social_icons.svgz#mail-icon"></use>
 *    </svg>
 *  </div>
 *  <div style="background: black; padding: 1em; font-size: 2em">
 *    <svg class="social-icon white">
 *      <use xlink:href="/assets/images/social_icons.svgz#mail-icon"></use>
 *    </svg>
 *  </div>
 *  ```
 */
.social-icon.mail-orange
    fill: #ffc13b

/*
 *  ### Twitter
 *  ```
 *  !bodyBackground white
 *
 *  <div style="background: white; padding: 1em; font-size: 2em">
 *    <svg class="social-icon twitter-blue">
 *      <use xlink:href="/assets/images/social_icons.svgz#twitter-icon"></use>
 *    </svg>
 *  </div>
 *  <div style="background: black; padding: 1em; font-size: 2em">
 *    <svg class="social-icon white">
 *      <use xlink:href="/assets/images/social_icons.svgz#twitter-icon"></use>
 *    </svg>
 *  </div>
 *  ```
 */
.social-icon.twitter-blue
    fill: #55acee

/*
 *  ### Facebook
 *  ```
 *  !bodyBackground white
 *
 *  <div style="background: white; padding: 1em; font-size: 2em">
 *    <svg class="social-icon">
 *      <use xlink:href="/assets/images/social_icons.svgz#facebook-icon-colored"></use>
 *    </svg>
 *  </div>
 *  <div style="background: black; padding: 1em; font-size: 2em">
 *    <svg class="social-icon white">
 *      <use xlink:href="/assets/images/social_icons.svgz#facebook-icon"></use>
 *    </svg>
 *  </div>
 *  ```
 */
.social-icon.facebook-blue
    fill: #395185

/*
 *  ### Github
 *  ```
 *  !bodyBackground white
 *
 *  <div style="background: white; padding: 1em; font-size: 2em">
 *    <svg class="social-icon github-black">
 *      <use xlink:href="/assets/images/social_icons.svgz#github-icon"></use>
 *    </svg>
 *  </div>
 *  <div style="background: black; padding: 1em; font-size: 2em">
 *    <svg class="social-icon white">
 *      <use xlink:href="/assets/images/social_icons.svgz#github-icon"></use>
 *    </svg>
 *  </div>
 *  ```
 */
.social-icon.github-black
    fill: #161614

/*
 *  ### YouTube
 *  ```
 *  !bodyBackground white
 *
 *  <div style="background: white; padding: 1em; font-size: 2em">
 *    <svg class="social-icon">
 *      <use xlink:href="/assets/images/social_icons.svgz#youtube-icon-colored"></use>
 *    </svg>
 *  </div>
 *  <div style="background: black; padding: 1em; font-size: 2em">
 *    <svg class="social-icon white">
 *      <use xlink:href="/assets/images/social_icons.svgz#youtube-icon"></use>
 *    </svg>
 *  </div>
 *  ```
 */
.social-icon.youtube-red
    fill: #ff0000

/*
 *  ### Patreon
 *  ```
 *  !bodyBackground white
 *
 *  <div style="background: white; padding: 1em; font-size: 2em">
 *    <svg class="social-icon">
 *      <use xlink:href="/assets/images/social_icons.svgz#patreon-icon-colored"></use>
 *    </svg>
 *  </div>
 *  <div style="background: black; padding: 1em; font-size: 2em">
 *    <svg class="social-icon white">
 *      <use xlink:href="/assets/images/social_icons.svgz#patreon-icon"></use>
 *    </svg>
 *  </div>
 *  ```
 */
.social-icon.patreon-coral
    fill: #f96854
.social-icon.patreon-navy
    fill: #052D49

/*
 *  Optimal Readability
 *  -------------------
 *
 *  To ensure optimal readability for text areas they should not grow wider
 *  than 40 em. Adding the css class `.ensure-readability` takes care of that.
 *
 *  ```
 *  !responsive
 *
 *  <div class="text white-box ensure-readability fixie">
 *      <p></p>
 *      <p></p>
 *  </div>
 *  ```
 */
.ensure-readability
    max-width: 40em
    margin: 0 auto