@import "variables"

/*
 *  General
 *  =======
 *  Reset
 *  -----
 *  Let's begin with the [reset stylesheet](http://meyerweb.com/eric/tools/css/reset/) of Eric
 *  Meyer, v2.0, 2011-01-26
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
    margin: 0
    padding: 0
    border: 0
    font-size: 100%
    font: inherit
    vertical-align: baseline

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
    display: block

body
    line-height: 1

ol, ul
    list-style: none

blockquote, q
    quotes: none

blockquote:before, blockquote:after,
q:before, q:after
    content: ''
    content: none

table
    border-collapse: collapse
    border-spacing: 0

/*
 *  Links
 *  -----
 *
 *  Remove the outline of active or focused links.
 */
a
    outline: 0
    color: inherit
    text-decoration: none

/*
 *  Colors
 *  ----------
 *
 *  ```
 *  <div class="text" style="padding: 1.25em">Light Text On Dark Background</div>
 *  <div class="text white-box">Dark Text On Light Background</div>
 *  ```
 */
body
    background: black
    color: white

.white-box
    padding: 1.25em
    background: white
    color: black

/*
 *  Text
 *  ----
 *
 *  The default font is *Work Sans*.
 *
 *  ```
 *  <div class="white-box">
 *      <p style="font-weight: 200; font-style: normal">Work Sans Light</p>
 *      <p style="font-weight: 200; font-style: italic">Work Sans Light Italic</p>
 *      <p style="font-weight: 400; font-style: normal">Work Sans Regular</p>
 *      <p style="font-weight: 400; font-style: italic">Work Sans Regular Italic</p>
 *  </div>
 *  ```
 */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:200,400&subset=latin-ext')

body
    font: 200 1em/1 'Work Sans'

/*
 *  Page Layout
 *  -----------
 *
 *  The page has a header and a content area.
 *
 *  The whole page is scaled by scaling the font-size. Everything else is
 *  scaled in relation to it by setting measures in em.
 *
 *  ```
 *  !responsive
 *
 *  <header id="page-header" class="white-box">HEADER</header>
 *  <div id="content">
 *      <section class="white-box">CONTENT</section>
 *  </div>
 *  ```
 */
body
    font-size: 100%

    @media screen and (min-width: 32em) //512px
        font-size: 1.25em

    @media screen and (min-width: 42.5em) //680px
        font-size: 1.5em

    @media screen and (min-width: 50em) //800px
        font-size: 1em

    @media screen and (min-width: 55em) //880px
        font-size: 1.125em

    @media screen and (min-width: 60em) //960px
        font-size: 1.25em

    #page-header
        margin-bottom: 3em

    #content
        margin-bottom: 1.5em
        min-height: 100%
        box-sizing: border-box
        overflow: hidden

/*
 *  Columns
 *  --------------
 *
 *  Columns are rendered on top of each other for small viewports. For
 *  viewports wider than 40 em (640 px), the columns move next to each other.
 *
 *  To force columns for smaller viewports the css class `.no-break` can be
 *  used.
 *
 *  ### Halves, Quarters, Eighths and Sixteenths
 *
 *  ```
 *  <div class="columns">
 *      <div class="half"><div class="white-box center">1/2</div></div><!--
 *   --><div class="quarter"><div class="white-box center">1/4</div></div><!--
 *   --><div class="eighth"><div class="white-box center">1/8</div></div><!--
 *   --><div class="sixteenth"><div class="white-box center">1/16</div></div><!--
 *   --><div class="sixteenth"><div class="white-box center">1/16</div></div>
 *  </div>
 *  ```
 *
 *  ### Two Thirds
 *
 *  ```
 *  <div class="columns">
 *      <div class="two-thirds"><div class="white-box center">2/3</div></div><!--
 *   --><div class="third"><div class="white-box center">1/3</div></div>
 *  </div>
 *  ```
 *
 *  ### Thirds, Sixths and Twelfths
 *
 *  ```
 *  <div class="columns">
 *      <div class="twelfth"><div class="white-box center">1/12</div></div><!--
 *   --><div class="twelfth"><div class="white-box center">1/12</div></div><!--
 *   --><div class="sixth"><div class="white-box center">1/6</div></div><!--
 *   --><div class="third"><div class="white-box center">1/3</div></div><!--
 *   --><div class="sixth"><div class="white-box center">1/6</div></div><!--
 *   --><div class="twelfth"><div class="white-box center">1/12</div></div><!--
 *   --><div class="twelfth"><div class="white-box center">1/12</div></div>
 *  </div>
 *  ```
 *
 *  ### Columns With Gutters
 *
 *  ```
 *  <div class="columns with-gutters">
 *      <div class="sixth"><div class="white-box center">1/6</div></div><!--
 *   --><div class="sixth"><div class="white-box center">1/6</div></div><!--
 *   --><div class="third"><div class="white-box center">1/3</div></div><!--
 *   --><div class="sixth"><div class="white-box center">1/6</div></div><!--
 *   --><div class="sixth"><div class="white-box center">1/6</div></div>
 *  </div>
 *  ```
 *
 *  ### Columns With Inner Gutters Only
 *
 *  ```
 *  <div class="remove-outer-gutters">
 *      <div class="columns with-gutters">
 *         <div class="sixth"><div class="white-box center">1/6</div></div><!--
 *      --><div class="sixth"><div class="white-box center">1/6</div></div><!--
 *      --><div class="third"><div class="white-box center">1/3</div></div><!--
 *      --><div class="sixth"><div class="white-box center">1/6</div></div><!--
 *      --><div class="sixth"><div class="white-box center">1/6</div></div>
 *      </div>
 *  </div>
 *  ```
 */
@mixin column-widths
    > .three-quarters
        width: 75%
    > .two-thirds
        width: 66.6666%
    > .half
        width: 50%
    > .third
        width: 33.3333%
    > .quarter
        width: 25%
    > .sixth
        width: 16.6666%
    > .eighth
        width: 12.5%
    > .twelfth
        width: 8.3333%
    > .sixteenth
        width: 6.25%

@mixin columns
    > *
        display: block
        margin: 0
        box-sizing: border-box
    &.with-gutters
        padding: 0 $gutter-width/2
        > *
            padding: 0 $gutter-width/2
.columns
    @include columns
    > *
        display: inline-block
        vertical-align: top
    @include column-widths

.columns-when-wide
    @include columns
    @media screen and (min-width: 40em) //640px
        > *
            display: inline-block
            vertical-align: top
        @include column-widths

.remove-outer-gutters
    overflow: hidden
    .columns
        margin: 0 (-$gutter-width)
/*
 *  Alignment
 *  ---------
 *
 *  ### Horizontal
 *
 *  ```
 *  <div class="left">
 *      <div class="white-box">Left Alignment</div>
 *  </div>
 *
 *  <div class="center">
 *      <div class="white-box">Center Alignment</div>
 *  </div>
 *
 *  <div class="right">
 *      <div class="white-box">Right Alignment</div>
 *  </div>
 *  ```
 */
.left
    text-align: left
    > *
        display: inline-block

.right
    text-align: right
    > *
        display: inline-block

.center
    text-align: center
    > *
        display: inline-block

/*
 *  ### Vertical
 *
 *  ```
 *  <div class="box center">
 *      <div class="white-box" style="line-height: 6em">-----</div>
 *      <div class="white-box top">top</div>
 *      <div class="white-box bottom">bottom</div>
 *      <div class="white-box middle">middle</div>
 *      <div class="white-box baseline">baseline</div>
 *      <div class="white-box text-top">text-top</div>
 *      <div class="white-box text-bottom">text-bottom</div>
 *  </div>
 *  ```
 */
.top
    display: inline-block
    vertical-align: top !important

.bottom
    display: inline-block
    vertical-align: bottom !important

.middle
    display: inline-block
    vertical-align: middle !important

.baseline
    display: inline-block
    vertical-align: baseline !important

.text-top
    display: inline-block
    vertical-align: text-top !important

.text-bottom
    display: inline-block
    vertical-align: text-bottom !important

.sub
    display: inline-block
    vertical-align: sub !important

.super
    display: inline-block
    vertical-align: super !important


/*
 *  Social Icons
 *  ------------
 */
@mixin social-icon
    display: inline-block
    width: 1em
    height: 1em
    background: url(../images/social_icons.svg) no-repeat
    background-size: auto 500%

/*
 *  ### Mail
 *  ```
 *  !bodyBackground white
 *
 *  <div style="background: white; padding: 1em; font-size: 2em">
 *    <div class="mail-icon"></div>
 *    <div class="mail-icon-black"></div>
 *  </div>
 *  <div style="background: black; padding: 1em; font-size: 2em">
 *    <div class="mail-icon"></div>
 *    <div class="mail-icon-white"></div>
 *  </div>
 *  ```
 */
.mail-icon
    @include social-icon
    background-position: 0 0

.mail-icon-white
    @include social-icon
    background-position: 0 50%

.mail-icon-black
    @include social-icon
    background-position: 0 100%

/*
 *  ### Twitter
 *  ```
 *  !bodyBackground white
 *
 *  <div style="background: white; padding: 1em; font-size: 2em">
 *    <div class="twitter-icon"></div>
 *    <div class="twitter-icon-black"></div>
 *  </div>
 *  <div style="background: black; padding: 1em; font-size: 2em">
 *    <div class="twitter-icon"></div>
 *    <div class="twitter-icon-white"></div>
 *  </div>
 *  ```
 */
.twitter-icon
    @include social-icon
    background-position: 25% 0

.twitter-icon-white
    @include social-icon
    background-position: 25% 50%

.twitter-icon-black
    @include social-icon
    background-position: 25% 100%

/*
 *  ### Facebook
 *  ```
 *  !bodyBackground white
 *
 *  <div style="background: white; padding: 1em; font-size: 2em">
 *    <div class="facebook-icon"></div>
 *    <div class="facebook-icon-black"></div>
 *  </div>
 *  <div style="background: black; padding: 1em; font-size: 2em">
 *    <div class="facebook-icon"></div>
 *    <div class="facebook-icon-white"></div>
 *  </div>
 *  ```
 */
.facebook-icon
    @include social-icon
    background-position: 50% 0

.facebook-icon-white
    @include social-icon
    background-position: 50% 50%

.facebook-icon-black
    @include social-icon
    background-position: 50% 100%

/*
 *  ### Github
 *  ```
 *  !bodyBackground white
 *
 *  <div style="background: white; padding: 1em; font-size: 2em">
 *    <div class="github-icon"></div>
 *    <div class="github-icon-black"></div>
 *  </div>
 *  <div style="background: black; padding: 1em; font-size: 2em">
 *    <div class="github-icon"></div>
 *    <div class="github-icon-white"></div>
 *  </div>
 *  ```
 */
.github-icon
    @include social-icon
    background-position: 75% 0

.github-icon-white
    @include social-icon
    background-position: 75% 50%

.github-icon-black
    @include social-icon
    background-position: 75% 100%

/*
 *  ### YouTube
 *  ```
 *  !bodyBackground white
 *
 *  <div style="background: white; padding: 1em; font-size: 2em">
 *    <div class="youtube-icon"></div>
 *    <div class="youtube-icon-black"></div>
 *  </div>
 *  <div style="background: black; padding: 1em; font-size: 2em">
 *    <div class="youtube-icon"></div>
 *    <div class="youtube-icon-white"></div>
 *  </div>
 *  ```
 */
.youtube-icon
    @include social-icon
    background-position: 100% 0

.youtube-icon-white
    @include social-icon
    background-position: 100% 50%

.youtube-icon-black
    @include social-icon
    background-position: 100% 100%