/*
 *  Header
 *  ======
 *
 *  The header layout stays the same across all viewport widths. The size of
 *  elements changes with the overall font size of the page
 *
 *  ```
 *  !responsive
 *  !bodyBackground white
 *
 *  <header id="page-header">
 *      <div class="logo">
 *          <a href="#"><img src="/assets/images/christopheraue.png"/></a>
 *      </div>
 *      <ul class="social-link-list">
 *          <li class="item"><a href="#" class="social-link twit"></a></li>
 *          <li class="item"><a href="#" class="social-link gith"></a></li>
 *          <li class="item"><a href="#" class="social-link mail"></a></li>
 *      </ul>
 *      <a href="#" class="impress-link">Impress</a>
 *  </header>
 *  ```
 */
#page-header
    text-align: center
    padding: .75em
    .logo
        img
            width: 11.3em
            height: auto
    .social-link-list
        margin: .75em


/*
 *  Available Social Links
 *  ----------------------
 *
 *  ```
 *  <div style="padding: 1em">
 *      <ul class="social-link-list">
 *          <li class="item"><a href="#" class="social-link twit"></a></li>
 *          <li class="item"><a href="#" class="social-link face"></a></li>
 *          <li class="item"><a href="#" class="social-link gith"></a></li>
 *          <li class="item"><a href="#" class="social-link mail"></a></li>
 *      </ul>
 *  </div>
 *  ```
 */
.social-link
    display: block
    width: 32px
    height: 32px
    background: url(../images/social-media-logos.png) no-repeat
    opacity: 0.66
    &:hover
        opacity: 1
    &.twit
        height: 16px
        width: 20px
        background-position: -6px -8px
    &.face
        height: 16px
        width: 16px
        background-position: -72px -8px
    &.gith
        height: 16px
        width: 16px
        background-position: -40px -8px
    &.mail
        height: 16px
        width: 22px
        background-position: -101px -8px

.social-link-list
    display: inline-block
    .item
        display: inline-block
        vertical-align: middle
        + .item
            margin-left: 1em

/*
 *  Impress Link
 *  ------------
 *
 *  ```
 *  <div style="padding: 1em">
 *      <a href="#" class="impress-link">Impress</a>
 *  </div>
 *  ```
 */
.impress-link
    font-family: Ubuntu
    font-size: 0.7em
    color: rgb(155,155,155)
    text-decoration: none
    display: block
    &:hover
        color: white
