@import "variables"

/*
 *  Page Elements
 *  =============
 *
 *  Maximum Width To Ensure Readability
 *  -----------------------------------
 *
 *  To ensure optimum readability text areas with css class
 *  `.ensure-readability` do not grow wider than 40 em.
 *
 *  ```
 *  !responsive
 *
 *  <div class="text white-box ensure-readability fixie">
 *      <p></p>
 *      <p></p>
 *  </div>
 *  ```
 */
.ensure-readability
  max-width: 40em
  margin: 0 auto

/*
 *  Article Lists
 *  -------------
 *
 *  ```
 *  !responsive
 *
 *  <div id="content">
 *      <section class="article-list columns-when-wide with-gutters">
 *          <div class="third">
 *              <h2>Section 1</h2>
 *          </div><!--
 *       --><nav class="two-thirds ensure-readability">
 *              <ul>
 *                  <li>
 *                      <h3>Article Headline</h3>
 *                      <p>This is a description of the article. It may become longer than a single line.</p>
 *                  </li>
 *                  <li>
 *                      <h3>Article Headline</h3>
 *                      <p>This is a description of the article.</p>
 *                  </li>
 *              </ul>
 *          </nav>
 *      </section>
 *      <section class="article-list columns-when-wide with-gutters">
 *          <div class="third">
 *              <h2>Section 2</h2>
 *          </div><!--
 *       --><nav class="two-thirds ensure-readability">
 *              <ul>
 *                  <li>
 *                      <h3>This Is a Very Long Article Headline: Maybe With a Subtitle</h3>
 *                      <p>This is a description of the article.</p>
 *                  </li>
 *                  <li>
 *                      <h3>Article Headline</h3>
 *                      <p>This is a description of the article.</p>
 *                  </li>
 *              </ul>
 *          </nav>
 *      </section>
 *  </div>
 *  ```
 */
.article-list
  + .article-list
    margin-top: 2*$gutter-width
  h2
    font-size: 1.625em
    font-style: italic
    text-align: left
    margin-bottom: .75em
  h3
    font-weight: bold
  p
    font-weight: 200
  li
    font-size: 1em
    line-height: 1.5
    + li
      margin-top: $gutter-width
  @media screen and (min-width: 40em) //640px
    h2
      text-align: right
      font-size: 1.3em
    li
      font-size: .8em

/*
 *  Articles
 *  --------
 *
 *  ```
 *  !responsive
 *
 *  <div id="content">
 *    <article class="article ensure-readability">
 *      <header>
 *        <h1>This Is the Headline of an Article With an Interesting Topic</h1>
 *        <div class="meta">
 *          <div class="social">
 *            <a href="#" class="comments">5 Comments</a>
 *            —
 *            <ul class="sharing">
 *              <li><a href="#" title="Share on Twitter"><div class="twitter-icon-white"></div></a></li><!--
 *           --><li><a href="#" title="Share on Facebook"><div class="facebook-icon-white"></div></a></li>
 *            </ul>
 *          </div><!--
 *       --><time datetime="2049-09-15" class="date">September 15, 2049</time>
 *        </div>
 *      </header>
 *      <section class="text white-box fixie"></section>
 *      <div id="disqus_thread" class="white-box">COMMENT SECTION</div>
 *    </article>
 *  </div>
 *  ```
 */

.article
  header
    margin: 0 $gutter-width
    position: relative
  h1
    font-size: 1.5em
    @media screen and (min-width: 50em) //800px
      font-size: 2em
    font-style: italic
    font-weight: bold
    text-align: left
    @media screen and (min-width: 22em) // 352px
      text-align: center
  .meta
    white-space: nowrap
    > *
      display: block
      margin: .5em 0
    @media screen and (min-width: 22em) // 352px
      > *
        display: inline-block
        vertical-align: middle
      > .social
        width: 60%
      > .date
        width: 40%
      > :last-child
        text-align: right
  .date
    font-size: .8em
  .comments
    font-size: .8em
    vertical-align: middle
    text-decoration: none
    &:hover
      font-style: italic
  .sharing
    display: inline-block
    vertical-align: middle
    li
      display: inline-block
      vertical-align: middle
      a
        display: inline-block
        vertical-align: middle
        padding: .25em
        opacity: .4
        &:hover
          opacity: 1
        > *
          font-size: 1.1em
  #disqus_thread
    margin-top: $gutter-width