@import "variables"

/*
 *  Page Elements
 *  =============
 *
 *  Header
 *  ------
 *
 *  to be seen on [/design](/design)
 */
$transition_time: 300ms

body > header
  text-align: center
  height: 2.5em
  font-size: 1.25em
  @media screen and (min-width: 32em) //512px
    font-size: 1em
  .logo-nav
    position: relative
    display: inline-block
  .logo
    display: inline-block
    vertical-align: top
    a
      display: inline-block
      height: 2.5em
      vertical-align: middle
      opacity: 0.85
      &.hover
        opacity: 1
    .scaling-svg
      height: 100%
      fill: white
      stroke: white
      .aspect-ratio-indicator
        height: 100% // svg is scaled with the height as reference
  nav
    position: absolute
    z-index: 999999
    top: 35%
    right: -.5em
    height: 2.25em
    overflow: hidden
    text-align: right
    white-space: nowrap
    border-radius: .1em
    transform: scale(1)
    transform-origin: top right
    transition: transform $transition_time ease-in-out, height $transition_time ease-in-out
    cursor: pointer
    @media screen and (min-width: 50em) //800px
      position: relative
      display: inline-block
      right: 0
      margin-top: -.75em
      margin-left: -1.1em
      font-size: 1.5em
      text-align: left
    .nav-item
      display: block
      padding: .5em .5em .5em 1.25em
      transition: background $transition_time ease-in-out
      pointer-events: none // prevent location change when tapping the nav to open it!
      .scaling-svg
        display: inline-block
        vertical-align: top
        height: 1.25em
        fill: white
        stroke: white
        transition: opacity $transition_time ease-in-out
        .aspect-ratio-indicator
          height: 100% // svg is scaled with the height as reference
    li + li
      .nav-item
        padding-right: 1.75em
    .arrow
      display: inline-block
      vertical-align: top
      position: relative
      top: 0
      right: 0
      width: 1.25em
      height: 1.25em
      &:before
        content: ''
        display: block
        position: absolute
        top: 50%
        margin-top: -.15em
        left: 50%
        margin-left: -.35em
        width: 0
        height: 0
        border: .35em solid transparent
        border-top-color: white
        opacity: 1
        transform: rotate(0deg)
        transition: transform $transition_time ease-in-out, opacity 2*$transition_time ease-in-out
        transform-origin: 50% 15%
        @media screen and (min-width: 32em) //512px
          margin-left: -.275em
          border-width: .3em
    .shadow
      display: none
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      pointer-events: none
      box-shadow: inset -.2em -.2em .5em rgba(0,0,0,0.04), inset .2em .2em .5em rgba(255,255,255,0.04)
    &.activated
      height: 4.5em
      transform: scale(2)
      box-shadow: 0 0 5px rgba(0,0,0,0.5), 1px 1px 3px rgba(0,0,0,0.5)
      .shadow
        display: block
      @media screen and (min-width: 32em) //512px
        transform: scale(1.5)
      @media screen and (min-width: 50em) //800px
        transform: scale(1)
      .nav-item
        pointer-events: auto
        &.collateral
          background: darken($collateral-dark, 5%)
          &.hover
            background: $collateral-dark
        &.design
          background: darken($design-dark, 5%)
          &.hover
            background: $design-dark
        .scaling-svg
          opacity: 0.7
        &.hover
          .scaling-svg
            opacity: 1
      .arrow:before
        transform: rotate(90deg)
        opacity: 0

/*
 *  Footer
 *  ------
 *
 *  to be seen on [/design](/design)
 */
body > footer
  max-width: 40em
  margin: 0 auto
  color: white
  text-align: center
  font-size: .6em
  line-height: 1.5
  &:before
    content: ''
    display: block
    width: 50%
    margin: 0 auto
    border-top: 1px solid white
    padding-top: 2em
    opacity: .7
  > *
    margin: 0 auto
    opacity: .7
  > * + *
    margin-top: 1em
  ul
    opacity: 1
    li
      display: inline-block
      vertical-align: middle
      a
        font-size: 2em
        opacity: .66
        padding: .5em
        &.hover
          opacity: 1

/*
 *  Article Lists
 *  -------------
 *
 *  ```
 *  !responsive
 *
 *  <section class="article-list columns-when-wide with-gutters">
 *      <div class="third">
 *          <h2>Section 1</h2>
 *      </div><!--
 *   --><nav class="two-thirds ensure-readability">
 *          <ul>
 *              <li>
 *                  <h3>Article Headline</h3>
 *                  <p>This is a description of the article. It may become longer than a single line.</p>
 *              </li>
 *              <li>
 *                  <h3>Article Headline</h3>
 *                  <p>This is a description of the article.</p>
 *              </li>
 *          </ul>
 *      </nav>
 *  </section>
 *  <section class="article-list columns-when-wide with-gutters">
 *      <div class="third">
 *          <h2>Section 2</h2>
 *      </div><!--
 *   --><nav class="two-thirds ensure-readability">
 *          <ul>
 *              <li>
 *                  <h3>This Is a Very Long Article Headline: Maybe With a Subtitle</h3>
 *                  <p>This is a description of the article.</p>
 *              </li>
 *              <li>
 *                  <h3>Article Headline</h3>
 *                  <p>This is a description of the article.</p>
 *              </li>
 *          </ul>
 *      </nav>
 *  </section>
 *  ```
 */
.article-list
  + .article-list
    margin-top: 2*$gutter-width
  h2
    font-size: 1.625em
    font-style: italic
    text-align: left
    margin-bottom: .75em
  h3
    font-weight: bold
  p
    opacity: 0.7
  li
    font-size: 1em
    line-height: 1.5
    + li
      margin-top: $gutter-width
    &.hover
      p
        opacity: 1
  @media screen and (min-width: 40em) //640px
    h2
      text-align: right
      font-size: 1.3em
    li
      font-size: .8em

/*
 *  Articles
 *  --------
 *
 *  ```
 *  !responsive
 *
 *  <article class="article ensure-readability">
 *    <header>
 *      <h1>This Is the Headline of an Article With an Interesting Topic</h1>
 *      <div class="meta">
 *        <div class="social">
 *          <a href="#" class="comments">5 Comments</a>
 *          <span class="dash">—</span>
 *          <ul class="sharing">
 *            <li><a href="#" title="Share on Twitter">
 *              <div class="scaling-svg social-icon white">
 *                <canvas width="255.3" height="208.05"></canvas>
 *                <svg viewBox="0 0 255.3 208.05" class="social-icon white">
 *                  <path id="twitter-bird" class="twitter-bird" d="m256 24.628c-9.42 4.177-19.542 7-30.166 8.27 10.845-6.5 19.172-16.793 23.093-29.057a105.18 105.18 0 0 1-33.351 12.745c-9.581-10.207-23.23-16.586-38.337-16.586-29.006 0-52.523 23.516-52.523 52.52 0 4.117 0.465 8.125 1.36 11.97-43.65-2.191-82.35-23.1-108.26-54.876-4.52 7.757-7.11 16.78-7.11 26.404 0 18.222 9.273 34.297 23.365 43.716a52.312 52.312 0 0 1-23.79-6.57c-3e-3 0.21997-3e-3 0.44001-3e-3 0.661 0 25.447 18.104 46.675 42.13 51.5a52.592 52.592 0 0 1-23.718 0.90002c6.683 20.866 26.08 36.05 49.062 36.475-17.975 14.086-40.622 22.483-65.228 22.483-4.24 0-8.42-0.24907-12.529-0.73399 23.243 14.902 50.85 23.597 80.51 23.597 96.607 0 149.43-80.031 149.43-149.44 0-2.278-0.05-4.543-0.15201-6.795a106.75 106.75 0 0 0 26.208-27.188"/>
 *                </svg>
 *              </div>
 *            </a></li><!--
 *         --><li><a href="#" title="Share on Facebook">
 *              <div class="scaling-svg social-icon white">
 *                <canvas width="256" height="256"></canvas>
 *                <svg viewBox="0 0 256 256" class="social-icon white">
 *                  <path id="facebook-box" class="facebook-box" d="m14.129-2.5197e-6c-7.805 0-14.129 6.3248-14.129 14.129v227.74c0 7.8029 6.3239 14.131 14.129 14.131h122.61v-99.138h-33.361v-38.634h33.361v-28.492c0-33.066 20.193-51.072 49.691-51.072 14.128 0 26.272 1.0524 29.812 1.5234v34.554l-20.459 0.0113c-16.041 0-19.148 7.6226-19.148 18.808v24.668h38.26l-4.9824 38.634h-33.277v99.136h65.236c7.802 0 14.129-6.3278 14.129-14.131v-227.74c0-7.8039-6.3269-14.129-14.129-14.129z"/>
 *                  <path id="facebook-f" class="facebook-f" d="m136.74 256v-99.139h-33.361v-38.635h33.361v-28.492c0-33.066 20.193-51.072 49.691-51.072 14.128 0 26.272 1.0524 29.812 1.5234v34.555l-20.459 0.0113c-16.041 0-19.148 7.6226-19.148 18.809v24.668h38.26l-4.9824 38.635h-33.277v99.137z"/>
 *                </svg>
 *              </div>
 *            </a></li>
 *          </ul>
 *        </div><!--
 *     --><time datetime="2049-09-15" class="date">September 15, 2049</time>
 *      </div>
 *    </header>
 *    <section class="text white-box fixie"></section>
 *    <div id="disqus_thread" class="white-box">COMMENT SECTION</div>
 *  </article>
 *  ```
 */

.article
  @media screen and (max-width: 50em) //800px
    margin: 0 -$gutter-width
  > header
    margin: 0 $gutter-width
    position: relative
  h1
    font-size: 1.5em
    @media screen and (min-width: 50em) //800px
      font-size: 2em
    font-style: italic
    font-weight: bold
    text-align: left
    @media screen and (min-width: 22em) // 352px
      text-align: center
  .meta
    white-space: nowrap
    > *
      display: block
      margin: .5em 0
    @media screen and (min-width: 22em) // 352px
      > *
        display: inline-block
        vertical-align: middle
      > .social
        width: 60%
      > .date
        width: 40%
      > :last-child
        text-align: right
  .meta
    font-size: .8em
  .date
    opacity: .7
  .comments
    opacity: .7
    vertical-align: middle
    text-decoration: none
    &.hover
      opacity: 1
  .dash
    opacity: .7
  .sharing
    display: inline-block
    vertical-align: middle
    li
      display: inline-block
      vertical-align: middle
      a
        display: inline-block
        vertical-align: middle
        font-size: 1.25em
        padding: .25em
        opacity: .7
        &.hover
          opacity: 1
  #disqus_thread
    margin-top: $gutter-width
  #disqus_link
    text-align: right
    font-size: .8em
    a
      opacity: .7
      &.hover
        opacity: 1