@import "variables"

/*
 *  Page Elements
 *  =============
 *
 *  Header
 *  ------
 *
 *  ```
 *  !responsive
 *
 *  <header>
 *    <div class="logo-nav">
 *      <div class="logo">
 *        <a href="/" title="Go to start page">
 *          <svg id="logo-christopheraue" aria-labelledby="logo-christopheraue-title" role="img" version="1.1" viewBox="0 0 436 76" xmlns="http://www.w3.org/2000/svg">
 *            <title id="logo-christopheraue-title">Christopher Aue</title>
 *            <desc id="logo-christopheraue-desc">A row of 11 squares with the letters C, H, R, I, S, T, O, P, H, E, R punched into them and below a row of 3 squares with the letters A, U, E punched into them</desc>
 *            <path id="logo-christopheraue-path" d="m400 0v36h36v-36zm15.82 8.5078c2.808 2e-4 4.9746 0.47758 6.4687 1.4766 1.494 0.999 2.25 2.6048 2.25 4.7108 0 1.3139-0.31106 2.3452-0.91404 3.1642-0.60321 0.81894-1.4677 1.5008-2.6015 1.9688 0.37796 0.46805 0.78146 0.94397 1.1952 1.5468 0.41394 0.60291 0.79023 1.2416 1.1952 1.8986 0.40516 0.65673 0.81728 1.3278 1.1952 2.039 0.37795 0.71086 0.73066 1.4252 1.0546 2.1092h-4.711c-0.34167-0.61198-0.70359-1.198-1.0546-1.828-0.35112-0.62997-0.68545-1.2341-1.0546-1.8282-0.36888-0.59399-0.76528-1.1564-1.1249-1.6874-0.35982-0.53095-0.69438-1.045-1.0546-1.4767h-2.1094v6.8204h-4.2187v-18.422c0.91842-0.17991 1.902-0.27954 2.8828-0.3515 0.98086-0.0726 1.8276-0.13908 2.6016-0.14211zm-0.56255 3.586c-0.24302 0.0212-0.48741 0.0514-0.70314 0.0695v5.0626h1.1952c1.5843 1.9e-4 2.6911-0.166 3.375-0.56255 0.68379-0.39534 1.0545-1.0846 1.0546-2.0388-4e-5 -0.91797-0.3617-1.5818-1.0546-1.9688-0.69301-0.38702-1.6732-0.56255-3.0235-0.56255-0.30576 0-0.60064-0.0212-0.84359 0zm-55.257-12.094v36h36v-36zm11.39 8.6487h12.586v3.5154h-8.3672v3.6562h7.4531v3.4454h-7.4531v4.5h9v3.5858h-13.219zm-51.39-8.6487v36h36v-36zm10.265 8.6487h4.2188v7.1014h7.0312v-7.1014h4.2187v18.703h-4.2187v-7.9452h-7.0312v7.9452h-4.2188zm-50.265-8.6487v36h36v-36zm16.453 8.5078c2.79 2e-4 4.9745 0.49588 6.4687 1.4766 1.4943 0.98086 2.25 2.5488 2.25 4.7812 0 2.25-0.80822 3.923-2.3202 4.9218-1.512 0.999-3.6607 1.4767-6.4687 1.4766h-1.336v6.2578h-4.2187v-18.422c0.91843-0.17991 1.9273-0.27954 2.9531-0.3515 1.0259-0.0726 1.8978-0.13909 2.6719-0.13909zm-0.63285 3.586c-0.29707 0.0197-0.55755 0.0514-0.77344 0.0695v5.4142h1.336c1.4578 0 2.5666-0.166 3.3046-0.56255 0.73806-0.39594 1.1249-1.17 1.1251-2.25-4e-5 -0.52188-0.0922-0.92342-0.2812-1.2657-0.18935-0.34228-0.49285-0.63708-0.84359-0.84374-0.35112-0.20682-0.76165-0.34092-1.2657-0.4218-0.50404-0.0816-1.0755-0.13909-1.6875-0.13909-0.30576 0-0.61697-0.0197-0.91404 0zm-55.82-12.094v36h36v-36zm18 8.2264c1.2784 2e-4 2.4519 0.21876 3.5859 0.633 1.1342 0.41408 2.1775 1.0005 3.0235 1.828 0.84586 0.82771 1.4828 1.8788 1.9687 3.0938 0.48589 1.2149 0.70299 2.6164 0.70314 4.2188-4e-5 1.6018-0.22602 3.0038-0.70314 4.2188-0.47683 1.2149-1.1407 2.2048-1.9687 3.0236-0.82817 0.81834-1.81 1.484-2.9532 1.8982-1.1431 0.41409-2.3422 0.56255-3.6562 0.56255-1.2778 0-2.4519-0.14816-3.586-0.56255-1.134-0.41424-2.1775-1.0797-3.0234-1.8982-0.84586-0.8188-1.4826-1.8086-1.9688-3.0236-0.48619-1.2149-0.70299-2.617-0.70299-4.2188 0-1.6024 0.19881-3.0038 0.70299-4.2188 0.50404-1.2149 1.184-2.266 2.0391-3.0938 0.85508-0.82757 1.8984-1.4138 3.0234-1.828 1.1251-0.41424 2.2736-0.63285 3.5156-0.633zm0 3.6564c-0.7916 2e-4 -1.497 0.19608-2.1094 0.49225-0.61228 0.29691-1.124 0.66444-1.5469 1.1952-0.42301 0.53095-0.75954 1.2217-0.98449 1.9688-0.22451 0.74729-0.3515 1.5608-0.3515 2.461 0 0.91797 0.12699 1.723 0.3515 2.461 0.22488 0.73806 0.56133 1.3674 0.98449 1.8984 0.42285 0.53095 0.9346 0.97769 1.5469 1.2657 0.61229 0.28815 1.3178 0.4218 2.1094 0.4218 0.77404 0 1.4884-0.13455 2.1094-0.4218 0.62105-0.288 1.1239-0.73459 1.5468-1.2657 0.42285-0.53094 0.75923-1.1605 0.98449-1.8984 0.22526-0.73807 0.35149-1.543 0.35149-2.461 0-0.91843-0.12699-1.7844-0.35149-2.5312-0.22526-0.74683-0.56134-1.3673-0.98449-1.8986-0.42286-0.53095-0.92584-0.90739-1.5468-1.1952-0.62105-0.2877-1.3354-0.4921-2.1094-0.49225zm-58-11.883v36h36v-36zm10.265 8.6487h15.469v3.5858h-5.625v15.117h-4.2187v-15.117h-5.625zm-50.265-8.6487v36h36v-36zm18.422 8.2264c1.2602 2e-4 2.3162 0.15194 3.2344 0.4221 0.91812 0.27016 1.6561 0.52022 2.25 0.84359l-1.1952 3.3046c-0.52188-0.27016-1.119-0.49617-1.7578-0.70299-0.63889-0.20681-1.42-0.28135-2.3203-0.28135-1.0081 0-1.6686 0.14363-2.1094 0.42195-0.44084 0.27878-0.70299 0.68939-0.70299 1.2657 0 0.34227 0.11943 0.60986 0.2812 0.84374 0.16176 0.23403 0.33562 0.44372 0.63284 0.63269 0.29707 0.18989 0.66762 0.4097 1.0546 0.56255 0.38702 0.1539 0.79763 0.25973 1.2657 0.42194 0.97164 0.35982 1.8111 0.77375 2.5312 1.1251 0.72023 0.35105 1.3513 0.72719 1.8282 1.1952 0.47682 0.46806 0.82061 0.98721 1.0546 1.6174 0.23402 0.62997 0.35164 1.4204 0.35164 2.3202 0 1.7462-0.60427 3.115-1.8281 4.078-1.2238 0.96288-3.0888 1.4064-5.5547 1.4064-0.82832 0-1.5839-0.0423-2.25-0.13908-0.6661-0.0998-1.245-0.20788-1.7578-0.35165-0.51281-0.14362-0.96681-0.25973-1.3358-0.42195-0.36918-0.16191-0.66187-0.34817-0.91404-0.49224l1.1952-3.375c0.55801 0.30599 1.22 0.6008 2.0391 0.84375 0.81895 0.24294 1.8353 0.35179 3.0234 0.35179 0.59384 0 1.0896-0.0423 1.4764-0.14211 0.38702-0.0983 0.68001-0.25081 0.91404-0.42164 0.23403-0.16993 0.40199-0.32867 0.49225-0.56239 0.0907-0.23449 0.14059-0.4853 0.14059-0.7736-1e-5 -0.61198-0.26759-1.1422-0.84389-1.547-0.57615-0.40456-1.5496-0.86793-2.9531-1.3358-0.61258-0.21649-1.2866-0.42421-1.8984-0.70314-0.61198-0.27847-1.1314-0.63163-1.6172-1.0546-0.48589-0.423-0.88939-0.94382-1.1952-1.547-0.30599-0.60322-0.4218-1.3156-0.4218-2.1798 0-0.864 0.16827-1.6976 0.49225-2.3904 0.32368-0.69287 0.74184-1.2719 1.3358-1.7578 0.59414-0.4859 1.3337-0.86385 2.1797-1.1251 0.84601-0.26124 1.821-0.35165 2.8828-0.3518zm-58.422-8.2264v36h36v-36zm15.891 8.6487h4.2187v18.703h-4.2187zm-15.891 31.351v36h36v-36zm11.391 8.6486h12.586v3.5154h-8.3672v3.6562h7.4531v3.4454h-7.4531v4.5h9v3.5858h-13.219zm-51.391-48.649v36h36v-36zm15.82 8.5078c2.8081 2e-4 4.9746 0.47758 6.4688 1.4766 1.4941 0.999 2.25 2.6048 2.25 4.7108-1e-5 1.3139-0.31083 2.3452-0.91404 3.1642-0.60321 0.81894-1.4678 1.5008-2.6016 1.9688 0.37795 0.46805 0.78145 0.94397 1.1952 1.5468 0.41394 0.60291 0.79023 1.2416 1.1952 1.8986 0.40502 0.65673 0.81729 1.3278 1.1952 2.039 0.37795 0.71086 0.73066 1.4252 1.0546 2.1092h-4.7109c-0.34182-0.61198-0.7036-1.198-1.0546-1.828-0.35105-0.62997-0.68546-1.2341-1.0546-1.8282-0.36919-0.59399-0.76528-1.1564-1.1251-1.6874-0.35981-0.53095-0.69438-1.045-1.0546-1.4767h-2.1094v6.8204h-4.2186v-18.422c0.91842-0.17991 1.902-0.27954 2.8828-0.3515 0.98086-0.0726 1.8276-0.13908 2.6016-0.13908zm-0.56239 3.586c-0.2431 0.0197-0.48726 0.0514-0.70314 0.0695v5.0624h1.1952c1.5842 2e-4 2.6911-0.166 3.375-0.56239 0.68379-0.39564 1.0546-1.0847 1.0546-2.039-1e-5 -0.91797-0.36177-1.5818-1.0546-1.9688-0.69287-0.38702-1.6732-0.56239-3.0235-0.56239-0.30599 0-0.60079-0.0197-0.84374 0zm-15.258 27.906v36h36v-36zm10.336 8.4376h4.2187v11.25c0 0.75561 0.11036 1.4376 0.2812 1.9686 0.17084 0.53095 0.40592 0.93234 0.70299 1.2657 0.29707 0.33336 0.63179 0.55907 1.0546 0.70315 0.42301 0.14362 0.90255 0.21104 1.4063 0.21104 1.0261 0 1.8221-0.28406 2.4609-0.91419 0.63889-0.62997 1.281-1.7518 0.98449-3.2342v-11.25h4.2187v11.601c-2e-5 1.0983-0.18611 2.1056-0.49225 3.0236-0.30599 0.91782-0.77616 1.7336-1.4063 2.3906-0.63012 0.65704-1.4187 1.1868-2.3906 1.5468-0.97209 0.36011-2.1138 0.49209-3.4453 0.4924-1.3139-4e-4 -2.4208-0.19397-3.375-0.56255-0.9541-0.36918-1.7696-0.81955-2.3906-1.4766-0.62105-0.65703-1.1094-1.4819-1.4063-2.3906-0.29692-0.90875-0.21286-1.9456-0.4218-3.0236zm-50.336-48.438v36h36v-36zm10.266 8.6487h4.2187v7.1014h7.0313v-7.1014h4.2187v18.703h-4.2187v-7.9452h-7.0313v7.9452h-4.2187zm-10.266 31.351v36h36v-36zm15.961 8.6486h4.0781c0.61198 1.2958 1.1638 2.5784 1.7578 3.9374 0.59414 1.359 1.2252 2.777 1.8281 4.289 0.60291 1.512 1.198 3.1414 1.8281 4.8514 0.63012 1.7102 1.337 3.6092 2.0391 5.625h-4.5703c-0.1985-0.64796-0.39005-1.3547-0.63284-2.0388-0.2428-0.68394-0.46927-1.3552-0.70299-2.039h-7.3125c-0.23403 0.68379-0.46035 1.3549-0.70314 2.039-0.2428 0.68395-0.43449 1.3909-0.63284 2.0388h-4.4297c0.70193-2.0158 1.4093-3.9148 2.0391-5.625 0.62982-1.71 1.225-3.3394 1.8281-4.8514 0.60321-1.512 1.1729-2.93 1.7578-4.289 0.58492-1.359 1.198-2.6416 1.8281-3.9374zm1.9687 4.2188c-0.09071 0.27016-0.24204 0.65658-0.4218 1.1251-0.17975 0.46791-0.39882 1.005-0.63284 1.617-0.23403 0.61199-0.49436 1.2308-0.77344 1.9688-0.27908 0.73806-0.55589 1.51-0.84374 2.3204h5.3437c-0.28785-0.81033-0.57373-1.5824-0.84374-2.3204-0.27001-0.73807-0.53034-1.3567-0.77344-1.9688-0.2431-0.61198-0.45279-1.1493-0.63284-1.617-0.1799-0.46851-0.31355-0.85478-0.4218-1.1251zm-57.93-52.867v36h36v-36zm19.758 8.2264c0.79204 2e-4 1.5318 0.0242 2.1797 0.13909 0.64796 0.11792 1.2013 0.26865 1.6875 0.4218 0.4862 0.15405 0.87156 0.33048 1.1952 0.49224 0.32383 0.16192 0.55861 0.2617 0.70299 0.35165l-1.1952 3.4454c-0.57615-0.30599-1.2742-0.6277-2.0391-0.84374-0.76498-0.21619-1.6298-0.2812-2.6016-0.2812-0.64826 0-1.2775 0.0665-1.8984 0.2812-0.62105 0.21619-1.1402 0.57766-1.6172 1.0546-0.47713 0.47728-0.90754 1.0723-1.1952 1.8282-0.28785 0.75591-0.4218 1.7326-0.4218 2.8126-1.5e-5 0.864 0.09222 1.6434 0.2812 2.3904 0.18882 0.74729 0.49119 1.3585 0.91404 1.8986 0.42285 0.54002 1.0037 1.0208 1.6875 1.336 0.68379 0.31491 1.4885 0.42179 2.4609 0.42149 0.61198 1.9e-4 1.2016 2e-3 1.6875-0.0695 0.4859-0.0726 0.88743-0.18202 1.2657-0.28119 0.37826-0.0998 0.69649-0.22541 0.98434-0.3515 0.2877-0.12548 0.53942-0.244 0.77344-0.3518l1.1952 3.375c-0.59384 0.35981-1.4513 0.69618-2.5313 0.98449-1.0799 0.28815-2.3044 0.42194-3.7266 0.42194-3.0421 0-5.3679-0.8392-6.961-2.5314-1.593-1.6922-2.3906-4.0582-2.3906-7.1718 0-1.5484 0.2171-2.9336 0.70314-4.1486 0.4862-1.2147 1.1931-2.2564 2.0391-3.0936 0.84601-0.83694 1.8534-1.4663 3.0234-1.8984 1.17-0.43192 2.4291-0.63284 3.7969-0.63299z" stroke-width="0"/>
 *          </svg>
 *        </a>
 *      </div>
 *      <nav class="nav js-hover-follow-touch">
 *        <ul>
 *          <li>
 *            <h1 class="nav-item collateral">
 *              <svg id="slash-collateral" class="slash-text" aria-labelledby="slash-collateral-title" role="img" version="1.1" viewBox="0 0 342.06 85.019" xmlns="http://www.w3.org/2000/svg">
 *                <title id="slash-collateral-title">/collateral</title>
 *                <desc id="slash-collateral-desc">The text "/collateral" written by hand</desc>
 *                <path id="slash-collateral-path" d="m331.3 4.6298c0.168 16.773 0.0281 33.804-0.0281 50.771-0.0211 4.9146 4.9895 4.7334 7.9643 2.58m-47.349-20.409c2.3904-2.157 6.3342-4.8579 10.382-4.7472 4.1188 0.12 9.7683 0.369 12.129 2.865 5.5434 5.8308 5.2788 18.854 1.2261 21.624-5.8702 4.0119-24.254 3.9129-24.355-3.8805-0.057-4.3395 3.2789-5.5713 7.3013-5.7015 4.0227-0.15 10.38-0.15 14.103-0.3m-53.78 12.225c0.027-9.3288 0.4809-19.921 0.225-27.577 3.6219 2.79 7.8063 3.6639 12.582 3.7083 5.2603 0.06 8.1418-2.022 9.4387-2.919m-56.137 12.926c6.713 1.044 15.59 2.067 18.801-1.878 1.3443-1.653-0.025-5.811-1.0293-7.1364-3.595-4.7454-9.1316-5.2479-15.012-3.8229-7.5614 1.833-11.988 15.72-5.066 23.977 3.4858 4.158 16.733 3.2805 21.934 0.615m-55.59-24.755c7.7256-0.21 15.298-0.06 21.702 0.06m-10.431-29.624c0.114 20.637-0.294 36.423-0.3036 55.744m-47.91-23.646c4.8565-3.1206 14.355-2.931 20.045-2.337 2.1201 0.24 6.1314 3.1557 6.5302 5.346 1.0179 5.595 0.3459 8.7096-0.6441 15.612-0.3207 2.226-1.7601 4.7658-5.5581 5.3865-4.1939 0.684-7.9376 0.741-13.392 0.27-5.6483-0.489-10.395-9.0993-5.645-10.874 4.01-1.5 17.133-1.554 19.923 0.522m-40.476-46.169c-0.084 16.776-0.7113 35.822-0.6918 51.215 6e-3 4.9947 4.9023 6.2925 8.2706 3.5916m-26.775-55.063c-0.297 14.93-0.72 36.256-0.7056 51.742 6e-3 5.7882 4.8623 5.6721 8.1384 3.8181m-35.271-25.362c-6.1407 0.69-11.643 2.454-13.091 12.176-1.0149 6.8211-0.168 11.957 5.4529 13.409 5.923 1.53 15.497 0.879 18.532-4.335 2.7504-4.7271 4.1934-13.862-0.8043-18.615-2.3931-2.274-6.6221-3.0255-10.089-2.637zm-25.905 3.4611c-2.3172-2.043-5.5519-3.0414-8.6097-3.3219-1.2708-0.12-2.5842-0.3-3.8658-0.21-4.1461 0.306-9.0045 2.427-11.567 5.7984-2.0106 2.643-2.3424 6.0606-2.3424 9.2649 0 2.61 0.285 5.7285 1.9908 7.8402 2.4072 2.982 6.6303 3.4635 10.162 3.6966 4.7752 0.315 8.8662-0.24 12.768-3.0927 0.4134-0.303 1.0374-0.702 1.3191-1.089m-32.625-52.457c-2.3115 5.5323-4.7819 11.052-6.4439 16.822-4.4009 15.28-8.4781 30.638-13.236 45.994-1.3893 4.4823-2.7699 12.19-4.6855 16.459" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="5.5802"/>
 *              </svg><!--
 *           --><div class="arrow"></div>
 *            </h1>
 *          </li>
 *          <li>
 *            <a href="#" title="Go to /design" class="nav-item design">
 *              <svg id="slash-design" class="slash-text" aria-labelledby="slash-design-title" role="img" version="1.1" viewBox="0 0 283.12 85" xmlns="http://www.w3.org/2000/svg">
 *                <title id="slash-design-title">/design</title>
 *                <desc id="slash-design-desc">The text "/design" written with a monospaced font</desc>
 *                <path id="slash-design-path" d="m249.14 63.579h5.2282l4.3339-21.601c4.609-5.0906 9.2181-8.1174 13.69-8.1174 3.4396 0 5.297 1.8574 5.297 5.1594 0 1.5134-0.20639 2.958-0.61913 4.6778l-3.9899 19.881h5.297l4.1275-20.431c0.34396-1.8574 0.61913-3.5772 0.61913-5.5033 0-5.0218-2.6829-8.3238-8.599-8.3238-5.9849 0-11.007 3.646-14.997 7.6359h-0.27516l0.82549-6.8104h-4.2651zm-29.898 14.928c8.3926 0 15.341-3.8523 17.198-13.208l7.0168-35.153h-4.1963l-1.3758 4.1963h-0.27517c-1.8574-3.0268-5.5033-5.0218-10.25-5.0218-9.9748 0-18.161 9.6996-18.161 21.463 0 7.9798 4.5403 12.52 11.626 12.52 4.2651 0 8.6678-2.2013 11.901-5.3657h0.27517l-1.5134 7.0855c-1.4446 6.4664-6.26 9.1493-12.176 9.1493-3.7148 0-7.6359-1.2382-10.319-3.5772l-2.4765 3.7835c3.0268 2.4077 7.2231 4.1275 12.726 4.1275zm3.1644-19.606c-4.8842 0-7.7735-2.8892-7.7735-8.9429 0-8.6678 6.1224-16.235 13.346-16.235 3.302 0 6.26 1.5134 8.599 5.0218l-3.0268 14.24c-3.5084 3.7835-7.4983 5.9161-11.144 5.9161zm-34.369 5.5033c3.646 0 6.3288-0.89429 9.1493-2.2013l-1.2382-3.9899c-2.4077 1.1007-4.3339 1.7886-6.3976 1.7886-3.0268 0-5.1594-1.4446-5.1594-4.953 0-0.68791 0.13755-1.3758 0.27516-2.2013l5.0218-22.701h-17.473l-0.89429 4.2651h12.245l-3.9899 17.955c-0.34395 1.307-0.55034 2.5453-0.55034 3.646 0 5.5033 3.7148 8.3926 9.0117 8.3926zm-0.34397-41.344c2.6141 0 4.8154-2.0637 4.8154-4.7466 0-2.3389-1.5822-3.646-3.9899-3.646-2.5453 0-4.7466 2.1325-4.7466 4.7466 0 2.3389 1.7198 3.6459 3.9211 3.6459zm-46.201 41.344c7.8422 0 14.102-2.8892 14.102-10.112 0-5.4346-4.3339-7.6359-10.594-9.7684-5.3658-1.8574-8.255-3.2332-8.255-6.3288 0-2.958 2.6141-4.7466 6.948-4.7466 4.953 0 8.8053 2.2013 11.557 4.5403l2.958-3.2332c-2.8204-2.8204-7.5671-5.4345-13.965-5.4345-6.8104 0-12.52 3.0956-12.52 9.4932 0 4.609 3.0956 7.4295 10.044 9.7684 5.5721 1.8574 8.8053 3.1644 8.8053 6.3976 0 3.7148-3.4396 5.297-8.1174 5.297-4.8154 0-9.4245-1.651-12.726-5.3658l-3.0268 3.3708c3.2332 3.7148 9.0117 6.1225 14.79 6.1225zm-41.248 0c5.8473 0 11.075-2.2701 14.446-4.953l-1.995-3.5772c-3.0956 2.4765-7.0167 4.3339-11.419 4.3339-6.0537 0-10.044-3.7835-10.044-10.525 0-0.55032 0-1.0319 0.0688-1.5134h25.591c0.34395-0.89429 0.89428-3.646 0.89428-5.9849 0-7.4295-4.5402-12.864-12.726-12.864-10.112 0-19.055 8.5989-19.055 20.637 0 9.3557 5.5721 14.446 14.24 14.446zm4.5402-30.887c4.953 0 8.0486 3.2332 8.0486 8.4614 0 0.68791-0.0688 1.3758-0.20637 2.0637h-20.5c2.0637-6.4664 7.5671-10.525 12.658-10.525zm-49.366 30.887c4.3339 0 8.8053-2.3389 12.314-5.9161h0.27516l-0.55033 5.0906h4.3339l9.906-48.98h-5.297l-2.6141 13.07-1.1007 6.5352h-0.20638c-1.9262-2.958-5.3657-4.8842-10.112-4.8842-10.181 0-18.367 10.319-18.367 22.288 0 8.3238 4.5403 12.795 11.419 12.795zm1.651-4.4027c-4.6778 0-7.6359-2.958-7.6359-9.2181 0-8.9429 5.9849-17.06 13.621-17.06 3.1644 0 6.26 1.4446 8.5302 4.953l-3.0268 14.859c-3.646 4.1963-7.8422 6.4664-11.488 6.4664zm-57.07 14.584h4.953l34.465-59.849h-4.953z"/>
 *              </svg>
 *            </a>
 *          </li>
 *        </ul>
 *      </nav>
 *    </div>
 *  </header>
 *  ```
 */
$transition_time: 300ms

body > header
  text-align: center
  height: 2.5em
  font-size: 1.25em
  @media screen and (min-width: 32em) //512px
    font-size: 1em
  .logo-nav
    position: relative
    display: inline-block
    .logo
      display: inline-block
      vertical-align: top
      a
        display: inline-block
        height: 2.5em
        vertical-align: middle
        opacity: 0.85
        &.focused
          opacity: 1
      svg
        height: 100%
        pointer-events: none
        fill: white
        stroke: white
    .nav
      position: absolute
      z-index: 999999
      top: 35%
      right: -.5em
      height: 2.25em
      overflow: hidden
      text-align: right
      white-space: nowrap
      border-radius: .1em
      transition: font-size $transition_time ease, height $transition_time ease, right $transition_time ease
      cursor: pointer
      @media screen and (min-width: 50em) //800px
        position: relative
        display: inline-block
        right: 0
        margin-top: -.75em
        margin-left: -1.1em
        font-size: 1.5em
        text-align: left
      .nav-item
        display: block
        padding: .5em .5em .5em 1.25em
        transition: background $transition_time ease
        pointer-events: none
        svg
          display: inline-block
          vertical-align: top
          height: 1.25em
          pointer-events: none
          fill: white
          stroke: white
          transition: opacity $transition_time ease
        &.collateral svg
          width: 5.1em
        &.design svg
          width: 4em
      li + li
        .nav-item
          padding-right: 1.75em
      .arrow
        display: inline-block
        vertical-align: top
        position: relative
        top: 0
        right: 0
        width: 1.25em
        height: 1.25em
        pointer-events: none
        &:before
          content: ''
          display: block
          position: absolute
          top: 50%
          margin-top: -.15em
          left: 50%
          margin-left: -.35em
          width: 0
          height: 0
          border: .35em solid transparent
          border-top-color: white
          opacity: 1
          transform: rotate(0deg)
          transition: transform $transition_time ease, opacity 2*$transition_time ease
          transform-origin: 50% 15%
          @media screen and (min-width: 32em) //512px
            margin-left: -.275em
            border-width: .3em
      &.activated
        height: 4.5em
        font-size: 2em
        box-shadow: 0 0 5px rgba(0,0,0,0.5), 1px 1px 3px rgba(0,0,0,0.5)
        &:after
          content: ''
          display: block
          position: absolute
          top: 0
          left: 0
          right: 0
          bottom: 0
          pointer-events: none
          box-shadow: inset -.2em -.2em .5em rgba(0,0,0,0.04), inset .2em .2em .5em rgba(255,255,255,0.04)
        @media screen and (min-width: 32em) //512px
          font-size: 1.5em
        .nav-item
          pointer-events: auto
          &.collateral
            background: darken($collateral-dark, 5%)
            &.focused
              background: $collateral-dark
          &.design
            background: darken($design-dark, 5%)
            &.focused
              background: $design-dark
          svg
            opacity: 0.7
          &.focused
            svg
              opacity: 1
        .arrow:before
          transform: rotate(90deg)
          opacity: 0

/*
 *  Footer
 *  ------
 *
 *  ```
 *  !responsive
 *
 *  <footer>
 *    <p class="fixie"></p>
 *    <ul>
 *      <li><a href="mailto:hi@christopheraue.net" title="Write me letter!">
 *        <svg viewBox="0 0 256 179.2" class="social-icon white">
 *          <path id="mail-envelope" class="mail-envelope" d="m23.93 0c-9.3828 0-11.056 4.7688-3.6855 10.586l92.211 73.041c4.1813 3.3083 9.9425 4.7796 15.539 4.5039 5.5874 0.27553 11.35-1.1864 15.531-4.5039l92.211-73.041c7.3886-5.8171 5.7154-10.586-3.6582-10.586h-104.07zm-16.799 27.022c-4.2388-0.31401-7.1308 3.1411-7.1309 9.5918v125.52c0 9.3828 7.6818 17.064 17.064 17.064h221.87c9.3827 0 17.066-7.6817 17.066-17.064v-125.52c0-9.3828-6.121-12.426-13.602-6.7559l-100.77 76.506c-3.7679 2.8305-8.7027 4.2089-13.619 4.1445-4.9257 0.0639-9.8611-1.3232-13.629-4.1445l-100.79-76.506c-2.3377-1.7719-4.5421-2.6932-6.4688-2.8359z" />
 *        </svg>
 *      </a></li><!--
 *   --><li><a href="https://twitter.com/christopheraue" title="My Twitter profile">
 *        <svg viewBox="0 0 255.3 208.05" class="social-icon white">
 *          <path id="twitter-bird" class="twitter-bird" d="m256 24.628c-9.42 4.177-19.542 7-30.166 8.27 10.845-6.5 19.172-16.793 23.093-29.057a105.18 105.18 0 0 1-33.351 12.745c-9.581-10.207-23.23-16.586-38.337-16.586-29.006 0-52.523 23.516-52.523 52.52 0 4.117 0.465 8.125 1.36 11.97-43.65-2.191-82.35-23.1-108.26-54.876-4.52 7.757-7.11 16.78-7.11 26.404 0 18.222 9.273 34.297 23.365 43.716a52.312 52.312 0 0 1-23.79-6.57c-3e-3 0.21997-3e-3 0.44001-3e-3 0.661 0 25.447 18.104 46.675 42.13 51.5a52.592 52.592 0 0 1-23.718 0.90002c6.683 20.866 26.08 36.05 49.062 36.475-17.975 14.086-40.622 22.483-65.228 22.483-4.24 0-8.42-0.24907-12.529-0.73399 23.243 14.902 50.85 23.597 80.51 23.597 96.607 0 149.43-80.031 149.43-149.44 0-2.278-0.05-4.543-0.15201-6.795a106.75 106.75 0 0 0 26.208-27.188"/>
 *        </svg>
 *      </a></li><!--
 *   --><li><a href="https://github.com/christopheraue" title="My Github profile">
 *        <svg viewBox="0 0 256 249.68" class="social-icon white">
 *          <path id="github-octocat" class="github-octocat" d="m128 0c-70.684 0-128 57.307-128 128 0 56.554 36.676 104.54 87.535 121.46 6.397 1.185 8.746-2.777 8.746-6.158 0-3.052-0.11981-13.135-0.17386-23.83-35.61 7.742-43.124-15.103-43.124-15.103-5.823-14.795-14.213-18.73-14.213-18.73-11.613-7.944 0.87601-7.78 0.87601-7.78 12.853 0.90202 19.621 13.19 19.621 13.19 11.417 19.568 29.945 13.911 37.249 10.64 1.149-8.272 4.466-13.92 8.127-17.116-28.431-3.236-58.318-14.212-58.318-63.258 0-13.975 5-25.394 13.188-34.358-1.329-3.224-5.71-16.242 1.24-33.874 0 0 10.749-3.44 35.21 13.121 10.21-2.836 21.16-4.258 32.038-4.307 10.878 0.0491 21.837 1.47 32.066 4.307 24.431-16.56 35.165-13.12 35.165-13.12 6.967 17.63 2.584 30.65 1.255 33.873 8.207 8.964 13.173 20.383 13.173 34.358 0 49.163-29.944 59.988-58.447 63.157 4.591 3.972 8.682 11.762 8.682 23.704 0 17.126-0.14815 30.91-0.14815 35.126 0 3.407 2.304 7.398 8.792 6.14 50.831-16.943 87.461-64.906 87.461-121.44 0-70.695-57.309-128-128-128zm-80.06 182.34c-0.28195 0.63599-1.283 0.827-2.194 0.39001-0.92901-0.41703-1.45-1.284-1.15-1.922 0.2759-0.65503 1.279-0.838 2.205-0.399 0.92999 0.41797 1.46 1.293 1.139 1.931zm6.296 5.618c-0.61001 0.56598-1.804 0.30312-2.614-0.59101-0.83698-0.892-0.99398-2.086-0.37493-2.66 0.63001-0.56602 1.787-0.30085 2.626 0.591 0.838 0.90297 0.99999 2.088 0.36284 2.66zm4.32 7.188c-0.78501 0.54501-2.067 0.034-2.86-1.104-0.78403-1.138-0.78403-2.503 0.0189-3.05 0.79499-0.54698 2.058-0.0548 2.861 1.075 0.78202 1.157 0.78202 2.522-0.0189 3.08zm7.304 8.325c-0.70099 0.77401-2.196 0.56599-3.29-0.49001-1.119-1.032-1.43-2.496-0.72597-3.27 0.70999-0.77602 2.213-0.55801 3.315 0.48997 1.11 1.03 1.45 2.505 0.70099 3.27zm9.442 2.81c-0.30992 1.003-1.75 1.459-3.199 1.033-1.448-0.43899-2.395-1.613-2.103-2.626 0.30085-1.01 1.747-1.484 3.207-1.028 1.446 0.436 2.396 1.602 2.095 2.622zm10.744 1.193c0.0378 1.055-1.193 1.93-2.715 1.95-1.53 0.034-2.769-0.82-2.786-1.86 0-1.065 1.202-1.932 2.733-1.958 1.522-0.0302 2.768 0.818 2.768 1.868zm10.555-0.40502c0.18218 1.03-0.875 2.088-2.387 2.37-1.485 0.27099-2.861-0.3651-3.05-1.386-0.18406-1.056 0.89303-2.114 2.376-2.387 1.514-0.26305 2.868 0.35603 3.061 1.403z"/>
 *        </svg>
 *      </a></li><!--
 *   --><li><a href="https://www.youtube.com/channel/UCCX3-7hikDyXCowYRVRIY6A" title="All Collateral videos">
 *        <svg viewBox="0 0 256 180.36" class="social-icon white">
 *          <path id="youtube-box" class="youtube-box" d="m128 0s-80.052-4.9e-4 -100.02 5.3842c-11.015 2.9629-19.69 11.693-22.634 22.779-5.3483 20.093-5.3501 62.017-5.3501 62.017s0 41.922 5.3501 62.017c2.944 11.085 11.619 19.817 22.634 22.781 19.964 5.3833 100.02 5.3821 100.02 5.3821s80.054 9.8e-4 100.02-5.3821c11.017-2.9643 19.69-11.696 22.634-22.781 5.3498-20.096 5.3501-62.017 5.3501-62.017s-3e-4 -41.924-5.3501-62.017c-2.944-11.087-11.617-19.816-22.634-22.779-19.962-5.3847-100.02-5.3842-100.02-5.3842zm-26.182 52.116 66.909 38.066-66.909 38.062z"/>
 *          <path id="youtube-triangle" class="youtube-triangle" d="m101.82 52.116 66.909 38.066-66.909 38.062z"/>
 *        </svg>
 *      </a></li><!--
 *   --><li><a href="https://www.patreon.com/collateral" title="Keep Collateral alive!">
 *        <svg viewBox="0 0 256 245.5" class="social-icon white">
 *          <path id="patreon-circle" class="patreon-circle" d="m164.11 0.00102c-50.825 0-92.175 41.344-92.175 92.166 0 50.668 41.35 91.89 92.175 91.89 50.668 0 91.889-41.223 91.889-91.89 0-50.822-41.221-92.166-91.889-92.166"/>
            <path id="patreon-stem" class="patreon-stem" d="m0 0h45.005v245.5h-45.005z"/>
 *        </svg>
 *      </a></li>
 *    </ul>
 *    <address>Christopher Aue · Weseler Str. 30 · 48151 Münster · Germany</address>
 *    <p class="copyright">© 2018 Christopher Aue</p>
 *  </footer>
 *  ```
 */
body > footer
  max-width: 40em
  margin: 0 auto
  color: white
  text-align: center
  font-size: .6em
  line-height: 1.5
  &:before
    content: ''
    display: block
    width: 50%
    margin: 0 auto
    border-top: 1px solid white
    padding-top: 2em
    opacity: .7
  > *
    margin: 0 auto
    opacity: .7
  > * + *
    margin-top: 1em
  ul
    opacity: 1
    li
      display: inline-block
      vertical-align: middle
      a
        display: inline-block
        font-size: 2em
        opacity: .66
        padding: .5em
        &.focused
          opacity: 1

/*
 *  Article Lists
 *  -------------
 *
 *  ```
 *  !responsive
 *
 *  <section class="article-list columns-when-wide with-gutters">
 *      <div class="third">
 *          <h2>Section 1</h2>
 *      </div><!--
 *   --><nav class="two-thirds ensure-readability">
 *          <ul>
 *              <li>
 *                  <h3>Article Headline</h3>
 *                  <p>This is a description of the article. It may become longer than a single line.</p>
 *              </li>
 *              <li>
 *                  <h3>Article Headline</h3>
 *                  <p>This is a description of the article.</p>
 *              </li>
 *          </ul>
 *      </nav>
 *  </section>
 *  <section class="article-list columns-when-wide with-gutters">
 *      <div class="third">
 *          <h2>Section 2</h2>
 *      </div><!--
 *   --><nav class="two-thirds ensure-readability">
 *          <ul>
 *              <li>
 *                  <h3>This Is a Very Long Article Headline: Maybe With a Subtitle</h3>
 *                  <p>This is a description of the article.</p>
 *              </li>
 *              <li>
 *                  <h3>Article Headline</h3>
 *                  <p>This is a description of the article.</p>
 *              </li>
 *          </ul>
 *      </nav>
 *  </section>
 *  ```
 */
.article-list
  + .article-list
    margin-top: 2*$gutter-width
  h2
    font-size: 1.625em
    font-style: italic
    text-align: left
    margin-bottom: .75em
  h3
    font-weight: bold
  p
    opacity: 0.7
  li
    font-size: 1em
    line-height: 1.5
    + li
      margin-top: $gutter-width
    &.focused
      p
        opacity: 1
  @media screen and (min-width: 40em) //640px
    h2
      text-align: right
      font-size: 1.3em
    li
      font-size: .8em

/*
 *  Articles
 *  --------
 *
 *  ```
 *  !responsive
 *
 *  <article class="article ensure-readability">
 *    <header>
 *      <h1>This Is the Headline of an Article With an Interesting Topic</h1>
 *      <div class="meta">
 *        <div class="social">
 *          <a href="#" class="comments">5 Comments</a>
 *          <span class="dash">—</span>
 *          <ul class="sharing">
 *            <li><a href="#" title="Share on Twitter">
 *              <svg viewBox="0 0 255.3 208.05" class="social-icon white">
 *                <path id="twitter-bird" class="twitter-bird" d="m256 24.628c-9.42 4.177-19.542 7-30.166 8.27 10.845-6.5 19.172-16.793 23.093-29.057a105.18 105.18 0 0 1-33.351 12.745c-9.581-10.207-23.23-16.586-38.337-16.586-29.006 0-52.523 23.516-52.523 52.52 0 4.117 0.465 8.125 1.36 11.97-43.65-2.191-82.35-23.1-108.26-54.876-4.52 7.757-7.11 16.78-7.11 26.404 0 18.222 9.273 34.297 23.365 43.716a52.312 52.312 0 0 1-23.79-6.57c-3e-3 0.21997-3e-3 0.44001-3e-3 0.661 0 25.447 18.104 46.675 42.13 51.5a52.592 52.592 0 0 1-23.718 0.90002c6.683 20.866 26.08 36.05 49.062 36.475-17.975 14.086-40.622 22.483-65.228 22.483-4.24 0-8.42-0.24907-12.529-0.73399 23.243 14.902 50.85 23.597 80.51 23.597 96.607 0 149.43-80.031 149.43-149.44 0-2.278-0.05-4.543-0.15201-6.795a106.75 106.75 0 0 0 26.208-27.188"/>
 *              </svg>
 *            </a></li><!--
 *         --><li><a href="#" title="Share on Facebook">
 *              <svg viewBox="0 0 256 256" class="social-icon white">
 *                <path id="facebook-box" class="facebook-box" d="m14.129-2.5197e-6c-7.805 0-14.129 6.3248-14.129 14.129v227.74c0 7.8029 6.3239 14.131 14.129 14.131h122.61v-99.138h-33.361v-38.634h33.361v-28.492c0-33.066 20.193-51.072 49.691-51.072 14.128 0 26.272 1.0524 29.812 1.5234v34.554l-20.459 0.0113c-16.041 0-19.148 7.6226-19.148 18.808v24.668h38.26l-4.9824 38.634h-33.277v99.136h65.236c7.802 0 14.129-6.3278 14.129-14.131v-227.74c0-7.8039-6.3269-14.129-14.129-14.129z"/>
 *                <path id="facebook-f" class="facebook-f" d="m136.74 256v-99.139h-33.361v-38.635h33.361v-28.492c0-33.066 20.193-51.072 49.691-51.072 14.128 0 26.272 1.0524 29.812 1.5234v34.555l-20.459 0.0113c-16.041 0-19.148 7.6226-19.148 18.809v24.668h38.26l-4.9824 38.635h-33.277v99.137z"/>
 *              </svg>
 *            </a></li>
 *          </ul>
 *        </div><!--
 *     --><time datetime="2049-09-15" class="date">September 15, 2049</time>
 *      </div>
 *    </header>
 *    <section class="text white-box fixie"></section>
 *    <div id="disqus_thread" class="white-box">COMMENT SECTION</div>
 *  </article>
 *  ```
 */

.article
  @media screen and (max-width: 50em) //800px
    margin: 0 -$gutter-width
  > header
    margin: 0 $gutter-width
    position: relative
  h1
    font-size: 1.5em
    @media screen and (min-width: 50em) //800px
      font-size: 2em
    font-style: italic
    font-weight: bold
    text-align: left
    @media screen and (min-width: 22em) // 352px
      text-align: center
  .meta
    white-space: nowrap
    > *
      display: block
      margin: .5em 0
    @media screen and (min-width: 22em) // 352px
      > *
        display: inline-block
        vertical-align: middle
      > .social
        width: 60%
      > .date
        width: 40%
      > :last-child
        text-align: right
  .meta
    font-size: .8em
  .date
    opacity: .7
  .comments
    opacity: .7
    vertical-align: middle
    text-decoration: none
    &.focused
      opacity: 1
  .dash
    opacity: .7
  .sharing
    display: inline-block
    vertical-align: middle
    li
      display: inline-block
      vertical-align: middle
      a
        display: inline-block
        vertical-align: middle
        font-size: 1.25em
        padding: .25em
        opacity: .7
        &.focused
          opacity: 1
  #disqus_thread
    margin-top: $gutter-width
  #disqus_link
    text-align: right
    font-size: .8em
    a
      opacity: .7
      &.focused
        opacity: 1