@import "variables"

/*
 *  /technical Category
 *  ===================
 *
 *  Colors
 *  ------
 *
 *  Dark Color: #0F2319 (dark green)
 *
 *  Light Color: white
 *
 *  ```
 *  !bodyClass technical-category
 *
 *  <div style="padding: 1.25em">Light Text On Dark Background</div>
 *  <div class="white-box">Dark Text On Light Background</div>
 *  ```
 */
$light: white
$dark: rgb(15,35,25)

.technical-category
    background: $dark
    color: $light

    .white-box
        background: $light
        color: $dark

/*
 *  The Characteristic Font
 *  -----------------------
 *
 *  *Source Code Pro* is used more in this category to give it a tech-y feel.
 *  It has already been imported for code blocks in texts, but for this
 *  category an additional bold variant is imported too. The font is used for
 *  headlines or where else it fits.
 *
 *  ```
 *  <div class="white-box">
 *      <p style="font: 900 1em 'Source Code Pro'">Source Code Pro Black</p>
 *      <p style="font: 900 italic 1em 'Source Code Pro'">Source Code Pro Black Italic</p>
 *  </div>
 *  ```
 */
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,900')

/*
 *  Changes To an Article List
 *  --------------------------
 *
 *  Headings are displayed with this category's characteristic font.
 */
.technical-category
    .article-list
        h2, h3
            font-family: 'Source Code Pro', monospace

/*
 *  Changes To an Article
 *  ---------------------
 *
 *  An article's header is displayed with this category's characteristic font.
 */
.technical-category
    .article
        header
            font-family: 'Source Code Pro', monospace

/*
 *  Changes To Text
 *  ---------------
 *
 *  ### Headings and Captions
 *
 *  Rendered with this category's characteristic font.
 *
 *  ```
 *  !bodyClass technical-category
 *
 *  <div class="text white-box">
 *      <h2>Headline Level 2</h2>
 *      <h3>Headline Level 3</h3>
 *      <h4>Headline Level 4</h4>
 *      <h5>Headline Level 5</h5>
 *      <h6>Headline Level 6</h6>
 *  </div>
 *  ```
 */
.technical-category
    .text
        h2, h3, h4, h5, h6,
        table caption
            font-family: 'Source Code Pro', monospace

/*
 *  ### Inline Code
 *
 *  Colors are adjusted to match the colors of this category.
 *
 *  ```
 *  !bodyClass technical-category
 *
 *  <div class="text white-box">
 *      <p>This is an <code>inline code</code> fragment.</p>
 *  </div>
 *  ```
 */
.technical-category
    .text code
        background-color: rgba(15,35,25,0.075)

/*
 *  ### Code Blocks
 *
 *  Colors are adjusted to match the colors of this category.
 *
 *  ```
 *  !bodyClass technical-category
 *
 *  <div class="text white-box">
 *      <pre><code>&lt;div class="center-area"&gt;&#10; &nbsp;&lt;div class="centered"&gt;&lt;/div&gt;&#10;&lt;/div&gt;</code></pre>
 *  </div>
 *  ```
 */
.technical-category
    .text .highlight
        background-color: $dark
        color: $light