@import "variables"

/*
 *  Text
 *  ====
 *  To achieve the text formatting described on this page, the text must appear inside an element
 *  with the class `.text`.
 *
 *  The Fonts
 *  ---------
 *
 *  Regular text uses *Work Sans*.
 *
 *  ```
 *  <div class="white-box">
 *      <p style="font: 200 1em 'Work Sans'">Work Sans Light</p>
 *      <p style="font: 200 italic 1em 'Work Sans'">Work Sans Light Italic</p>
 *      <p style="font: 400 1em 'Work Sans'">Work Sans Regular</p>
 *      <p style="font: 400 italic 1em 'Work Sans'">Work Sans Regular Italic</p>
 *  </div>
 *  ```
 */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:200,400&subset=latin-ext')

/*
 *  Code uses *Source Code Pro*.
 *
 *  ```
 *  <div class="white-box">
 *      <p style="font: 200 1em 'Source Code Pro'">Source Code Pro Light</p>
 *      <p style="font: 200 italic 1em 'Source Code Pro'">Source Code Pro Light Italic</p>
 *      <p style="font: 400 1em 'Source Code Pro'">Source Code Pro Regular</p>
 *      <p style="font: 400 italic 1em 'Source Code Pro'">Source Code Pro Regular Italic</p>
 *  </div>
 *  ```
 */
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,400&subset=latin-ext')

/*
 *  Headings
 *  --------
 *
 *  ### Levels
 *  There are three visually distinct levels of sub headings in the body copy.
 *
 *  `<h1>` is used outside the running text as the top level headline.
 *
 *  ```
 *  <div class="text white-box">
 *      <h2>Headline Level Two</h2>
 *      <h3>Headline Level Three</h3>
 *      <h4>Headline Level Four</h4>
 *      <h5>Headline Level Five</h5>
 *      <h6>Headline Level Six</h6>
 *  </div>
 *  ```
 */
.text
    h2, h3, h4, h5, h6
        font-weight: bold
    h2
        font-size: 1.5em
        line-height: 1.2em
    h3
        font-size: 1.3em
    h4, h5, h6
        font-size: 1.1em

/*
 *  ### Spacings
 *
 *  Headings have a top margin to separate them from the preceding text. If there is no content
 *  before the heading, then there is also no margin. Headings also have a slight bottom margin.
 *  Elements following headings do not have a top-margin.
 *
 *  ```
 *  !responsive
 *
 *  <div id="content">
 *      <article class="text fixie white-box">
 *          <h2>No Content before this heading: No top margin. Slight bottom margin.</h2>
 *          <p>This paragraph has no top margin!</p>
 *          <h3>There is a paragraph before this level three heading. So, set a top margin, please.</h3>
 *          <h2>There is a heading before this level 2 heading. So, set a top margin, please. The margin is bigger than for level three.</h2>
 *          <img width="300" height="240"></img>
 *          <p>The image above has no top margin</p>
 *      </article>
 *  </div>
 *  ```
 */
.text
    h2, h3, h4, h5, h6
        margin: 0
        margin-bottom: .3333em
        //clear: both
        + *
            margin-top: 0 !important  //important is necessary, so this rule is not overwritten by something like * + p

    * + h2, * + section > h2
        margin-top: 1.6666em !important
    * + h3, * + section > h3,
    * + h4, * + section > h4,
    * + h5, * + section > h5,
    * + h6, * + section > h6
        margin-top: 2.5em !important

/*  Inline Elements
 *  ---------------
 *
 *  ### Regular Text
 *
 *  ```
 *  <div class="text white-box">
 *      This is plain and simple text.
 *  </div>
 *  ```
 */
.text
    font: 200 1em/1.5 'Work Sans'

/*
 *  ### Links
 *
 *  ```
 *  <div class="text white-box">
 *      This is a <a href="#">link</a>.
 *  </div>
 *  ```
 */
.text a
    text-decoration: underline
    color: inherit
    &:hover
        font-style: italic
        text-decoration: none

/*
 *  ### Emphasis
 *
 *  ```
 *  <div class="text white-box">
 *      <p>This is <em>emphasized text</em>.</p>
 *      <p>This is <strong>strong text</strong>.</p>
 *  </div>
 *  ```
 */
.text em
    font-style: italic

.text strong
    font-weight: 400

/*
 *  ### Inline Code
 *
 *  ```
 *  <div class="text white-box">
 *      <p>This is an <code>inline code</code> fragment.</p>
 *  </div>
 *  ```
 */
.text code
    font-family: 'Source Code Pro', monospace
    font-weight: 200
    white-space: nowrap
    background-color: rgba(0,0,0,0.1)
    border-radius: .2em
    padding: .1em .25em

/*
 *  Block Elements
 *  --------------
 *
 *  ### Paragraphs
 *
 *  ```
 *  <div class="text fixie white-box">
 *      <p></p>
 *      <p></p>
 *      <p></p>
 *  </div>
 *  ```
 *
 *  ### Lists
 *
 *  #### Unordered
 *
 *  ```
 *  <div class="text fixie white-box">
 *      <ul></ul>
 *  </div>
 *  ```
 */
.text ul
    list-style-type: square
    padding-left: 3em

/*
 *  #### Ordered
 *
 *  ```
 *  <div class="text fixie white-box">
 *      <ol></ol>
 *  </div>
 *  ```
 */
.text ol
    list-style-type: decimal
    padding-left: 3em

/*
 *  #### Margins Between Items
 *  Display no margin between items by default. Add margins between items, if the list item does
 *  contain a block element as first child. Works for ul and ol alike.
 *
 *  ```
 *  <div class="text fixie white-box">
 *      <ul>
 *          <li><p></p></li>
 *          <li><p></p></li>
 *          <li><p></p></li>
 *      </ul>
 *  </div>
 *  ```
 */
.text ul,
.text ol
    li + li
        margin-top: 0
        > :first-child
            margin-top: 1.5em

/*
 *  ### Quotes
 *
 *  ```
 *  <div class="text fixie white-box">
 *      <blockquote>
 *          <section><p></p><p></p></section>
 *          <footer>— Some Guy</footer>
 *      </blockquote>
 *  </div>
 *  ```
 */
.text blockquote
    padding: 0 1em
    font-style: italic
    footer
        margin-top: 0
        text-align: right
    *
        font-style: italic
    p:first-child:before
        content: '“'
    p:last-child:after
        content: '”'

/*
 *  ### Short Quotes
 *
 *  ```
 *  <div class="text fixie white-box">
 *      <blockquote class="short">
 *          <p></p>
 *          <footer>— Some Guy</footer>
 *      </blockquote>
 *  </div>
 *  ```
 */
.text blockquote.short
    background: transparent
    > *
        display: inline
    > p
        font-size: 1.5em
        &:before
            content: '“'
        &:after
            content: '”'

.text * + blockquote.short
    margin-top: 1em

/*
 *  ### Code Blocks
 *
 *  ```
 *  !responsive
 *
 *  <div class="text white-box">
 *      <pre><code>&lt;div class="center-area"&gt;&#10; &nbsp;&lt;div class="centered"&gt;&lt;/div&gt;&#10;&lt;/div&gt;</code></pre>
 *  </div>
 *  ```
 */
.text pre code
    display: block
    font-weight: 400
    white-space: pre
    line-height: 1.3
    padding: 1em
    border-radius: 0
    overflow: auto

/*
 *  ### Tables
 *
 *  ```
 *  <div class="text fixie white-box">
 *      <table>
 *          <caption>Table Caption</caption>
 *          <thead>
 *              <tr>
 *                  <th></th>
 *                  <th></th>
 *                  <th></th>
 *              </tr>
 *          </thead>
 *          <tbody>
 *              <tr>
 *                  <td></td><td></td><td></td>
 *              </tr>
 *              <tr>
 *                  <td></td><td></td><td></td>
 *              </tr>
 *              <tr>
 *                  <td></td><td></td><td></td>
 *              </tr>
 *          </tbody>
 *      </table>
 *  </div>
 *  ```
 */
.text table
    width: 100%
    caption
        font-size: 1em
        font-weight: bold
        line-height: 1.2em
        text-align: left
        margin-bottom: .3333em
    th, td
        padding: .5em
        vertical-align: top
        text-align: left
    th
        font-weight: normal
    th[rowspan]
        vertical-align: middle
    thead > tr
        > th
            vertical-align: bottom
        &:first-child
            th, td
                border-top: 0
    tbody > tr:nth-child(odd)
        th, td
            background-color: rgba(0,0,0,0.032)
        th[rowspan]
            background: transparent

/*
 *  ### Asides
 *
 *  ```
 *  <div id="content">
 *      <div class="text fixie">
 *          <aside>
 *              <header>Aside Title</header>
 *              <p></p>
 *          </aside>
 *      </div>
 *  </div>
 *  ```
 */
.text aside
    header
        background: #e79a0b
        padding: .8em
        color: white
        font: italic bold 1em/1 Ubuntu
    p
        margin: 0
        background-color: rgba(0,0,0,0.032)
        font-size: .8em
        padding: 1em

/*
 *  ### Combination of Block Elements
 *
 *  All block elements are separated from each other by one line-height.
 *
 *  ```
 *  <article class="text white-box fixie">
 *      <p></p>
 *      <blockquote class="short">
 *          <p></p>
 *          <footer>— Some Guy</footer>
 *      </blockquote>
 *      <p></p>
 *      <ul></ul>
 *      <p></p>
 *      <ol></ol>
 *      <p></p>
 *      <blockquote>
 *          <p></p>
 *          <p></p>
 *          <footer>— Some Guy</footer>
 *      </blockquote>
 *      <p></p>
 *      <table>
 *          <caption>Table Caption</caption>
 *          <thead>
 *              <tr>
 *                  <th></th>
 *                  <th></th>
 *                  <th></th>
 *              </tr>
 *          </thead>
 *          <tbody>
 *              <tr>
 *                  <td></td><td></td><td></td>
 *              </tr>
 *          </tbody>
 *      </table>
 *      <p></p>
 *      <aside>
 *          <header>Aside Title</header>
 *          <p></p>
 *      </aside>
 *      <p></p>
 *  </article>
 *  ```
 */
.text
    * + *
        margin-top: 1.5em
    section
        &:after
            content: ''
            display: block
            clear: both

@import "text-media"
@import "text-figures"