.design-ArticleNav
  max-width: 40em

.design-ArticleNav-Item
  margin-top: #{$vertical-rhythm}em
  &:first-child
    margin-top: 0

.design-ArticleNav-ItemTitle
  font-weight: 500
  font-style: italic

.design-ArticleNav-ItemSummary
  opacity: 0.7

.design-ArticleNav-Item.hover
  .design-ArticleNav-ItemSummary
    opacity: 1