<h1 class="home-Index-Logo">
  {% block root-Logo %}
</h1>

<a class="home-Index-Category design" href="/design" title="Go to /design">
  <div class="home-Index-DescContainer"><!--
 --><div class="home-Index-Desc">
      <div class="home-Index-SlashText">
        {% block root-SlashDesign %}
      </div>
      <div class="home-Index-SlashTextAnnotation">
        {% include_partial SlashDesignAnnotation.svg %}
      </div>
    </div>
  </div>
</a>

<a class="home-Index-Category collateral" href="/collateral" title="Go to /collateral">
  <div class="home-Index-DescContainer"><!--
 --><div class="home-Index-Desc">
      <div class="home-Index-SlashText">
        {% block root-SlashCollateral %}
      </div>
      <div class="home-Index-SlashTextAnnotation">
        {% include_partial SlashCollateralAnnotation.svg %}
      </div>
    </div>
  </div>
</a>